<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/cart.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
<div class="container1">
    <p style="font-size: 40px; font-weight: bold;">장바구니</p>
    <p>가격표</p>
</div>
<div style="background:#EFEFEF; padding-top: 10px; margin-top: 20px; padding-bottom: 200px">
    <div class="container2">
        <input type="checkbox" value="c" class="dd" onclick="selectAll(this)">
        <button type="button" id="selectAll">전체선택</button>
        <button type="button" class="delete">선택삭제</button>
    </div>
    <th:block th:each="cart : ${cartList}">
        <div class="container3">
            <input type="checkbox" class="productCode" th:value="${cart.product.code}">
            <img th:src="${cart.product.photo}" style="max-width: 1000px; height: 200px;">
            <div>
                <p id="name" th:text="${cart.product.name}"></p>
                <p th:text="|${cart.product.price}원 / ${cart.product.premiumPrice}원|"></p>
                <p th:text="${cart.product.price}" id="price" style="display: none"></p>
                <th:block th:if="${cart.useEco == 'Y'}"><span>천연세제 사용</span>
                    <button id="deleteEco" th:value="${cart.product.code}">x</button>
                </th:block>
                <br>
                <th:block th:if="${cart.usePremium == 'Y'}"><span>프리미엄케어 추가</span>
                    <button id="deletePremium" th:value="${cart.product.code}">x</button>
                </th:block>
                <br>

                <span id="code" th:text="${cart.product.code}" style="display: none"></span>
                <div class="gg" >
                    <input type="number" class="amount" MIN="1" max="99" value="1" th:value="${cart.amount}"><select>
                    <option selected>옵션선택</option>
                    <option>천연세제 사용</option>
                    <option>프리미엄케어</option>
                </select>
                    <span style="margin-left: 120px; font-size: 30px; font-weight: bold;" id="totalPrice"
                          th:text="${cart.product.price}*${cart.amount}"></span>
                </div>
            </div>
        </div>
    </th:block>

    <div class="total">
        <span>총 결제금액</span>
        <span id="final1" th:text="${#numbers.formatInteger(totalPrice,3,'COMMA')+'원'}"></span>
        <span>+</span>
        <span>배송비 3,000원</span>
        <span id="final2" th:text="|= ${#numbers.formatInteger(totalPrice+3000,3,'COMMA')}원|"></span>
        <input type="hidden" id="final3" th:value="${totalPrice}+3000">
        <button class="order">주문/결제</button>
    </div>
</div>
<script>
    const $amount = document.querySelectorAll(".amount");
    const $price = document.querySelectorAll("#totalPrice");
    const $finalPrice1 = document.querySelector("#final1");
    const $finalPrice2 = document.querySelector("#final2");
    const $finalPrice3 = document.querySelector("#final3");
    const $price2 = document.querySelectorAll("#price")
    const $productCode = document.querySelectorAll(".productCode")
    console.log($productCode);
    $amount.forEach((amount) => {
        amount.addEventListener("change", function () {
            const index = Array.from($amount).indexOf(this);
            $price[index].textContent = this.value * Number($price2[index].textContent);
            let totalprice = 0
            $price.forEach((i)=> totalprice += Number(i.textContent))
            $finalPrice1.textContent= totalprice.toLocaleString('ko-KR')+"원";
            $finalPrice2.textContent = totalprice + 3000;
            $finalPrice3.value = totalprice + 3000;
        })
    })
    $amount.forEach((amount)=>{
        amount.addEventListener("focusout",function(){
            const index = Array.from($amount).indexOf(this);
            fetch("/product/updateCart?amount=" + Number(this.value) + "&productCode=" + $productCode[index].value)
                .then(res => res.text())
                .then(res => console.log(res))
                .catch(error => console.log(error))
        })
    })

    const $box = document.querySelector(".dd"); //전체체크박스
    const $product = document.querySelectorAll(".product"); //
    const $prbt = document.querySelector("#selectAll");
    $prbt.addEventListener("click", function () {
        $box.checked = 'true';
        selectAll($box);
    })

    function selectAll(selectAll) {
        $product.forEach((box) => {
            box.checked = selectAll.checked;
        });
    }

    const $delete = document.querySelector(".delete");
    const $checkbox = document.querySelectorAll('.productCode');
    console.log($delete.dataset['cartNum']);
    $delete.addEventListener("click",function () {
        const checkCnt = document.querySelectorAll("input[class='productCode']:checked").length;
        console.log(checkCnt)
        if (checkCnt <= 0) {
            alert("선택된 상품이 없습니다.");
        }
        let code = []
        $checkbox.forEach((box) => {
            if (box.checked) {
                console.log(box.value);
                code.push(box.value);
            }
        });
        console.log(code);

        fetch("/product/deleteCart",{
            method:'POST',
            headers:{'Content-Type': 'application/json;charset=UTF-8'},
            body: JSON.stringify(code)
        })
            .then(res=>res.text())
            .then(res=>alert(res))
            .catch(error=>console.log(error));

    })

    const $deletePremium = document.querySelectorAll("#deletePremium");
    const $deleteEco = document.querySelectorAll("#deleteEco");

    $deletePremium.forEach((list)=>{
        list.addEventListener("click",function(){
            console.log(list.value);
            fetch("/product/deletePremium?code="+list.value)
                .then(res=>res.text())
                .then(res=>console.log(res))
                .catch(error=>console.log(error))
        })
    })

    $deleteEco.forEach((list)=>{
        list.addEventListener("click",function(){
            location.href='/product/deleteEco?code='+list.value;
        })
    })

    const $order = document.querySelector(".order");
    $order.onclick = function(){
        location.href = '/product/payment?totalPrice='+$finalPrice3.value
    }
</script>
</body>
</html>