<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/css/productRegist.css" rel="stylesheet" type="text/css">
    <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
</head>
<body>
<div th:replace="admin/common/nav.html"></div>
<span style="display: inline-block; margin-left: 300px; padding-top: 30px; font-weight: bold; font-size: 1.2rem">상품관리 > 카테고리 생성 </span><span style="display: inline-block; margin-left: 1100px; font-weight: bold; font-size: 1.2rem;"><a href="/user/member/logout">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></a></span>
<div class="ct"style="padding-top: 30px">
    <p class="asdasd">신규 상품 등록</p>
    <div style="width: 300px; margin-left: 80px; margin-bottom: 20px"></div>
    <div class="head"></div>
    <div class="ee">
        <p class="a"></p>
        <p class="b">기본정보</p>
    </div>
    <div class="info">
        <form class="insert" method="post" action="/product/registCategory">
            <table>
                <tr>
                    <td>신규 카테고리명</td>
                    <td><input type="text" name="name" style="border: solid 1px black"></td>
                </tr>
            </table>
            <div id="bts">
                <button type="submit" class="regist">등록하기</button>
                <button  type="button" class="rollback" style="cursor:pointer;" onclick="location.href='/product/categoryList'">취소하기</button>
            </div>
        </form>
    </div>
</div>

<script>
    const button = document.querySelector(".regist");
    const form = document.querySelector(".insert");
    button.onclick = function(){
        if(confirm("신규 카테고리를 등록 하시겠습니까?")){
            form.submit();
        }
    }
</script>
</body>

</html>