<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/productRegist.css" rel="stylesheet" type="text/css">
</head>
<body>
<p class="asdasd">신규 카테고리 등록</p>
<div class="head"></div>
<span class="a"></span>
<span class="b">기본정보</span>
<div class="info">
    <form class="insert" method="post" action="/product/categoryRegist">
        <table>
            <tr>
                <td>카테고리명</td>
                <td><input type="text" name="categoryName"></td>
        </table>
        <button type="submit" class="regist">등록하기</button>
        <button class="rollback">취소하기</button>
    </form>

</div>




</body>
</html>