<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
    <link href="/css/listAdmin.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Document</title>
    <script>
        const message = '[[${message}]]'
        message && alert(message);
    </script>
</head>

<body>
<div th:replace="admin/common/nav.html"></div>
<div class="naaav">
    <span style="display: inline-block; margin-left: 300px; padding-top: 30px; font-weight: bold; font-size: 1.2rem">상품관리 > 카테고리목록</span><span style="display: inline-block; margin-left: 1100px; font-weight: bold; font-size: 1.2rem;"><a href="/user/member/logout">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></a></span>

<div style="padding-top: 150px; font-weight: normal;">
<button  id="delete" class="but">카테고리삭제</button>
<button onclick="location.href='/product/categoryRegist'" class="but reg" style="margin-left: 275px">카테고리생성</button>

<table id="table" style="width: 500px">
    <tr style="height: 50px; background: #d2d2d7">
        <td></td>
        <td class="a"colspan="1">번호</td>
        <td class="a">카테고리이름</td>
    </tr>
    <tr th:each=" list : ${categoryList}" class="b">
        <td><input type="checkbox" class="checkbox" th:value="${list.code}"></td>
        <td th:text="${listStat.index +1}" class="a" style="text-align: center"></td>
        <td th:text="${list.code}" style="display: none;" class="code"></td>
        <td th:text="${list.name}" class="a"></td>
    </tr>
    <form style="display: none" action="/product/deleteCategory" method="post" id="form">
        <input type="hidden" id="input" name="codeList">
    </form>
</table>
</div>
</div>
<script>
    const $delete = document.querySelector("#delete");
    const input = document.querySelector("#input");
    const $checkbox = document.querySelectorAll(".checkbox");
    const productCode = []
    const form = document.querySelector("#form")
    $delete.onclick = function(){
        let choose = confirm("선택하신 카테고리를 삭제하시겠습니까?");
        if(choose){
            $checkbox.forEach((box,index)=>{
                if(box.checked){
                    productCode.push(box.value);
                    console.log(productCode)
                }
                input.value = productCode;
                form.submit();
            })
        }
    }
</script>
</body>

</html>