<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
보유쿠폰
<div th:each=" coupon : ${couponList}" style="border:1px solid black; margin-top: 5px">
    <input type="number" th:value="${coupon.code}" style="display: none" id="code">
    <p th:text="${coupon.name}"></p>
    <p th:text="${coupon.duration}"></p>
    <p th:text="${coupon.rate}" id="rate"></p>
    <button type="submit">사용</button>
</div>
<script>
    const button = document.querySelectorAll("button");
    const code = document.querySelectorAll("#code");
    const rate = document.querySelectorAll("#rate");
    console.log(button);
    console.log(code);
    console.log(rate);

    button.forEach((bt)=>bt.addEventListener("click",function() {
        const index = Array.from(button).indexOf(this)
        console.log(code[index].value);
        console.log(rate[index].textContent);
        opener.document.getElementById("usecoupon").value = code[index].value
        opener.document.getElementById("rate").value = rate[index].textContent
        window.close()
    }))

</script>
</body>
</html>