<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/couponList.css" rel="stylesheet" type="text/css">
    <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
</head>
<body>
<p class="maintag">보유쿠폰</p>
<p th:if="${#lists.size(couponList)} == 0" style="margin-left: 30px; margin-top: 30px">보유중인 쿠폰이 없습니다</p>
<div th:each=" coupon : ${couponList}" class="couponList">
    <input type="number" th:value="${coupon.code.cpCode}" style="display: none" id="code">
    <p th:text="${coupon.code.cpName}" id="name"></p>

    <p th:text="${coupon.code.cpRate}+'%'" id="rate"></p>
    <p th:text="${coupon.code.cpEdate}+'까지'" id="endDate"></p>
    <button type="submit" id="button">사용</button>
</div>
<script>
    const button = document.querySelectorAll("button");
    const code = document.querySelectorAll("#code");
    const rate = document.querySelectorAll("#rate");
    const name = document.querySelectorAll("#name");
    console.log(button);
    console.log(code);
    console.log(rate);

    button.forEach((bt)=>bt.addEventListener("click",function() {
        const index = Array.from(button).indexOf(this)
        console.log(code[index].value);
        console.log(rate[index].textContent);
        opener.document.getElementById("usecoupon").value = code[index].value
        opener.document.getElementById("rate").value = rate[index].textContent
        opener.document.getElementById("couponName").textContent = name[index].textContent
        window.close()
    }))

</script>
</body>
</html>