<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/productDetail.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>

<header>헤더</header>

<div class="page">

    <div class="container">
        <img src="/resource/images/tshirt.png">
        <div class="info">
            <p style="font-size: 30px;">티셔츠</p>
            <p style="font-size: 20px; margin-top: -30px;">2000원</p>

            <input type="checkbox" ><span class="cb">천연세제 사용</span>
            <br>
            <input type="checkbox" ><span class="cb">프리미엄케어</span>
            <br>


            <input type="number" id="input1" value="1">
            <span style="margin-left: 70px; font-size:30px;">2000원</span>
            <br>
            <div class="button1">
                <button class="bt">장바구니</button>
                <button class="bt">주문하기</button>
            </div>
        </div>
    </div>
</div>


<div class="page1">
    <span class="list1">다른상품보기</span>
    <div class="cover">
        <div class="ct">
            <span>&#60;</span>
            <img src="/resource/images/tshirt.png">
            <img src="/resource/images/tshirt.png">
            <img src="/resource/images/tshirt.png">
            <img src="/resource/images/tshirt.png">
            <span>&#62;</span>
        </div>
    </div>
</div>
</body>
</html>