<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/productList.css" rel="stylesheet" type="text/css">
    <title>Document</title>
    <script>
        const message = `[[${message}]]`
        message && alert(message);
    </script>
</head>
<body>
<div th:replace="user/common/header.html"></div>

<br>
<div id="productlist">
    <div id="page2">
    <div id="page1">
        <ul id="mainCategory">
            <li>&#60;</li>
            <li onclick="location.href='/product/list'">ALL</li>
            <th:block th:each="category : ${categoryList}">
                <li th:text="${category.name}"
                    th:onclick="'location.href=\'/product/list?searchCondition=' + @{${category.name}} + '\''"
                    id="categoryList9"></li>
            </th:block>
            <li>&#62;</li>
        </ul>
    </div>
    <div class="search">
        <form method="get" action="/product/list">
            <input type="text" name="searchValue" placeholder="상품명 입력">
            <button type="submit">검색</button>
        </form>
    </div>
    </div>
    <div id="container222">
        <nav id="subp">
            <div class="subcategory">
                <th:block th:each="category : ${categoryList}">
                    <p th:text="${category.name}" class="menu"></p>
                    <ul class="subproduct up">
                        <th:block th:each="product : ${allProduct}">
                            <li th:if="${product.category.name== category.name}" th:text="${product.name}"
                                th:onclick="'location.href=\'/product/detail?code=' + @{${product.code}} + '\' '"></li>
                        </th:block>
                    </ul>
                </th:block>
            </div>
        </nav>
        <div class="imgcontainer">
            <div th:each=" product : ${productList}"
                 th:onclick="|location.href='/product/detail?code=${product.code}'|">
                <img class="images" th:src="${product.photo}" width="200px" height="190px">
                <div class="product">
                    <p th:text="${product.name}"/>
                    <p th:text="${#numbers.formatInteger(product.price,3,'COMMA')}+'원'"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="user/common/footer.html"></div>
<script>
    const $subbar = document.querySelectorAll(".subproduct");
    const $menu = document.querySelectorAll(".menu");
    let subToggle = [true, true, true, true, true, true, true, true, true, true, true, true];
    $menu.forEach((menu) => {
        menu.addEventListener("click", function () {
            const index = Array.from($menu).indexOf(this);
            if (subToggle[index]) {
                $subbar[index].style.display = "block";
                $subbar[index].classList.remove("up");
                $subbar[index].classList.add("down");
                subToggle[index] = !subToggle[index];
            } else {
                $subbar[index].style.display = "none";
                $subbar[index].classList.add("up");
                $subbar[index].classList.remove("down");
                subToggle[index] = !subToggle[index];
            }
        })
    })

    const $categoryList = document.querySelector("#mainCategory")
    console.log($categoryList);

    $categoryList.onclick = function (e) {
        console.log(e.target);
        e.target.classList.add("focus")
    }


</script>
</body>
</html>