<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/css/listAdmin.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Document</title>
    <script>
        const message = '[[${message}]]'
        message && alert(message);
    </script>
</head>

<body>
<nav id="nav">
    <div class="manager">
        <img src="/static/images/notebook.png">
        <h2>관리자페이지</h2>
    </div>
    <div>
        <ul class="menu">
            <li class="box">
                <h4>회원관리</h4>
                <img id="fist-down" class="down1 down" src="/static/images/down.png">
                <ul class="member bar">
                    <li><a href="#">회원목록</a></li>
                    <li><a href="#">회원정보</a></li>
                    <li><a href="#">메시지발송</a></li>
                </ul>
            </li>
            <li class="box">
                <h4>상품관리</h4>
                <img id="second-down" class="down1 down" src="/static/images/down.png">
                <ul class="product bar">
                    <li><a href="/product/listAdmin">상품관리</a></li>
                    <li><a href="#">카테고리관리</a></li>
                </ul>

            </li>

            <li class="box">
                <h4>주문관리</h4>
                <img class="down1 down" src="/static/images/down.png">
                <ul class="order bar">
                    <li><a href="1_orderList.html">주문리스트</a></li>
                    <li><a href="2_complete-payment.html">결제완료</a></li>
                    <li><a href="3_collection-completed.html">수거완료</a></li>
                    <li><a href="4_laundry-complete.html">세탁완료</a></li>
                    <li><a href="5_preparing-delivery.html">배송준비</a></li>
                    <li><a href="6_delivery.html">배송중</a></li>
                    <li><a href="7_order-confirmed.html">배송완료</a></li>
                </ul>
            </li>

            <li class="box">
                <h4>취소/환불관리</h4>
                <img class="down2 down" src="/static/images/down.png">
                <ul class="cancell bar">
                    <li><a href="#">입금후취소</a></li>
                    <li><a href="#">환불요청</a></li>
                </ul>
            </li>

            <li class="box">
                <h4>정산관리</h4>
                <img class="down1 down" src="/static/images/down.png">
                <ul class="calculate bar">
                    <li><a href="#">정산내역</a></li>
                </ul>
            </li>

            <li class="box">
                <h4>게시판관리</h4>
                <img class="down3 down" src="/static/images/down.png">
                <ul class="board bar">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">자주하는질문</a></li>
                    <li><a href="#">1:1 문의하기</a></li>
                    <li><a href="#">새해해라이프</a></li>
                </ul>
            </li>

            <li class="box">
                <h4>통계분석</h4>
                <img class="down1 down" src="/static/images/down.png">
                <ul class="statistics bar">
                    <li><a href="#">회원통계</a></li>
                    <li><a href="#">일별주문통계</a></li>
                    <li><a href="#">일별취소통계</a></li>
                    <li><a href="#">일별환불통계</a></li>
                </ul>
            </li>

            <li class="box last_box">
                <h4>서비스관리</h4>
                <img class="down3 down" src="/static/images/down.png">
                <ul class="service bar">
                    <li><a href="#">쿠폰관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<header>
    <h3>상품관리 &gt 상품관리</h3>
    <h3 id="login">로그인(로그아웃)</h3>
</header>
<button style="margin-left: 1110px;" id="delete">선택삭제</button>
<button onclick="location.href='/product/productRegist'" style="margin-left: 1110px;">상품등록</button>
<table style="margin-left: 400px; line-height: 50px; font-size: 20px;">
    <tr>
        <td></td>
        <td class="a"colspan="1">번호</td>
        <td class="a">이미지</td>
        <td class="a">상품 이름</td>
        <td class="a">카테고리</td>
        <td class="a">일반 가격</td>
        <td class="a" colspan="2">프리미엄 가격</td>
    </tr>
    <tr th:each=" list : ${productList}" class="b">
        <td><input type="checkbox" class="checkbox"></td>
        <td th:text="${listStat.index +1}" class="a" style="text-align: center"></td>
        <td th:text="${list.code}" style="display: none;" class="code"></td>
        <td class="a"><img th:src="${list.photo}" width="70px;"></td>
        <td th:text="${list.name}" class="a"></td>
        <td th:text="${list.category.name}" class="a"></td>
        <td th:text="${#numbers.formatInteger(list.price,3,'COMMA')}"colspan="2" class="a"></td>
        <td th:text="${#numbers.formatInteger(list.premiumPrice,3,'COMMA')}" class="a"></td>
        <td class="a"><button th:onclick="|location.href='/product/productModify?code=${list.code}'|">수정</button></td>
    </tr>
</table>

<script>
    const $delete = document.querySelector("#delete")
    const $code = document.querySelectorAll(".code")
    const $checkbox = document.querySelectorAll(".checkbox")
    const productCode = []
    $delete.onclick = function(){
        let choose = confirm("선택하신 상품을 삭제하시겠습니까?");
        if(choose){
            $checkbox.forEach((box,index)=>{
                if(box.checked){

                    productCode.push($code[index].textContent);
                    console.log($code[index].textContent);
                    console.log(productCode)


                }
            })
            fetch("/product/delete",{
                method:'POST',
                headers:  {'Content-Type': 'application/json;charset=UTF-8'},
                body : JSON.stringify(productCode)
            })
                .then(data=>data.text())
                .then(res=>alert(res))
                .catch(error=>console.log(error))
            console.log(JSON.stringify(productCode));
        }
    }



</script>
</body>

</html>