<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
    <link href="/css/listAdmin.css" rel="stylesheet" type="text/css">
    <title>Document</title>
    <script>
        const message = '[[${message}]]'
        message && alert(message);
    </script>
</head>

<body>
<div th:replace="admin/common/nav.html"></div>
<span style="display: inline-block; margin-left: 300px; padding-top: 30px; font-weight: bold; font-size: 1.2rem">상품관리 > 상품 목록</span><span style="display: inline-block; margin-left: 1100px; font-weight: bold; font-size: 1.2rem;"><a href="/user/member/logout">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></a></span>

<p id="search">검색</p>
<div class="search">
    <form action="/product/listAdmin">
        <span>검색어</span>
        <input type="text" name="searchValue" placeholder="검색어 입력" class="searchValue" th:value="${searchValue}">
        <button class="searchButton">검색</button>
    </form>
</div>
<br>
<button  id="delete" class="but">선택삭제</button>
<button onclick="location.href='/product/productRegist'" class="but reg">상품등록</button>
<table id="table">
    <tr style="height: 50px; background: #d2d2d7">
        <td></td>
        <td class="a"colspan="1">번호</td>
        <td class="a">이미지</td>
        <td class="a">상품 이름</td>
        <td class="a">카테고리</td>
        <td class="a">일반 가격</td>
        <td class="a" colspan="2">프리미엄 가격</td>
        <td class="a">이용가능상태</td>
        <td class="a"></td>
    </tr>
    <tr th:each=" list : ${productList}" class="b">
        <td><input type="checkbox" class="checkbox"></td>
        <td th:text="${listStat.index +1}" class="a" style="text-align: center"></td>
        <td th:text="${list.code}" style="display: none;" class="code"></td>
        <td class="a"><img th:src="${list.photo}"></td>
        <td th:text="${list.name}" class="a"></td>
        <td th:text="${list.category.name}" class="a"></td>
        <td th:text="${#numbers.formatInteger(list.price,3,'COMMA')}"colspan="2" class="a"></td>
        <td th:text="${#numbers.formatInteger(list.premiumPrice,3,'COMMA')}" class="a"></td>
        <td th:text="${list.useableStatus}"></td>

        <td class="a"><button class="modify"  th:onclick="|location.href='/product/productModify?code=${list.code}'|">수정</button></td>
    </tr>
</table>

<script>
    const $delete = document.querySelector("#delete")
    const $code = document.querySelectorAll(".code")
    const $checkbox = document.querySelectorAll(".checkbox")
    const productCode = []
    $delete.onclick = function(){
        let choose = confirm("선택하신 상품을 삭제하시겠습니까?");
        if(choose){
            $checkbox.forEach((box,index)=>{
                if(box.checked){
                    productCode.push($code[index].textContent);
                    console.log($code[index].textContent);
                    console.log(productCode)
                }
            })
            fetch("/product/delete",{
                method : 'POST',
                headers : {'Content-Type': 'application/json;charset=UTF-8'},
                body : JSON.stringify(productCode)
            })
                .then(res=>res.text())
                .then(res=>alert(res))
                .then(res=>window.location.reload())
                .catch(error=>console.log(error));
        }
    }
</script>
</body>

</html>