<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/payment.css" rel="stylesheet" type="text/css">
  <title>Document</title>
</head>
<body>
<header style="background-color: blue;" >헤더</header>
<div class="container1">
  <p style="font-size: 40px; font-weight: bold;">주문/결제</p>
  <p>가격표</p>
</div>

<div class="bigcontainer">

  <div class="info">
    <p>주문자 정보</p>
    <table>
      <tr>
        <th>이름</th>
        <td><input type="text"></td>
      </tr>
      <tr>
        <th>연락처</th>
        <td><input type="text"></td>
      </tr>
    </table>
  </div>

  <div class="address outer">
    <p>배송지</p>
    <table>
      <tr>
        <td>종로구 인사동12길 12 대일빌딩</td>
        <td>301호</td>
      </tr>
      <tr>
        <td>
          홍길동 010-1234-5678
        </td>
      </tr>
    </table>
  </div>

</div>
</body>
</html>