<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/payment.css" rel="stylesheet" type="text/css">
  <title>Document</title>
</head>
<body>
<div class="container1" style="margin-top: 0px;">
  <p style="font-size: 40px;">주문/결제</p>
  <p>가격표</p>
</div>


<div class="big">
<div class="bigcontainer">
  <div class="container a">
    <div class="info1">
    <p>주문자 정보</p>
    <table>
      <tr>
        <td>이름</td>
        <td><input type="text" value='${member.name}' id="name"></td>
      </tr>
      <tr class="r">
        <td>연락처</td>
        <td><input type="text" value="[[${member.name}]]" id="phone" ></td>
      </tr>
    </table>
    </div>
  </div>

  <div class="container2">
    <div class="c2he">
    <p>배송지</p>
    <p>주소변경</p>
    </div>
    <div class="info2">
      <p th:text="${member.address}"></p>
      <span th:text="${member.name}"></span><span th:text="${member.phone}"style="margin-left: 20px"></span>
    </div>

    <div class="request">
    <p>요청사항 :</p>
    <input type="text" name="request" placeholder="문 앞에 놔주세요">
    </div>

    <div class="image">
      <p>사진추가</p>
      <input type="file" accept="image/png" formenctype="multipart/form-data" class="file">
    </div>
    <div class="replaceimage">
      1
    </div>
    <p class="ta">세탁물 사진을 보내주시면 더욱 쉽게 수거해갈 수 있습니다</p>
  </div>
  <div class="container3">
    <p>일정선택</p>
    <div class="date">
    <span>수거 :</span><input type="datetime-local"><br>
      <div class="aaaaa">
    <span>배송 :</span><input type="datetime-local" required data-placeholder="날짜선택">
      </div>
    </div>
  </div>
  <div class="container4">
    <p class="cc">결제정보</p>

    <table>
      <tr>
        <td>총가격</td>
        <td>12,000원</td>
      </tr>
      <tr>
        <td>쿠폰</td>
        <td>신규가입쿠폰</td>
        <td><button class="coupon">쿠폰변경</button></td>
      </tr>
      <tr>
        <td>배송비</td>
        <td>3,000원</td>
      </tr>
      <tr>
        <td>포인트</td>
        <td><input type="number" placeholder="사용금액 입력"> </td>
        <td th:text="${member.point}+'원 보유'">1500원보유<button class="point">전액사용</button></td>
      </tr>
      <tr>
        <td>총 결제금액</td>
        <td>13,200원</td>
      </tr>
    </table>
    <p class="dd">결제수단</p>
    <div class="pay">
      <p id="kakaopay">카카오페이</p>
      <p>네이버페이</p>
      <p>신용카드</p>
    </div>
    <div>
      <form method="post" action="/kakaoPay">
      <button type="submit" class="regist">등록하기</button>
      </form>
      <button class="rollback">취소하기</button>
    </div>
  </div>
</div>
  <div class="order">
    <p class="z">상품정보</p>
    <div class="pdinfo">
    <img src="/resource/images/tshirt.png">
      <div class="iinfo">
      <p>티셔츠</p>
        <div class="nnn"><span></span>
      <p>천연세제 사용</p>
      <p>프리미엄케어</p>
        <span><input type="number"></span><span><select><option>천연세제 사용</option></select> </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const $imagebox = document.querySelector(".replaceimage");
  const $file = document.querySelector(".file");
  const reader = new FileReader();
  $file.addEventListener("change",()=>{
    if($file){
      reader.readAsDataURL($file.files[0]);
      reader.onload = function(){
        $imagebox.innerHTML = `<img src="${reader.result}" style="width:230px; height:200px">`
      }

    }
  })

  // if($file) {
  //   const reader = new FileReader();
  //   reader.readAsDataURL($file.files[0]);
  //   reader.onload = function () {
  //     console.log(reader.result);
  //   }
  // }

 const $name = document.querySelector("#name");
  const $phone = document.querySelector("#phone");
  $name.value='[[${member.name}]]'
  $phone.value='[[${member.phone}]]'
const $kakao = document.querySelector("#kakaopay");
  $kakao.onclick = function(){
    alert("아아")
  }


</script>

</body>
</html>