<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/adminManagement.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/admin/admin.js" type="text/javascript"></script>

    <title>Document</title>
</head>

<body>
<div th:replace="/admin/common/nav.html"></div>

<header>
    <h3>정산관리 &gt 정산내역</h3>
    <a href="/user/member/logout"><h3 id="login">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></h3></a>
</header>

<div class="container">
    <div class="basic-search">
        <h4 class="top-name">정산내역</h4>
    </div>


    <div class="container1">




        <form id="allSearch" action="/orderManagement/calculate">
            <table>

                <tr>
                    <th>기간</th>
                    <td>
<!--                        <input type="date" id="start-date" name="startDate" th:value="${paging.startDate}">-->
<!--                        ~-->
<!--                        <input type="date" id="end-date" name="endDate" th:value="${paging.endDate}">-->
                        <span class="but-group">
                    <input type="button" onclick="searchDate('오늘');" class="sub-btn" value="오늘">
                    <input type="button" onclick="searchDate('1주');" class="sub-btn" value="1주">
                    <input type="button" onclick="searchDate('15일');" class="sub-btn" value="15일">
                    <input type="button" onclick="searchDate('1개월');" class="sub-btn" value="1개월">
                    <input type="button" onclick="searchDate('3개월');" class="sub-btn" value="3개월">
                    <input type="button" onclick="searchDate('6개월');" class="sub-btn" value="6개월">
                </span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="search-bottom">
                        <button type="submit" id="searchButton">검색</button>
                        <button type="button" id="resetButton" >초기화</button>

                    </td>
                </tr>

            </table>
        </form>
    </div>

    </div>

<!--    &lt;!&ndash; 페이징 바 &ndash;&gt;-->
<!--    <div id="paging" align="center" style="margin-top: 20px; ">-->

<!--        <th:block-->
<!--                th:if="${ paging.searchCondition != null and paging.searchValue != null }">-->
<!--            &lt;!&ndash; 맨 앞으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>-->

<!--            &lt;!&ndash; 이전 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                    th:disabled="${ paging.page <= 1 }">&lt;</button>-->

<!--            &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--            <th:block-->
<!--                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">-->
<!--                <button-->
<!--                        th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                        th:text="${ page }" th:disabled="${ paging.page eq page }">-->
<!--                </button>-->
<!--            </th:block>-->

<!--            &lt;!&ndash; 다음 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                    th:disabled="${ paging.page >= paging.maxPage }">></button>-->

<!--            &lt;!&ndash; 맨 끝으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">>></button>-->

<!--        </th:block>-->

<!--        <th:block-->
<!--                th:if="${ paging.searchCondition == null ||  paging.searchValue == null }">-->
<!--            &lt;!&ndash; 맨 앞으로 이동 &ndash;&gt;-->
<!--            <button th:onclick="'location.href=\'/orderManagement/complete-payment?page=1\''">&lt;&lt;</button>-->

<!--            &lt;!&ndash; 이전 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page - 1}} + '\''"-->
<!--                    th:disabled="${ paging.page <= 1 }">&lt;</button>-->

<!--            &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--            <th:block-->
<!--                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">-->
<!--                <button-->
<!--                        th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${page}} + '\''"-->
<!--                        th:text="${ page }" th:disabled="${ paging.page eq page }">-->
<!--                </button>-->
<!--            </th:block>-->

<!--            &lt;!&ndash; 다음 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page + 1}} + '\''"-->
<!--                    th:disabled="${ paging.page >= paging.maxPage }">></button>-->

<!--            &lt;!&ndash; 맨 끝으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.maxPage}} + '\''">>></button>-->
<!--        </th:block>-->

<!--    </div>-->


    <script>
        function searchDate(range) {
            var today = new Date();
            var startDate = new Date();
            var endDate = new Date();

            if (range == '오늘') {
                startDate = today;
                endDate = today;
            } else if (range == '1주') {
                startDate.setDate(today.getDate() + 6);
                endDate.setDate(today.getDate() + 6);
            } else if (range == '15일') {
                startDate.setDate(today.getDate() + 14);
                endDate.setDate(today.getDate() + 14);
            } else if (range === '1개월') {
                endDate.setMonth(today.getMonth() + 1);
                endDate.setDate(1); // 다음 달의 첫 번째 날로 설정
                startDate = new Date(endDate);
            } else if (range === '3개월') {
                endDate.setMonth(today.getMonth() + 3);
                endDate.setDate(1); // 다음 달의 첫 번째 날로 설정
                startDate = new Date(endDate);
            } else if (range === '6개월') {
                endDate.setMonth(today.getMonth() + 6);
                endDate.setDate(1); // 다음 달의 첫 번째 날로 설정
                startDate = new Date(endDate);
            }

            // input 요소에 날짜 설정
            document.getElementById('start-date').valueAsDate = startDate;
            document.getElementById('end-date').valueAsDate = endDate;

        }


    </script>


</div>
</body>

</html>



