<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/adminManagement.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/admin/admin.js" type="text/javascript"></script>

    <title>Document</title>
</head>

<body>
<div th:replace="/admin/common/nav.html"></div>

<header>
    <h3>정산관리 &gt 정산내역</h3>
    <a href="/"><h3 id="home">HOME</h3></a>
    <a href="/user/member/logout"><h3 id="login">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></h3></a>
</header>

<div class="container">
    <div class="basic-search">
        <h4 class="top-name">정산내역</h4>
    </div>


    <div class="container1">
        <ol>
            <li class="calculateLi">
                총 입금 금액
                <p th:style="'font-size : 50px; margin: 34px 0px 0px 100px;'" id="totalSum">0</p>
            </li>
            <form id="allSearch" action="/orderManagement/calculate">
                <li class="calculateDate">

                    <select id="search-method" name="searchCondition">
                        <option selected>전체</option>
                        <option value="orderDate" th:selected="${paging.searchCondition eq 'orderDate'}">입금일</option>
                        <option value="progressDate" th:selected="${paging.searchCondition eq 'progressDate'}">세탁기간</option>

                        <input type="date" id="start-date" name="startDate"  th:value="${paging.startDate}" th:style="'margin-left : 5px'" >
                        ~
                        <input type="date" id="end-date" name="endDate" th:value="${paging.endDate}">
                        <span class="but-group">
                        <input type="button" onclick="searchDate('1분기');" class="sub-btn" value="1분기">
                        <input type="button" onclick="searchDate('2분기');" class="sub-btn" value="2분기">
                        <input type="button" onclick="searchDate('3분기');" class="sub-btn" value="3분기">
                        <input type="button" onclick="searchDate('4분기');" class="sub-btn" value="4분기">
                   </span>

                        <button type="submit" id="searchButton">조회</button>
                        <button type="button" id="resetButton" >초기화</button>

                    </select>


                </li>

            </form>
            <li th:style="'margin-left: 13px;'">
                <table id="listArea" class="payArea" style="text-align:center">

                    <tr>
                        <th rowspan="2" th:style="'border-bottom: 1px solid #0000003A; background-color: #0000000F;'">입금일</th>
                        <th rowspan="2" th:style="'border-bottom: 1px solid #0000003A; background-color: #0000000F;'">구매확정일</th>
                        <td colspan="4" th:style="'border-bottom: 1px solid #0000003A; background-color: #0000000F;'">거래금액</td>

                    </tr>
                    <tr>
                        <th th:style="'border-bottom: 1px solid #0000003A; border-right: none; border-left: none; background-color: #0000000F;'">주문금액</th>
                        <th th:style="'border-bottom: 1px solid #0000003A; border-right: none; border-left: none; background-color: #0000000F;'" >포인트비용</th>
                        <th th:style="'border-bottom: 1px solid #0000003A; border-right: none; border-left: none; background-color: #0000000F;'">쿠폰할인</th>
                        <th th:style="'border-bottom: 1px solid #0000003A; border-right: none; border-left: none; background-color: #0000000F;'">총금액</th>
                    </tr>
                    <tr  class="pay2" th:each="search : ${ searchCalculateList }">
                        <td th:text="${#dates.format(search.orderDate, 'yyyy-MM-dd')}" th:style="'border-top: 1px solid #0000003A;'"></td>
                        <td th:text="${#dates.format(search.progressDate, 'yyyy-MM-dd')}" th:style="'border-top: 1px solid #0000003A;'"></td>
                        <td th:text="${ search.orderPrice }" th:style="'border-top: 1px solid #0000003A; border-right: none; border-left: none;'" ></td>
                        <td th:text="${ search.usePoint }" th:style="'border: 1px solid #000000FF; border-right: none; border-left: none;'"></td>
                        <td th:text="${search.coupon.cpRate / search.orderPrice}" th:style="'border: 1px solid #000000FF; border-right: none; border-left: none;'"></td>
                        <td th:text="${ search.orderTotalPrice }" th:style="'border: 1px solid #000000FF; border-right: none; border-left: none;'"></td>
                    </tr>
                </table>
            </li>
        </ol>

    </div>

</div>

    <!-- 페이징 바 -->
    <div id="paging" align="center" style="margin-top: 20px; ">

        <th:block
                th:if="${ paging.searchCondition != null and paging.searchValue != null }">
            <!-- 맨 앞으로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>

            <!-- 이전 페이지로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
                    th:disabled="${ paging.page <= 1 }">&lt;</button>

            <!-- 숫자 버튼 -->
            <th:block
                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                <button
                        th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
                        th:text="${ page }" th:disabled="${ paging.page eq page }">
                </button>
            </th:block>

            <!-- 다음 페이지로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
                    th:disabled="${ paging.page >= paging.maxPage }">></button>

            <!-- 맨 끝으로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">>></button>

        </th:block>

        <th:block
                th:if="${ paging.searchCondition == null ||  paging.searchValue == null }">
            <!-- 맨 앞으로 이동 -->
            <button th:onclick="'location.href=\'/orderManagement/complete-payment?page=1\''">&lt;&lt;</button>

            <!-- 이전 페이지로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page - 1}} + '\''"
                    th:disabled="${ paging.page <= 1 }">&lt;</button>

            <!-- 숫자 버튼 -->
            <th:block
                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                <button
                        th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${page}} + '\''"
                        th:text="${ page }" th:disabled="${ paging.page eq page }">
                </button>
            </th:block>

            <!-- 다음 페이지로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page + 1}} + '\''"
                    th:disabled="${ paging.page >= paging.maxPage }">></button>

            <!-- 맨 끝으로 이동 -->
            <button
                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.maxPage}} + '\''">>></button>
        </th:block>

    </div>


<script>
    function searchDate(range) {
        var today = new Date();
        var startDate = new Date();
        var endDate = new Date();

        if (range === '1분기') {
            // 1분기는 1월 1일부터 3월 31일까지
            startDate = new Date(today.getFullYear(), 0, 1); // 1월 1일
            endDate = new Date(today.getFullYear(), 2, 31); // 3월 31일
        } else if (range === '2분기') {
            // 2분기는 4월 1일부터 6월 30일까지
            startDate = new Date(today.getFullYear(), 3, 1); // 4월 1일
            endDate = new Date(today.getFullYear(), 5, 30); // 6월 30일
        } else if (range === '3분기') {
            // 3분기는 7월 1일부터 9월 30일까지
            startDate = new Date(today.getFullYear(), 6, 1); // 7월 1일
            endDate = new Date(today.getFullYear(), 8, 30); // 9월 30일
        } else if (range === '4분기') {
            // 4분기는 10월 1일부터 12월 31일까지
            startDate = new Date(today.getFullYear(), 9, 1); // 10월 1일
            endDate = new Date(today.getFullYear(), 11, 31); // 12월 31일
        }
        // input 요소에 날짜 설정
        document.getElementById('start-date').valueAsDate = startDate;
        document.getElementById('end-date').valueAsDate = endDate;

    }

    document.getElementById('resetButton').addEventListener('click', function () {
        document.getElementById('search-method').value = '전체';
        document.getElementById('start-date').value = '';
        document.getElementById('end-date').value = '';
    });

    // 페이지 로딩 후 실행되는 코드
    document.addEventListener("DOMContentLoaded", function () {
        let totalSum = 0;

        // 각 행을 반복하면서 "orderTotalPrice" 값을 가져와 누적
        document.querySelectorAll(".pay2").forEach(function (row) {
            let orderTotalPrice = parseFloat(row.querySelector("td:nth-child(6)").textContent);
            totalSum += orderTotalPrice;
        });

        // "totalSum" 요소에 결과 표시
        document.getElementById("totalSum").textContent = totalSum + '원';
    });

</script>


</div>
</body>

</html>



