<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/adminManagement.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/admin/admin.js" type="text/javascript"></script>

    <title>Document</title>
</head>

<body>
<div th:replace="/admin/common/nav.html"></div>

<header>
    <h3>정산관리 &gt 정산내역</h3>
    <a href="/user/member/logout"><h3 id="login">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></h3></a>
</header>

<div class="container">
    <div class="basic-search">
        <h4 class="top-name">정산내역</h4>
    </div>


    <div class="container1">
        <ol>
            <li class="calculateLi">
                총 입금 금액

            </li>

            <li class="calculateDate">

                <select id="search-method" name="searchCondition">
                    <option selected>전체</option>
                    <option value=" ">입금일</option>
                    <option value="member">세탁기간</option>
                </select>

                <input type="date" id="start-date" name="startDate" th:style="'margin-left : 5px'" >
                ~
                <input type="date" id="end-date" name="endDate" >
                <span class="but-group">
                    <input type="button" onclick="searchDate('1분기');" class="sub-btn" value="1분기">
                    <input type="button" onclick="searchDate('2분기');" class="sub-btn" value="2분기">
                    <input type="button" onclick="searchDate('3분기');" class="sub-btn" value="3분기">
                    <input type="button" onclick="searchDate('4분기');" class="sub-btn" value="4분기">
               </span>

                <button type="submit" id="searchButton">검색</button>
            </li>
        </ol>

    </div>

</div>

<!--    &lt;!&ndash; 페이징 바 &ndash;&gt;-->
<!--    <div id="paging" align="center" style="margin-top: 20px; ">-->

<!--        <th:block-->
<!--                th:if="${ paging.searchCondition != null and paging.searchValue != null }">-->
<!--            &lt;!&ndash; 맨 앞으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>-->

<!--            &lt;!&ndash; 이전 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                    th:disabled="${ paging.page <= 1 }">&lt;</button>-->

<!--            &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--            <th:block-->
<!--                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">-->
<!--                <button-->
<!--                        th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                        th:text="${ page }" th:disabled="${ paging.page eq page }">-->
<!--                </button>-->
<!--            </th:block>-->

<!--            &lt;!&ndash; 다음 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                    th:disabled="${ paging.page >= paging.maxPage }">></button>-->

<!--            &lt;!&ndash; 맨 끝으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">>></button>-->

<!--        </th:block>-->

<!--        <th:block-->
<!--                th:if="${ paging.searchCondition == null ||  paging.searchValue == null }">-->
<!--            &lt;!&ndash; 맨 앞으로 이동 &ndash;&gt;-->
<!--            <button th:onclick="'location.href=\'/orderManagement/complete-payment?page=1\''">&lt;&lt;</button>-->

<!--            &lt;!&ndash; 이전 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page - 1}} + '\''"-->
<!--                    th:disabled="${ paging.page <= 1 }">&lt;</button>-->

<!--            &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--            <th:block-->
<!--                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">-->
<!--                <button-->
<!--                        th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${page}} + '\''"-->
<!--                        th:text="${ page }" th:disabled="${ paging.page eq page }">-->
<!--                </button>-->
<!--            </th:block>-->

<!--            &lt;!&ndash; 다음 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.page + 1}} + '\''"-->
<!--                    th:disabled="${ paging.page >= paging.maxPage }">></button>-->

<!--            &lt;!&ndash; 맨 끝으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/orderManagement/complete-payment?page=' + @{${paging.maxPage}} + '\''">>></button>-->
<!--        </th:block>-->

<!--    </div>-->


<script>
    function searchDate(range) {
        var today = new Date();
        var startDate = new Date();
        var endDate = new Date();

        if (range === '1분기') {
            // 1분기는 1월 1일부터 3월 31일까지
            startDate = new Date(today.getFullYear(), 0, 1); // 1월 1일
            endDate = new Date(today.getFullYear(), 2, 31); // 3월 31일
        } else if (range === '2분기') {
            // 2분기는 4월 1일부터 6월 30일까지
            startDate = new Date(today.getFullYear(), 3, 1); // 4월 1일
            endDate = new Date(today.getFullYear(), 5, 30); // 6월 30일
        } else if (range === '3분기') {
            // 3분기는 7월 1일부터 9월 30일까지
            startDate = new Date(today.getFullYear(), 6, 1); // 7월 1일
            endDate = new Date(today.getFullYear(), 8, 30); // 9월 30일
        } else if (range === '4분기') {
            // 4분기는 10월 1일부터 12월 31일까지
            startDate = new Date(today.getFullYear(), 9, 1); // 10월 1일
            endDate = new Date(today.getFullYear(), 11, 31); // 12월 31일
        }
        // input 요소에 날짜 설정
        document.getElementById('start-date').valueAsDate = startDate;
        document.getElementById('end-date').valueAsDate = endDate;

    }


</script>


</div>
</body>

</html>



