<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <!--    <script type="text/javascript" src="/js/event.js"></script>-->
    <script type="text/javascript" src="/js/regist.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기 | 세탁해병대</title>

    <link href="/css/findIdStyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="styles heet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>


<!-- 아이디 찾기 -->
<div class="wrapper">
    <div class="logo-wrapper">
        <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="gap">
        <div class="box-wrapper">
            <h3>아이디 찾기</h3>
            <div class="box-container">
                <div class="bigbox">
                    <p class="find-text">회원 정보에 등록된 휴대전화로 인증</p>
                    <div class="input-box">
                        <input type="text" name="phone">
                        <button class="btn">인증</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>