<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <!--    <script type="text/javascript" src="/js/event.js"></script>-->
    <script type="text/javascript" src="/js/regist.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보유 쿠폰 | 세탁해병대</title>

    <link href="/css/myCouponStyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="styles heet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<!-- 헤더 -->
<div class="main-set">
    <header class="page-header wrapper2">
        <div class="logo-header">
            <a href="/">
                <img class="logo" src="/images/logo.png" alt="HOME">
            </a>
        </div>
        <th:block sec:authorize="isAnonymous()">
            <div class="nav-all">
                <nav>
                    <ul class="main-nav">
                        <li><a id="login" href="/user/member/login">로그인</a></li>
                        <li><a href="/product/list">
                            <li>서비스</li>
                        </a></li>
                        <li><a href="/user/board/userReview">
                            <li>게시판</li>
                        </a></li>
                        <li><a href="/user/board/userNotice">
                            <li>고객센터</li>
                            <li><a href="/user/coupon/list">
                                <li>쿠폰</li>
                            </a></li>
                    </ul>
                </nav>
                <a href="/user/member/login">
                    <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                </a>
            </div>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <div class="nav-all">
                <nav>
                    <ul class="main-nav">
                        <th:block sec:authorize="${#authentication != null and #authentication.principal.memberRoleList != null}">
                            <th:block th:each="role : ${#authentication.principal.memberRoleList}">
                                <li><a id="admin" th:if="${role.authorityCode == 1}" href="/admin/member/memberList">관리자</a></li>
                            </th:block>
                        </th:block>
                        <li><a id="logout" href="/user/member/logout">
                            <li>로그아웃</li>
                        </a></li>
                        <li><a href="/product/list">
                            <li>서비스</li>
                        </a></li>
                        <li><a href="/user/board/userReview">
                            <li>게시판</li>
                        </a></li>
                        <li><a href="/user/board/userNotice">
                            <li>고객센터</li>
                        </a></li>
                        <li><a href="/user/coupon/list">
                            <li>쿠폰</li>
                        </a></li>
                    </ul>
                </nav>
                <a href="/product/cartList"><img class="cart" src="/images/cart.png"></a>
                <a href="/user/member/mypage">
                    <th:block th:if="${ #authentication.principal.profilePhoto == null}">
                        <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                    </th:block>
                    <th:block th:if="${ #authentication.principal.profilePhoto != null}">
                        <img class="mypage" th:src="${#authentication.principal.profilePhoto}" alt="MYPAGE">
                    </th:block>
                </a>
            </div>
        </th:block>
    </header>
    <hr style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">
</div>

<!-- 마이페이지 네비 -->
<ul class="mypage-nav">
    <a id="profile" href="/user/member/mypage">
        <li>프로필</li>
    </a>
    <a id="mysehae" href="/user/member/mysehae">
        <li>나의 세해</li>
    </a>
    <a is="setting" href="/user/member/update">
        <li>설정</li>
    </a>
</ul>
<hr class="line" style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">


<!-- 쿠폰 페이지 -->
<div class="background">
    <div class="wrapper">
        <h3>쿠폰 목록</h3>
        <div class="couponwrapper">
            <div class="coupon" th:each="coupon : ${myCoupons}">
                <div class="first-line">
                    <div class="cp-name" th:text="${coupon?.cpName}"></div>
                    <div class="circle-more">
                        <div class="circle">
                            <p>?</p>
                        </div>
                    </div>
                </div>

                <div class="percent">
                <div class="blue" th:text="${coupon?.cpRate}"></div>
                    <p class="blue2">%</p>
                </div>
                <p class="grey-font">쿠폰 기간 무제한!</p>
            </div>
        </div>
    </div>
</div>

<!-- 푸터 -->
<div th:replace="user/common/footer.html"></div>
</body>
</html>