<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <script type="text/javascript" src="/js/event.js"></script>-->
    <title>마이페이지 | 세탁해병대</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="styles heet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--    <script type="text/javascript" src="/js/regist.js"></script>-->
    <link href="/css/mypagestyle.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더 -->
<div class="main-set">
    <header class="page-header wrapper2">
        <div class="logo-header">
            <a href="/">
                <img class="logo" src="/images/logo.png" alt="HOME">
            </a>
        </div>
        <th:block sec:authorize="isAnonymous()">
            <div class="nav-all">
                <nav>
                    <ul class="main-nav">
                        <li><a id="login" href="/user/member/login">로그인</a></li>
                        <li><a href="3_service.html">
                            <li>서비스</li>
                        </a></li>
                        <li><a href="/user/board/userReview">
                            <li>게시판</li>
                        </a></li>
                        <li><a href="/user/board/userNotice">
                            <li>고객센터</li>
                        </a></li>
                    </ul>
                </nav>
                <a href="/user/member/login">
                    <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                </a>
            </div>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <div class="nav-all">
                <nav>
                    <ul class="main-nav">
                        <li><a id="admin" href="/admember/list">관리자</a></li>
                        <li><a id="logout" href="/user/member/logout">
                            <li>로그아웃</li>
                        </a></li>
                        <li><a href="3_service.html">
                            <li>서비스</li>
                        </a></li>
                        <li><a href="/user/board/userReview">
                            <li>게시판</li>
                        </a></li>
                        <li><a href="/user/board/userNotice">
                            <li>고객센터</li>
                        </a></li>
                    </ul>
                </nav>
                <a href="/product/cartList"><img class="cart" src="/images/cart.png"></a>
                <a href="/user/member/mypage">
                    <th:block th:if="${ #authentication.principal.profilePhoto == null}">
                        <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                    </th:block>
                    <th:block th:if="${ #authentication.principal.profilePhoto != null}">
                        <img class="mypage" th:src="${#authentication.principal.profilePhoto}" alt="MYPAGE">
                    </th:block>
                </a>
            </div>
        </th:block>
    </header>
    <hr style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">
</div>

<!-- 마이페이지 네비 -->
<ul class="mypage-nav">
    <li>
        <a id="profile" href="/user/member/mypage">프로필</a>
    </li>
    <li>
        <a id="mysehae" href="/user/member/mysehae">나의 세해</a>
    </li>
    <li>
        <a is="setting" href="/user/member/update">설정</a>
    </li>
</ul>
<hr class="line" style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">

<!-- 본문 박스 -->
<div class="wrapper">
    <!-- 왼쪽 박스 -->
    <div class="box-all">
        <div class="left-box">
            <div class="photo">
                <!-- 자리잡기용 임시 사진 -->
                <th:block th:if="${ #authentication.principal.profilePhoto == null}">
                    <img class="profile" src="/images/smile.png" alt="MYPAGE">
                </th:block>
                <th:block th:if="${ #authentication.principal.profilePhoto != null}">
                    <img class="profile" th:src="${#authentication.principal.profilePhoto}" alt="MYPAGE">
                </th:block>
                <p class="nickname" th:text="${ #authentication.principal.nickname }"></p>
                <div class="button-wrapper">
                    <a href="/user/member/update" class="button">설정</a>
                </div>
            </div>
        </div>

        <!-- 오른쪽 박스 -->
        <div class="right-box">
            <div class="right-box-child">
                <h3>내가 쓴 후기</h3>
                <div class="dot-box">
                    <!-- 기본 멘트 -->
                    <div class="dot-box-content" th:each="myReview, iterStat : ${myReviews}"
                         th:if="${iterStat.index < 4}">
                        <p th:text="${myReview.title}"></p>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <a href="#" class="button">+더보기</a>
                </div>
            </div>


            <div class="right-box-child2">
                <h3>좋아요</h3>
                <div class="mini-box">
                    <!-- 기본 멘트 -->
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <!-- 후기 게시판 연동 -->
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>