<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <script type="text/javascript" src="/js/event.js"></script>-->
    <title>마이페이지 | 세탁해병대</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="styles heet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--    <script type="text/javascript" src="/js/regist.js"></script>-->
    <link href="/css/mypagestyle.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더 -->
<header>
    <div class="main-set">
        <header class="page-header wrapper2">
            <div class="logo-header">
                <a href="/">
                    <img class="logo" src="/images/logo.png" alt="HOME">
                </a>
            </div>
            <th:block sec:authorize="isAnonymous()">
                <div class="nav-all">
                    <nav>
                        <ul class="main-nav">
                            <li><a id="login" href="/user/member/login">로그인</a></li>
                            <li><a href="3_service.html">
                                <li>서비스</li>
                            </a></li>
                            <li><a href="/user/board/userReview">
                                <li>게시판</li>
                            </a></li>
                            <li><a href="/user/board/userNotice">
                                <li>고객센터</li>
                            </a></li>
                        </ul>
                    </nav>
                    <a href="/user/member/login">
                        <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                    </a>
                </div>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <div class="nav-all">
                    <nav>
                        <ul class="main-nav">
                            <li><a id="admin" href="/admember/list">관리자</a></li>
                            <li><a id="logout" href="/user/member/logout">
                                <li>로그아웃</li>
                            </a></li>
                            <li><a href="3_service.html">
                                <li>서비스</li>
                            </a></li>
                            <li><a href="/user/board/userReview">
                                <li>게시판</li>
                            </a></li>
                            <li><a href="/user/board/userNotice">
                                <li>고객센터</li>
                            </a></li>
                        </ul>
                    </nav>
                    <a href="/product/cartList"><img class="cart" src="/images/cart.png"></a>
                    <a href="/user/member/mypage">
                        <th:block th:if="${ #authentication.principal.profilePhoto == null}">
                            <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                        </th:block>
                        <th:block th:if="${ #authentication.principal.profilePhoto != null}">
                            <img class="mypage" th:src="${#authentication.principal.profilePhoto}" alt="MYPAGE">
                        </th:block>
                    </a>
                </div>
            </th:block>
        </header>
        <hr style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">
    </div>
</header>

<!-- 마이페이지 네비 -->
<ul class="mypage-nav">
    <li>
        <a id="profile" href="/user/member/mypage">프로필</a>
    </li>
    <li>
        <a id="mysehae" href="/user/member/mysehae">나의 세해</a>
    </li>
    <li>
        <a is="setting" href="/user/member/update">설정</a>
    </li>
</ul>
<hr class="line" style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">

<!-- 본문 박스 -->
<div class="wrapper">
    <!-- 왼쪽 박스 -->
    <div class="box-all">
        <div class="left-box">
            <div class="photo">
                <!-- 자리잡기용 임시 사진 -->
                <th:block th:if="${ #authentication.principal.profilePhoto == null}">
                    <img class="profile" src="/images/smile.png" alt="MYPAGE">
                </th:block>
                <th:block th:if="${ #authentication.principal.profilePhoto != null}">
                    <img class="profile" th:src="${#authentication.principal.profilePhoto}" alt="MYPAGE">
                </th:block>
                <p class="nickname" th:text="${ #authentication.principal.nickname }"></p>
                <div class="button-wrapper">
                    <a href="/user/member/update" class="button">설정</a>
                </div>
            </div>
        </div>

<!--        &lt;!&ndash; 오른쪽 박스 &ndash;&gt;-->
<!--        <div class="right-box">-->
<!--            <div class="right-box-child">-->
<!--                <h3>내가 쓴 후기</h3>-->
<!--                <div class="dot-box">-->
<!--                    &lt;!&ndash; 기본 멘트 &ndash;&gt;-->
<!--                    <div class="dot-box-content" th:each="myReview, iterStat : ${myReviews}"-->
<!--                         th:if="${iterStat.index < 4}">-->
<!--                        <p th:text="${myReview.title}"></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="btn-wrapper">-->
<!--                    <a href="#" class="button">+더보기</a>-->
<!--                </div>-->
<!--            </div>-->

        <!-- 오른쪽 박스 -->
        <div class="right-box">
            <div class="right-box-child">
                <h3>내가 쓴 후기</h3>
                <div class="dot-box">
                    <div class="dot-box-none"th:if="${myReviews.isEmpty()}">
                        <p>후기가 없습니다. 후기를 작성해 주세요!</p>
                    </div>
                    <div class="dot-box-content" th:each="myReview, iterStat : ${myReviews}"
                         th:if="${iterStat.index < 4}">
                        <p th:text="${myReview.title}"></p>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <a href="#" class="button">+더보기</a>
                </div>
            </div>



            <div class="right-box-child2">
                <h3>좋아요</h3>
                <div class="mini-box">
                    <!-- 기본 멘트 -->
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <div class="mini-box-child">
                        <p>임시 후기 게시판 조회 글</p>
                    </div>
                    <!-- 후기 게시판 연동 -->
                </div>

            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-wrapper">
        <div class="footer1">
            <h2>세탁해병대</h2>
            <small>ⓒ세탁해병대.</small><br>
            <small>Copyright All rights reserved.</small>
        </div>
        <div class="footer2">

            <a href="call"><h3 class="call">고객센터 <img src="/images/Vector%20113.svg"></h3></a>
            <span class="number">1655-1234</span> <span class="number2">09:00-18:00</span>
            <p class="text">
                단체문의 : sehaehae@email.com<br>
                평일 : 전체 문의 상담 가능<br>
                주말,공휴일 : 세탁해병대 문의 상담 가능<br>
                1:1문의 : 24시간 접수 가능<br>
            </p>
            <div class="kakao">
                <a href="kakao.html">카톡 상담(평일 09:00 - 18:00)</a>
            </div>

        </div>
        <div>
            <ul class="footer-nav">
                <a href="company">
                    <li>회사소개</li>
                </a>
                <a href="hire">
                    <li>채용정보</li>
                </a>
                <a href="terms">
                    <li>이용약관</li>
                </a>
                <a href="personal">
                    <li class="point">개인정보처리방침</li>
                </a>
                <a href="business">
                    <li class="point">사업자정보확인</li>
                </a>
            </ul>
        </div>
        <div class="contact-item1">
            <h4>Connect with us</h4>
            <ul class="contact-item wrapper">
                <li><a href="youtube">
                    <img src="/images//Untitled (4).png" alt="youtube">
                </a></li>
                <li><a href="facebook">
                    <img src="/images/Untitled (3).png" alt="facebook">
                </a></li>
                <li><a href="instagram">
                    <img src="/images/Untitled (2).png" alt="instagram">
                </a></li>
                <li><a href="naver">
                    <img src="/images/Untitled (1).png" alt="naver">
                </a></li>
                <li><a href="kakaotalk">
                    <img src="/images/Untitled.png" alt="kakaotalk">
                </a></li>
            </ul>
        </div>
    </div>
</footer>
</body>


</html>