<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <!--    <script type="text/javascript" src="/js/event.js"></script>-->
    <script type="text/javascript" src="/js/regist.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 세해 | 세탁해병대</title>

    <link href="/css/mysehaeStyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="styles heet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<!-- 헤더 -->
<div th:replace="user/common/header.html"></div>

<!-- 마이페이지 네비 -->
<ul class="mypage-nav">
    <a id="profile" href="/user/member/mypage">
        <li>프로필</li>
    </a>
    <a id="mysehae" href="/user/member/mysehae">
        <li>나의 세해</li>
    </a>
    <a is="setting" href="/user/member/update">
        <li>설정</li>
    </a>
</ul>
<hr class="line" style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">

<div class="wrapper">
    <!-- 쿠폰, 포인트, 세탁등급 -->
    <div class="box-wrapper">
        <div class="first-bar">
            <div class="first-bar-child">
                <img src="/images/my-coupon.png">
                <div class="first-text">
                    <p>쿠폰</p>
                    <p class="first-blue">1</p>
                </div>
            </div>
            <div class="vertical-line"></div>

            <div class="first-bar-child">
                <img class="my-point" src="/images/my-point.png">
                <div class="first-text">
                    <p>포인트</p>
                    <p class="first-blue">1</p>
                </div>
            </div>
            <div class="vertical-line"></div>

            <div class="first-bar-child">
                <img src="/images/my-level.png">
                <div class="first-text">
                    <p>세탁 등급</p>
                    <p class="first-blue">이병</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-wrapper">
        <!-- 구매 진행 -->
        <div class="second-bar">
            <div class="second-bar-child">
                <div class="order-status">
                    <p>결제완료</p>
                    <p class="num">0</p>
                </div>
                <div class="ineq">
                    <img src="/images/ineq.png">
                </div>
                <div class="order-status">
                    <p>수거완료</p>
                    <p class="num">0</p>
                </div>
                <div class="ineq">
                    <img src="/images/ineq.png">
                </div>
                <div class="order-status">
                    <p>세탁완료</p>
                    <p class="num">0</p>
                </div>
                <div class="ineq">
                    <img src="/images/ineq.png">
                </div>
                <div class="order-status">
                    <p>배송준비</p>
                    <p class="num">0</p>
                </div>
                <div class="ineq">
                    <img src="/images/ineq.png">
                </div>
                <div class="order-status">
                    <p>배송중</p>
                    <p class="num">0</p>
                </div>
                <div class="ineq">
                    <img src="/images/ineq.png">
                </div>
                <div class="order-status">
                    <p>구매확정</p>
                    <p class="num">0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-wrapper">
        <!-- 주문 목록  -->
        <div class="third-bar">
            <!-- 기간, 주문상태 -->
            <div class="select-box-wrapper">
                <div class="third-bar-child">
                    <div class="select">
                    <select class="date-select" id="date-search-method" name="searchCondition">
                        <option selected>기간</option>
                        <option value="1month">1개월</option>
                        <option value="3month">3개월</option>
                        <option value="6month">6개월</option>
                        <option value="1year">1년</option>
                    </select>
                    </div>
                    <div class="select">
                    <select class="order-status-select" id="search-method" name="searchCondition">
                        <option selected>주문상태</option>
                        <option value="orderStatus1">결제완료</option>
                        <option value="orderStatus2">수거완료</option>
                        <option value="orderStatus3">세탁완료</option>
                        <option value="orderStatus4">배송준비</option>
                        <option value="orderStatus5">배송중</option>
                        <option value="orderStatus6">구매확정</option>
                    </select>
                    </div>
                </div>
            </div>

            <!-- 주문 내역 -->
            <div class="order-all">
                <hr style="width: 100%; border: 1px solid #c2c2c2; margin: 0;">
                <div class="order">
                    <div class="order-child1"> <!-- 왼쪽 박스 -->
                        <div class="order-num-date">
                            <p>13452323</p>
                            <p>|</p>
                            <p>2023.09.10</p>
                        </div>
                        <div class="greybox">
                            <p>세탁끝!</p>
                            <p>9/13 (수)</p>
                            <p class="buy">구매확정</p>
                        </div>
                    </div>

                    <div class="order-right-child1">
                        <div class="more">
                            <a href="#">상세보기</a>
                        </div>
                        <div class="button-wrapper">
                            <a href="#" class="button">환불하기</a>
                            <!-- 환불은 구매확정시에만 뜬다. if문과 hidden 사용 -->
                            <a href="#" class="button2">구매하기</a>
                        </div>
                    </div>
                </div>

                <hr style="width: 100%; border: 1px solid #c2c2c2; margin: 0;">
                <div class="order">
                    <hr style="border-width:1px 0 0 0; border-style:solid; border-color:#c2c2c2;">
                    <div class="order-child2">
                        <div class="order-num-date">
                            <p>13452323</p>
                            <p>|</p>
                            <p>2023.09.10</p>
                        </div>
                        <div class="greybox">
                            <p>세탁끝!</p>
                            <p>9/13 (수)</p>
                            <p>구매확정</p>
                        </div>
                    </div>

                    <div class="order-right-child2">
                        <div class="more">
                            <a href="#">상세보기</a>
                        </div>
                        <div class="button-wrapper">
                            <a href="#" class="button">환불하기</a>
                            <!-- 환불은 구매확정시에만 뜬다. if문과 hidden 사용 -->
                            <a href="#" class="button2">구매하기</a>
                        </div>
                    </div>
                </div>

                <hr style="width: 100%; border: 1px solid #c2c2c2; margin: 0;">
                <div class="order">
                    <hr style="border-width:1px 0 0 0; border-style:solid; border-color:#c2c2c2;">
                    <div class="order-child3">
                        <div class="order-num-date">
                            <p>13452323</p>
                            <p>|</p>
                            <p>2023.09.10</p>
                        </div>
                        <div class="greybox">
                            <p>세탁끝!</p>
                            <p>9/13 (수)</p>
                            <p>구매확정</p>
                        </div>
                    </div>

                    <div class="order-right-child3">
                        <div class="more">
                            <a href="#">상세보기</a>
                        </div>
                        <div class="button-wrapper">
                            <a href="#" class="button">환불하기</a>
                            <!-- 환불은 구매확정시에만 뜬다. if문과 hidden 사용 -->
                            <a href="#" class="button2">구매하기</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="user/common/footer.html"></div>
</body>
</html>