<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <!--    <script type="text/javascript" src="/js/event.js"></script>-->
    <script type="text/javascript" src="/js/regist.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 세해 | 세탁해병대</title>

    <link href="/css/mysehaeStyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="styles heet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- 인선!!!! 모달창 js -->
    <script src="/javaScript/modalEvent.js" type="text/javascript"></script>
    <script src="/javaScript/event.js" type="text/javascript"></script>
</head>

<body>
<!-- 마이페이지 네비 -->
<ul class="mypage-nav">
    <a id="profile" href="/user/member/mypage">
        <li>프로필</li>
    </a>
    <a id="mysehae" href="/user/member/mysehae">
        <li>나의 세해</li>
    </a>
    <a is="setting" href="/user/member/update">
        <li>설정</li>
    </a>
</ul>
<hr class="line" style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">

<div class="wrapper">
    <!-- 쿠폰, 포인트, 세탁등급 -->
    <div class="box-wrapper">
        <div class="first-bar">
            <div class="first-bar-child1">
                <a href="/user/member/myCoupon"></a>
                <img src="/images/my-coupon.png">
                <div class="first-text">
                    <p>쿠폰</p>
                    <p class="first-blue" th:text="${couponCount}"></p>
                </div>
            </div>
            <div class="vertical-line"></div>

            <div class="first-bar-child2">
                <img class="my-point" src="/images/my-point.png">
                <div class="first-text">
                    <p>포인트</p>
                    <p class="first-blue" th:text="${myPoint}"></p>
                </div>
            </div>
            <div class="vertical-line"></div>

            <div class="first-bar-child3">
                <img src="/images/my-level.png">
                <div class="first-text">
                    <p>세탁 등급</p>
                    <p class="first-blue" th:text="${membershipName}"></p>
                </div>

            </div>
        </div>
    </div>

    <div class="box-wrapper">
        <!-- 구매 진행 -->
        <div class="second-bar">
            <div class="second-bar-child" th:each="status : ${orderStatusCounts}">
                <div class="order-status">
                    <p th:text="${status.key}"></p>
                    <p class="num" th:text="${status.value}"></p>
                </div>
                <div class="ineq">
                    <img src="/images/ineq.png">
                </div>
            </div>
        </div>
    </div>


    <div class="box-wrapper">
        <!-- 주문 목록  -->
        <div class="third-bar">
            <!-- 기간, 주문상태 -->
            <div class="select-box-wrapper">
                <div class="third-bar-child">
                    <div class="select">
                        <select class="date-select" id="date-search-method" name="searchCondition">
                            <option selected>기간</option>
                            <option value="1month">1개월</option>
                            <option value="3month">3개월</option>
                            <option value="6month">6개월</option>
                            <option value="1year">1년</option>
                        </select>
                    </div>
                    <div class="select">
                        <select class="order-status-select" id="search-method" name="searchCondition">
                            <option selected>주문상태</option>
                            <option value="orderStatus1">결제완료</option>
                            <option value="orderStatus2">수거완료</option>
                            <option value="orderStatus3">세탁완료</option>
                            <option value="orderStatus4">배송준비</option>
                            <option value="orderStatus5">배송중</option>
                            <option value="orderStatus6">구매확정</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- 주문 내역 -->
            <div class="order-all" th:each="order : ${myOrders}">
                <hr style="width: 100%; border: 1px solid #c2c2c2; margin: 0;">
                <div class="order">
                    <div class="order-child1"> <!-- 왼쪽 박스 -->
                        <div class="order-num-date">
                            <div th:text="${order?.orderCode}"></div>
                            <p>|</p>
                            <div th:text="${order?.orderDate}"></div>
                        </div>
                        <div class="greybox">
                            <div th:text="${order?.progressDate}"></div>
                            <div th:text="${order?.orderStatus}"></div>
                        </div>
                    </div>

                    <div class="order-right-child1">
                        <div class="more">
                            <a th:href="@{'/user/member/myOrder/' + ${order.orderCode}}">상세보기</a>
                        </div>
                        <div class="button-wrapper">
                            <a th:if="${order.orderStatus == '구매확정'}" href="/user/member/refund" class="button">환불하기</a>
                            <a th:unless="${order.orderStatus == '구매확정'}" href="#" class="button disabled">환불하기</a>
                            <a th:if="${order.orderStatus == '구매확정'}" class="button2 review-button" th:attr="data-order-code=${order.orderCode}">후기쓰기</a>
                            <a th:unless="${order.orderStatus == '구매확정'}" href="#" class="button2 disabled">후기쓰기</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 인선 !!!! 후기 작성 모달 창 -->
<div id="modal" class="modal-overlay">
    <div class="modal-detail">
        <div class="close-area">X</div>
        <div class="reviewModalTitle">
            <h3 class="reviewTitle">후기 쓰기</h3>
        </div>
        <form id="reviewForm" action="/user/member/mysehae" method="post" enctype="multipart/form-data" >
            <div class="content">
                <input type="hidden" name="orderCode">
                <div class="modal-content">
                </div>
                <div class="rating">
                    <span class="text-bold">별점을 선택해주세요</span>
                    <input type="radio" name="rating" value="5" id="rate1"><label
                        for="rate1">★</label>
                    <input type="radio" name="rating" value="4" id="rate2"><label
                        for="rate2">★</label>
                    <input type="radio" name="rating" value="3" id="rate3"><label
                        for="rate3">★</label>
                    <input type="radio" name="rating" value="2" id="rate4"><label
                        for="rate4">★</label>
                    <input type="radio" name="rating" value="1" id="rate5"><label
                        for="rate5">★</label>
                </div>
            </div>
            <div>
                <h4 class="reviewModal">사진 첨부</h4>
                <p class="reviewModal-p">사진을 첨부해주세요.(최대 1장)</p>
                <div class="reviewBox">
                    <div class="image-area"><img src="/images/camera.png"><p>사진 첨부하기</p></div>
                </div>
            </div>
            <div>
                <h4 class="reviewModal">제목</h4>
                <div class="reviewBox">
                    <input type="text" name="title" class="reviewregist-name">
                </div>
            </div>
            <div>
                <h4 class="reviewModal">리뷰 작성</h4>
                <div class="reviewBox">
                        <textarea name="body" cols="60" rows="15" class="reviewregist-body"
                                  placeholder="자세하고 솔직한 리뷰는 다른 고객에게 큰 도움이 됩니다."></textarea>
                </div>
            </div>
            <div class="file">
                <input type="file" name="attachImage" accept="image/jpeg,image/png">
            </div>
            <br>
            <div class="reviewBox">
                <div class="reviewDML2">
                    <button type="submit" id="save">완 료</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<div th:replace="/user/common/footer.html"></div>
</body>
</html>