<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spoons.sehaehae.board.dao.BoardMapper">

    <!-- 공지사항 -->
    <resultMap id="generalNoticeResultMap" type="com.spoons.sehaehae.board.dto.NoticeDTO">
        <id property="no" column="NOTICE_NO"/>
        <result property="title" column="NOTICE_TITLE"/>
        <result property="body" column="NOTICE_BODY"/>
        <result property="createdDate" column="NOTICE_CREATED_DATE"/>
        <result property="count" column="NOTICE_COUNT"/>
        <result property="noticeWriterNo" column="NOTICE_WRITER_NO"/>
        <result property="status" column="NOTICE_STATUS"/>
        <result property="deleteDate" column="NOTICE_DELETE_DATE"/>
        <result property="modifiedDate" column="NOTICE_MODIFIED_DATE"/>

        <association property="writer" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.spoons.sehaehae.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="ID"/>
        <result property="memberPwd" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE_NUMBER"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="gender" column="GENDER"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="subscriptionDate" column="SUBSCRIPTION_DATE"/>
        <result property="profilePhoto" column="PROFILE_PHOTO"/>
        <result property="referralCode" column="REFERRAL_CODE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
        <result property="address1" column="ADDRESS1"/>
        <result property="address2" column="ADDRESS2"/>
    </resultMap>

    <!-- 자주하는 질문 -->
    <resultMap id="qnaBoardResultMap" type="com.spoons.sehaehae.board.dto.QnaDTO">
        <id property="no" column="QNA_NO"/>
        <result property="categoryNo" column="CATEGORY_NO"/>
        <result property="adminNo" column="ADMIN_NO"/>
        <result property="title" column="QNA_TITLE"/>
        <result property="body" column="QNA_BODY"/>
        <result property="createdDate" column="QNA_CREATED_DATE"/>
        <result property="status" column="QNA_STATUS"/>
        <result property="modifiedDate" column="QNA_MODIFIED_DATE"/>
        <result property="deleteDate" column="QNA_DELETE_DATE"/>

        <association property="writer" resultMap="memberResultMap"/>
        <association property="category" resultMap="categoryResultMap"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.spoons.sehaehae.board.dto.BoardCategoryDTO">
        <id property="no" column="CATEGORY_NO"/>
        <result property="name" column="CATEGORY_NAME"/>
    </resultMap>

    <!-- 후기 게시판 -->
    <resultMap id="reviewBoardResultMap" type="com.spoons.sehaehae.board.dto.ReviewDTO">
        <id property="reviewNo" column="REVIEW_NO"/>
        <result property="title" column="REVIEW_TITLE"/>
        <result property="body" column="REVIEW_BODY"/>
        <result property="count" column="REVIEW_COUNT"/>
        <result property="createdDate" column="REVIEW_CREATED_DATE"/>
        <result property="modifiedDate" column="REVIEW_MODIFIED_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="status" column="REVIEW_STATUS"/>
        <result property="deleteDate" column="REVIEW_DELETE_DATE"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="rating" column="RATING"/>

        <association property="writer" resultMap="memberResultMap"/>
        <association property="attachment" resultMap="attachmentResultMap"/>
        <association property="myOrders" resultMap="orderResultMap"/>
        <association property="point" resultMap="pointResultMap"/>
        <collection property="replyList" resultMap="replyResultMap"/>
    </resultMap>

<!--댓글-->
    <resultMap id="replyResultMap" type="com.spoons.sehaehae.board.dto.ReplyDTO">
        <id property="no" column="REPLY_NO"/>
        <result property="reviewNo" column="REVIEW_NO"/>
        <result property="body" column="REPLY_BODY"/>
        <result property="replyDate" column="REPLY_DATE"/>
        <result property="status" column="REPLY_STATUS"/>
        <result property="deleteDate" column="REVIEW_DELETE_DATE"/>
        <result property="modifiedDate" column="REPLY_MODIFIED_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>

<!--        <association property="review" resultMap="reviewBoardResultMap"/>-->
        <association property="writer" resultMap="memberResultMap"/>
<!--        <association property="writer" javaType="com.spoons.sehaehae.member.dto.MemberDTO">-->
<!--            <id property="memberNo" column="MEMBER_NO"/>-->
<!--            <result property="memberId" column="ID"/>-->
<!--            <result property="memberPwd" column="PASSWORD"/>-->
<!--            <result property="name" column="NAME"/>-->
<!--            <result property="nickname" column="NICKNAME"/>-->
<!--            <result property="phone" column="PHONE_NUMBER"/>-->
<!--            <result property="birthday" column="BIRTHDAY"/>-->
<!--            <result property="gender" column="GENDER"/>-->
<!--            <result property="zipCode" column="ZIPCODE"/>-->
<!--            <result property="subscriptionDate" column="SUBSCRIPTION_DATE"/>-->
<!--            <result property="profilePhoto" column="PROFILE_PHOTO"/>-->
<!--            <result property="referralCode" column="REFERRAL_CODE"/>-->
<!--            <result property="memberStatus" column="MEMBER_STATUS"/>-->
<!--            <result property="address1" column="ADDRESS1"/>-->
<!--            <result property="address2" column="ADDRESS2"/>-->
<!--        </association>-->
    </resultMap>

<!--첨부파일-->
    <resultMap id="attachmentResultMap" type="com.spoons.sehaehae.board.dto.AttachmentDTO">
        <id property="no" column="ATTACHED_FILE_NO"/>
        <result property="name" column="ATTACHED_FILE_NAME"/>
        <result property="route" column="ATTACHED_FILE_ROUTE"/>
        <result property="savedName" column="ATTACHED_FILE_SAVE_NAME"/>
        <result property="extension" column="ATTACHED_FILE_EXTENSION"/>
        <result property="size" column="ATTACHED_FILE_SIZE"/>
        <result property="ex" column="ATTACHED_FILE_EX"/>
        <result property="reviewNo" column="REVIEW_NO"/>
        <result property="thumbnail" column="ATTACHED_FILE_THUMBNAIL"/>

        <association property="review" resultMap="reviewBoardResultMap"/>
    </resultMap>
<!--후기 쓸 주문-->
    <!-- TBL_ORDER -->
    <resultMap id="orderResultMap" type="com.spoons.sehaehae.admin.dto.OrderDTO">
        <id property="code" column="ORDER_CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderRequest" column="ORDER_REQUEST"/>
        <result property="orderPrice" column="ORDER_PRICE"/>
        <result property="orderDiscount" column="ORDER_DISCOUNT"/>
        <result property="orderTotalPrice" column="ORDER_TOTAL_PRICE"/>
        <result property="memberCode" column="MEMBER_NO"/>
        <result property="inputZipCode" column="INPUT_ZIP_CODE"/>
        <result property="inputAddress" column="INPUT_ADDRESS"/>
        <result property="InputAddress2" column="INPUT_ADDRESS2"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="useCoupon" column="CP_CODE"/>
        <result property="usePoint" column="USE_POINT"/>
        <result property="collectionDate" column="COLLECTION_DATE"/>
        <result property="deliveryDate" column="DELIVERY_DATE"/>
        <result property="progressDate" column="PROGRESS_DATE"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
    </resultMap>

    <!-- 내 구매내역 -->
    <resultMap id="myOrderResultMap" type="com.spoons.sehaehae.member.dto.MyOrderDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="progressDate" column="PROGRESS_DATE"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
    </resultMap>

    <!-- 포인트 -->
    <resultMap id="pointResultMap" type="com.spoons.sehaehae.board.dto.ReviewPointDTO">
        <id property="ptCode" column="PT_CODE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="point" column="POINT"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="reviewNo" column="REVIEW_NO"/>
        <association property="writer" resultMap="memberResultMap"/>
    </resultMap>


    <!-- 공지사항 -->
    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TBL_NOTICE A
        <where>
            <if test="searchCondition == 'title'">
                A.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'body'">
                A.NOTICE_BODY LIKE '%' || #{ searchValue } || '%'
            </if>
            AND A.NOTICE_STATUS = 'Y'
        </where>
    </select>

    <select id="selectNoticeList" resultMap="generalNoticeResultMap">
        SELECT
        A.NOTICE_NO
        , A.NOTICE_TITLE
        , A.NOTICE_BODY
        , A.NOTICE_CREATED_DATE
        , A.NOTICE_COUNT
        , A.NOTICE_WRITER_NO
        , E.NICKNAME
        , A.NOTICE_STATUS
        , A.NOTICE_DELETE_DATE
        , A.NOTICE_MODIFIED_DATE
        FROM (SELECT
                ROWNUM RNUM
                , B.NOTICE_NO
                , B.NOTICE_TITLE
                , B.NOTICE_BODY
                , B.NOTICE_CREATED_DATE
                , B.NOTICE_COUNT
                , B.NOTICE_WRITER_NO
                , B.NOTICE_STATUS
                , B.NOTICE_DELETE_DATE
                , B.NOTICE_MODIFIED_DATE
                FROM(SELECT
                        C.NOTICE_NO
                        , C.NOTICE_TITLE
                        , C.NOTICE_BODY
                        , C.NOTICE_CREATED_DATE
                        , C.NOTICE_COUNT
                        , C.NOTICE_WRITER_NO
                        , C.NOTICE_STATUS
                        , C.NOTICE_DELETE_DATE
                        , C.NOTICE_MODIFIED_DATE
                        FROM TBL_NOTICE C
        <if test="searchCondition == 'writer'">
            JOIN TBL_MEMBER D ON(C.NOTICE_WRITER_NO == D.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'writer'">
                D.NICKNAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                C.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'body'">
                C.NOTICE_BODY LIKE '%' || #{ searchValue } || '%'
            </if>
            AND C.NOTICE_STATUS = 'Y'
        </where>
        ORDER BY C.NOTICE_NO DESC
        ) B
        <![CDATA[
                  WHERE ROWNUM <= #{ endRow }
                  ]]>
        ) A
        JOIN TBL_MEMBER E ON(A.NOTICE_WRITER_NO = E.MEMBER_NO)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 DESC
    </select>

    <update id="incrementNoticeCount">
        UPDATE
        TBL_NOTICE A
        SET A.NOTICE_COUNT = A.NOTICE_COUNT + 1
        WHERE A.NOTICE_NO = #{ no }
    </update>

    <select id="selectNoticeDetail" resultMap="generalNoticeResultMap">
        SELECT
        A.NOTICE_NO
        , A.NOTICE_TITLE
        , A.NOTICE_BODY
        , A.NOTICE_CREATED_DATE
        , A.NOTICE_COUNT
        , B.MEMBER_NO
        , B.NICKNAME
        FROM TBL_NOTICE A
        JOIN TBL_MEMBER B ON (A.NOTICE_WRITER_NO = B.MEMBER_NO)
        WHERE A.NOTICE_STATUS = 'Y'
        AND A.NOTICE_NO = #{ no }
    </select>

    <insert id="insertNotice">
        INSERT
        INTO TBL_NOTICE A
        (
        A.NOTICE_NO
        , A.NOTICE_TITLE
        , A.NOTICE_BODY
        , A.NOTICE_CREATED_DATE
        , A.NOTICE_COUNT
        , A.NOTICE_WRITER_NO
        , A.NOTICE_STATUS
        )
        VALUES
        (
        SEQ_NOTICE_NO.NEXTVAL
        , #{ title }
        , #{ body }
        , SYSDATE
        , 0
        , 23
        <!--        , #{ writer.memberNo }-->
        , 'Y'
        )
    </insert>

    <update id="updateNotice">
        UPDATE TBL_NOTICE
        SET NOTICE_TITLE = #{ title }
        , NOTICE_BODY = #{ body }
        , NOTICE_MODIFIED_DATE = SYSDATE
        WHERE NOTICE_NO = #{ no }
    </update>

    <update id="deleteNotice">
        UPDATE TBL_NOTICE
        SET NOTICE_STATUS = 'N'
        WHERE NOTICE_STATUS = 'Y'
        AND NOTICE_NO = #{ no }
    </update>

    <!-- 자주하는 질문 -->
    <select id="qnaTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TBL_QNA A
        <if test="searchCondition == 'category'">
            JOIN TBL_BOARD_CATEGORY B ON(A.CATEGORY_NO = B.CATEGORY_NO)
        </if>
        <where>
            <if test="searchCondition == 'category'">
                B.CATEGORY_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                A.QNA_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                A.QNA_BODY LIKE '%' || #{ searchValue } || '%'
            </if>
            AND A.QNA_STATUS = 'Y'
        </where>
    </select>

    <select id="selectQnaList" resultMap="qnaBoardResultMap">
        SELECT
        A.QNA_NO
        , A.CATEGORY_NO
        , D.CATEGORY_NAME
        , A.ADMIN_NO
        , E.NICKNAME
        , A.QNA_TITLE
        , A.QNA_BODY
        , A.QNA_CREATED_DATE
        , A.QNA_STATUS
        , A.QNA_MODIFIED_DATE
        , A.QNA_DELETE_DATE
        FROM (SELECT
        ROWNUM RNUM
        , B.QNA_NO
        , B.CATEGORY_NO
        , B.ADMIN_NO
        , B.QNA_TITLE
        , B.QNA_BODY
        , B.QNA_CREATED_DATE
        , B.QNA_STATUS
        , B.QNA_MODIFIED_DATE
        , B.QNA_DELETE_DATE
        FROM(SELECT
        C.QNA_NO
        , C.CATEGORY_NO
        , C.ADMIN_NO
        , C.QNA_TITLE
        , C.QNA_BODY
        , C.QNA_CREATED_DATE
        , C.QNA_STATUS
        , C.QNA_MODIFIED_DATE
        , C.QNA_DELETE_DATE
        FROM TBL_QNA C
        <if test="searchCondition == 'category'">
            JOIN TBL_BOARD_CATEGORY D ON(C.CATEGORY_NO = D.CATEGORY_NO)
        </if>
        <where>
            <if test="searchCondition == 'category'">
                <!--                D.CATEGORY_NAME = #{ searchValue }-->
                D.CATEGORY_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                C.QNA_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'body'">
                C.QNA_BODY LIKE '%' || #{ searchValue } || '%'
            </if>
            AND C.QNA_STATUS = 'Y'
        </where>
        ORDER BY C.QNA_NO DESC
        ) B
        <![CDATA[
                  WHERE ROWNUM <= #{ endRow }
                  ]]>
        ) A
        JOIN TBL_BOARD_CATEGORY D ON (A.CATEGORY_NO = D.CATEGORY_NO)
        JOIN TBL_MEMBER E ON(A.ADMIN_NO = E.MEMBER_NO)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 DESC
    </select>

    <select id="selectQnaView" resultMap="qnaBoardResultMap">
        SELECT
        A.QNA_NO
        , C.CATEGORY_NAME
        , B.MEMBER_NO
        , B.NICKNAME
        , A.QNA_TITLE
        , A.QNA_BODY
        , A.QNA_CREATED_DATE
        FROM TBL_QNA A
        JOIN TBL_MEMBER B ON (A.ADMIN_NO = B.MEMBER_NO)
        JOIN TBL_BOARD_CATEGORY C ON (A.CATEGORY_NO = C.CATEGORY_NO)
        WHERE A.QNA_STATUS = 'Y'
        AND A.QNA_NO = #{ no }
    </select>

    <insert id="insertQna">
        INSERT
        INTO TBL_QNA A
        (
        A.QNA_NO
        , A.CATEGORY_NO
        , A.ADMIN_NO
        , A.QNA_TITLE
        , A.QNA_BODY
        , A.QNA_CREATED_DATE
        , A.QNA_STATUS
        )
        VALUES
        (
        SEQ_QNA_NO.NEXTVAL
        , #{ categoryNo }
        , 23
        , #{ title }
        , #{ body }
        , SYSDATE
        , 'Y'
        )
    </insert>

    <update id="updateQna">
        UPDATE TBL_QNA
        SET CATEGORY_NO = #{ categoryNo }
        , QNA_TITLE = #{ title }
        , QNA_BODY = #{ body }
        , QNA_MODIFIED_DATE = SYSDATE
        WHERE QNA_NO = #{ no }
    </update>

    <update id="deleteQna">
        UPDATE TBL_QNA
        SET QNA_STATUS = 'N'
        WHERE QNA_STATUS = 'Y'
        AND QNA_NO = #{ no }
    </update>

    <!-- 후기 게시판 -->
    <select id="findMyOrder" resultMap="myOrderResultMap">
        SELECT B.*
        FROM TBL_MEMBER A
        LEFT JOIN TBL_ORDER B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE MEMBER_STATUS = 'Y'
        AND A.ID = #{ memberId }
    </select>

    <insert id="insertReview">
        INSERT
        INTO TBL_REVIEW A
        (
        A.REVIEW_NO
        , A.REVIEW_TITLE
        , A.REVIEW_BODY
        , A.REVIEW_COUNT
        , A.REVIEW_CREATED_DATE
        , A.MEMBER_NO
        , A.REVIEW_STATUS
        , A.ORDER_CODE
        , A.RATING
        )
        VALUES
        (
        SEQ_REVIEW_NO.NEXTVAL
        , #{ title }
        , #{ body }
        , 0
        , SYSDATE
        , #{ writer.memberNo }
        , 'Y'
        , #{ orderCode }
        , #{ rating }
        )
    </insert>

    <insert id="insertAttachment">
        INSERT
        INTO ATTACHED_FILE A
        (
          A.ATTACHED_FILE_NO
        , A.ATTACHED_FILE_NAME
        , A.ATTACHED_FILE_ROUTE
        , A.ATTACHED_FILE_SAVE_NAME
        , A.ATTACHED_FILE_EXTENSION
        , A.ATTACHED_FILE_SIZE
        , A.REVIEW_NO
        , A.ATTACHED_FILE_THUMBNAIL
        )
        VALUES
        (
        SEQ_ATTACHED_FILE_NO.NEXTVAL
        , #{ name }
        , #{ route }
        , #{ savedName }
        , #{ extension }
        , #{ size }
        , SEQ_REVIEW_NO.CURRVAL
        , #{ thumbnail }
        )
    </insert>

    <update id="updateOrderReviewStatus">
        UPDATE TBL_ORDER
        SET REVIEW_STATUS = '작성완료'
        WHERE REVIEW_STATUS IS NULL
        AND ORDER_CODE = #{ ordercode }
    </update>

    <insert id="insertPoint">
        INSERT
        INTO TBL_PT A
        (
        A.PT_CODE
        , A.MEMBER_NO
        , A.POINT
        , A.ORDER_CODE
        , A.REVIEW_NO
        )
        VALUES
        (
        SEQ_PT_CODE.NEXTVAL
        , #{ memberNo }
        , 300
        , #{ orderCode }
        , SEQ_REVIEW_NO.CURRVAL
        )
    </insert>

    <select id="reviewTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM TBL_REVIEW A
        <where>
            <if test="searchCondition == 'title'">
                A.REVIEW_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'body'">
                A.REVIEW_BODY LIKE '%' || #{ searchValue } || '%'
            </if>
            AND A.REVIEW_STATUS = 'Y'
        </where>
    </select>

    <select id="selectReviewList" resultMap="reviewBoardResultMap">
        SELECT
              A.REVIEW_NO
            , D.ATTACHED_FILE_EX
            , D.ATTACHED_FILE_THUMBNAIL
            , A.REVIEW_TITLE
            , A.REVIEW_BODY
            , A.REVIEW_COUNT
            , A.REVIEW_CREATED_DATE
            , A.MEMBER_NO
            , E.NICKNAME
            , A.REVIEW_STATUS
            , A.ORDER_CODE
            , A.RATING
         FROM ( SELECT
                       ROWNUM RNUM
                    , B.REVIEW_NO
                    , B.REVIEW_TITLE
                    , B.REVIEW_BODY
                    , B.REVIEW_COUNT
                    , B.REVIEW_CREATED_DATE
                    , B.MEMBER_NO
                    , B.REVIEW_STATUS
                    , B.ORDER_CODE
                    , B.RATING
                FROM(SELECT
                              C.REVIEW_NO
                            , C.REVIEW_TITLE
                            , C.REVIEW_BODY
                            , C.REVIEW_COUNT
                            , C.REVIEW_CREATED_DATE
                            , C.MEMBER_NO
                            , C.REVIEW_STATUS
                            , C.ORDER_CODE
                            , C.RATING
                       FROM TBL_REVIEW C
                <where>
                    <if test="searchCondition == 'title'">
                        C.REVIEW_TITLE LIKE '%' || #{ searchValue } || '%'
                    </if>
                    <if test="searchCondition == 'body'">
                        C.REVIEW_BODY LIKE '%' || #{ searchValue } || '%'
                    </if>
                    AND C.REVIEW_STATUS = 'Y'
                </where>
                      ORDER BY C.REVIEW_NO DESC
                      ) B
        <![CDATA[
              WHERE ROWNUM <= #{ endRow }
              ]]>
        ) A
        JOIN ATTACHED_FILE D ON(A.REVIEW_NO = D.REVIEW_NO)
        JOIN TBL_MEMBER E ON(A.MEMBER_NO = E.MEMBER_NO)
        JOIN TBL_ORDER F ON(A.ORDER_CODE = F.ORDER_CODE)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 DESC
    </select>

    <select id="selectReviewView" resultMap="reviewBoardResultMap">
        SELECT
        A.REVIEW_NO
        , B.MEMBER_NO
        , B.NICKNAME
        , A.REVIEW_TITLE
        , A.REVIEW_BODY
        , A.REVIEW_COUNT
        , A.REVIEW_CREATED_DATE
        , C.ORDER_CODE
        , A.RATING
        , D.ATTACHED_FILE_THUMBNAIL
        FROM TBL_REVIEW A
        JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
        JOIN TBL_ORDER C ON (A.ORDER_CODE = C.ORDER_CODE)
        JOIN ATTACHED_FILE D ON(A.REVIEW_NO = D.REVIEW_NO)
        WHERE A.REVIEW_STATUS = 'Y'
        AND A.REVIEW_NO = #{ reviewNo }
    </select>

    <update id="incrementReviewCount">
        UPDATE
        TBL_REVIEW A
        SET A.REVIEW_COUNT = A.REVIEW_COUNT + 1
        WHERE A.REVIEW_NO = #{ reviewNo }
    </update>

    <update id="deleteReview">
        UPDATE TBL_REVIEW
        SET REVIEW_STATUS = 'N'
        , REVIEW_DELETE_DATE = SYSDATE
        WHERE REVIEW_STATUS = 'Y'
        AND REVIEW_DELETE_DATE IS NULL
        AND REVIEW_NO = #{ reviewNo }
    </update>

    <!-- 댓글 -->
    <insert id="insertReply">
        INSERT
        INTO TBL_REPLY A
        (
              A.REPLY_NO
            , A.REVIEW_NO
            , A.REPLY_BODY
            , A.REPLY_DATE
            , A.REPLY_STATUS
            , A.MEMBER_NO
        )
        VALUES
        (
          SEQ_REPLY_NO.NEXTVAL
        , #{ reviewNo }
        , #{ body }
        , SYSDATE
        , 'Y'
        , #{ writer.memberNo }
        )
    </insert>

    <select id="selectReplyList" resultMap="replyResultMap">
        SELECT
              A.REPLY_NO
            , A.REVIEW_NO
            , A.REPLY_BODY
            , A.REPLY_DATE
            , A.REPLY_STATUS
            , B.MEMBER_NO
            , B.NICKNAME
        FROM TBL_REPLY A
        JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE A.REPLY_STATUS = 'Y'
        AND A.REVIEW_NO = #{ reviewNo }
        ORDER BY A.REPLY_NO DESC
    </select>

    <update id="deleteReply">
        UPDATE TBL_REPLY A
        SET A.REPLY_STATUS = 'N',
        A.REPLY_MODIFIED_DATE = SYSDATE
        WHERE A.REPLY_STATUS = 'Y'
        AND A.REPLY_MODIFIED_DATE IS NULL
        AND A.REPLY_NO = #{ no }
    </update>

    <select id="getCommentCountForReview" resultType="int">
        SELECT COUNT(*) AS comment_count
        FROM TBL_REPLY
        WHERE REVIEW_NO = #{reviewNo}
        AND REPLY_STATUS = 'Y'
    </select>
</mapper>