<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spoons.sehaehae.member.dao.MemberMapper">

    <!-- TBL_MEMBER -->
    <resultMap id="memberResultMap" type="com.spoons.sehaehae.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="ID"/>
        <result property="memberPwd" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE_NUMBER"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="gender" column="GENDER"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="subscriptionDate" column="SUBSCRIPTION_DATE"/>
        <result property="profilePhoto" column="PROFILE_PHOTO"/>
        <result property="referralCode" column="REFERRAL_CODE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
        <result property="address1" column="ADDRESS1"/>
        <result property="address2" column="ADDRESS2"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
        <collection property="memberLevelList" resultMap="memberLevelResultMap"/>
    </resultMap>

    <resultMap type="com.spoons.sehaehae.member.dto.MemberRoleDTO" id="memberRoleResultMap">
        <id property="memberNo" column="REF_MEMBER_NO"/>
        <id property="authorityCode" column="REF_AUTHORITY_CODE"/>
        <association property="authority" resultMap="authorityResultMap"/>
    </resultMap>

    <resultMap type="com.spoons.sehaehae.member.dto.AuthorityDTO" id="authorityResultMap">
        <id property="code" column="REF_AUTHORITY_CODE2"/>
        <result property="name" column="AUTHORITY_NAME"/>
        <result property="desc" column="AUTHORITY_DESC"/>
    </resultMap>

    <resultMap type="com.spoons.sehaehae.member.dto.MemberLevelDTO" id="memberLevelResultMap">
        <id property="memberNo" column="REF_MEMBER_NO2"/>
        <id property="membershipCode" column="REF_MEMBERSHIP_CODE"/>
        <association property="membership" resultMap="membershipResultMap"/>
    </resultMap>

    <resultMap type="com.spoons.sehaehae.member.dto.MemberShipDTO" id="membershipResultMap">
        <id property="membershipCode" column="REF_MEMBERSHIP_CODE2"/>
        <result property="membershipName" column="MEMBERSHIP_NAME"/>
    </resultMap>


    <!-- TBL_ORDER -->
    <resultMap id="orderResultMap" type="com.spoons.sehaehae.member.dto.MyOrderDTO">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderRequest" column="ORDER_REQUEST"/>
        <result property="orderPrice" column="ORDER_PRICE"/>
        <result property="orderDiscount" column="ORDER_DISCOUNT"/>
        <result property="orderTotalPrice" column="ORDER_TOTAL_PRICE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE_NUMBER"/>
        <result property="inputZipCode" column="INPUT_ZIP_CODE"/>
        <result property="inputAddress" column="INPUT_ADDRESS"/>
        <result property="inputAddress2" column="INPUT_ADDRESS2"/>
        <result property="useCoupon" column="CP_CODE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="usePoint" column="USE_POINT"/>
        <result property="collectionDate" column="COLLECTION_DATE"/>
        <result property="deliveryDate" column="DELIVERY_DATE"/>
        <result property="progressDate" column="PROGRESS_DATE"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
    </resultMap>

    <resultMap id="productResultMap" type="com.spoons.sehaehae.member.dto.MyOrderProductDTO">
        <id property="productCode" column="PRODUCT_CODE"/>
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="orderAmount" column="ORDER_AMOUNT"/>
        <result property="usePremium" column="USE_PREMIUM"/>
        <result property="useEco" column="USE_ECO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
    </resultMap>

    <select id="findMyProduct" parameterType="String" resultMap="productResultMap">
        SELECT A.PRODUCT_CODE,
               A.ORDER_CODE,
               A.ORDER_AMOUNT,
               A.USE_PREMIUM,
               A.USE_ECO,
               B.PRODUCT_NAME,
               B.PRODUCT_PRICE
        FROM TBL_ORDER_PRODUCT A
                 LEFT JOIN TBL_PRODUCT B
                           ON (A.PRODUCT_CODE = B.PRODUCT_CODE)
        WHERE 1 = 1
          AND ORDER_CODE = #{orderCode}
    </select>


    <select id="findMyOrderDetails" parameterType="String" resultMap="orderResultMap">
        SELECT A.MEMBER_NO,
               A.NAME,
               A.PHONE_NUMBER,
               B.ORDER_CODE,
               B.ORDER_DATE,
               B.ORDER_REQUEST,
               B.ORDER_PRICE,
               B.ORDER_DISCOUNT,
               B.ORDER_TOTAL_PRICE,
               B.INPUT_ZIP_CODE,
               B.INPUT_ADDRESS,
               B.INPUT_ADDRESS2,
               B.CP_CODE,
               B.ORDER_STATUS,
               B.USE_POINT,
               B.COLLECTION_DATE,
               B.DELIVERY_DATE,
               B.PROGRESS_DATE,
               B.REVIEW_STATUS,
               B.REWARD
        FROM TBL_MEMBER A
                 LEFT JOIN TBL_ORDER B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE 1 = 1
          AND B.ORDER_CODE = #{orderCode}
    </select>


    <!-- 내 구매내역 -->
    <resultMap id="myOrderResultMap" type="com.spoons.sehaehae.member.dto.MyOrderDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="progressDate" column="PROGRESS_DATE"/>
        <result property="reviewStatus" column="REVIEW_STATUS"/>
    </resultMap>

    <!-- TBL_COUPON -->
    <resultMap id="couponResultMap" type="com.spoons.sehaehae.admin.dto.CouponDTO">
        <id property="cpCode" column="CP_CODE"/>
        <result property="cpName" column="CP_NAME"/>
        <result property="cpRate" column="CP_RATE"/>
        <result property="cpSdate" column="CP_SDATE"/>
        <result property="cpEdate" column="CP_EDATE"/>
        <result property="cpStatus" column="CP_STATUS"/>
    </resultMap>

    <!-- 내 쿠폰내역 -->
    <resultMap id="myCouponResultMap" type="com.spoons.sehaehae.member.dto.MyCouponDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="cpCode" column="CP_CODE"/>
        <result property="getDate" column="GET_DATE"/>
        <result property="useStatus" column="USE_STATUS"/>
        <result property="useDate" column="USE_DATE"/>
        <result property="cpName" column="CP_NAME"/>
        <result property="cpRate" column="CP_RATE"/>
        <result property="cpEdate" column="CP_EDATE"/>
    </resultMap>

    <!-- 포인트 조회 -->
    <resultMap id="myPointResultMap" type="com.spoons.sehaehae.member.dto.MyPointDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="ptCode" column="PT_CODE"/>
        <result property="point" column="POINT"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="reviewNo" column="REVIEW_NO"/>
    </resultMap>

    <!-- 리뷰 조회 -->
    <!-- 후기 게시판 -->
    <resultMap id="myReviewResultMap" type="com.spoons.sehaehae.board.dto.ReviewDTO">
        <id property="reviewNo" column="REVIEW_NO"/>
        <result property="title" column="REVIEW_TITLE"/>
        <result property="body" column="REVIEW_BODY"/>
        <result property="count" column="REVIEW_COUNT"/>
        <result property="createdDate" column="REVIEW_CREATED_DATE"/>
        <result property="modifiedDate" column="REVIEW_MODIFIED_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="status" column="REVIEW_STATUS"/>
        <result property="deleteDate" column="REVIEW_DELETE_DATE"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="rating" column="RATING"/>

        <association property="writer" resultMap="memberResultMap"/>
        <association property="attachment" resultMap="attachmentResultMap"/>
        <association property="myOrders" resultMap="myOrderResultMap"/>
    </resultMap>

    <resultMap id="myRePlyResultMap" type="com.spoons.sehaehae.board.dto.ReplyDTO">
       <id property="no" column="REPLY_NO"></id>
       <result property="body" column="REPLY_BODY"></result>
       <result property="memberNo" column="MEMBER_NO"></result>
        <result property="status" column="REPLY_STATUS"></result>
    </resultMap>

    <!--첨부파일 / 첨부 안할거면 빼기 -->
    <resultMap id="attachmentResultMap" type="com.spoons.sehaehae.board.dto.AttachmentDTO">
        <id property="no" column="ATTACHED_FILE_NO"/>
        <result property="name" column="ATTACHED_FILE_NAME"/>
        <result property="route" column="ATTACHED_FILE_ROUTE"/>
        <result property="savedName" column="ATTACHED_FILE_SAVE_NAME"/>
        <result property="extension" column="ATTACHED_FILE_EXTENSION"/>
        <result property="size" column="ATTACHED_FILE_SIZE"/>
        <result property="ex" column="ATTACHED_FILE_EX"/>
        <result property="reviewNo" column="REVIEW_NO"/>
        <result property="thumbnail" column="ATTACHED_FILE_THUMBNAIL"/>

        <association property="review" resultMap="myReviewResultMap"/>
    </resultMap>

    <resultMap id="myRefundResultMap" type="com.spoons.sehaehae.member.dto.MyRefundDTO">
        <id property = "refundCode" column="REFUND_CODE"/>
        <result property = "orderCode" column="ORDER_CODE"/>
        <result property = "refundReceiptDate" column="REFUND_RECEIPT_DATE"/>
        <result property = "processStatus" column="PROCESS_STATUS"/>
        <result property = "refundReason" column="REASON"/>
    </resultMap>
    
    <!-- 환불 조회 -->
    <select id="findMyRefund" resultMap="myRefundResultMap">
        SELECT
            *
        FROM TBL_REFUND
        WHERE ORDER_CODE = #{orderCode}
    </select>

    <!-- 환불 -->
    <insert id="saveRefund">
        INSERT INTO TBL_REFUND
        (REFUND_CODE,
         ORDER_CODE,
         REFUND_RECEIPT_DATE,
         PROCESS_STATUS,
         REFUND_REASON)
        VALUES (SEQ_REFUND_CODE.NEXTVAL,
                #{orderCode},
                SYSDATE,
                '환불요청',
                #{refundReason})
    </insert>


    <!--
        <resultMap type="com.spoons.sehaehae.member.dto.ProfileAttachmentDTO" id="profileAttachmentResultMap">
            <id property="profilePhotoNo" column="PROFILE_PHOTO_NO"></id>
            <result property="memberNo" column="REF_MEMBER_NO3"/>
            <result property="originalProfilePhotoName" column="ORIGINAL_NAME_PROFILE"/>
            <result property="savedProfilePhotoName" column="SAVED_NAME_PROFILE"/>
            <result property="savePathProfile" column="SAVE_PATH_PROFILE"/>
            <result property="profileFileType" column="FILE_TYPE_PROFILE"/>
        </resultMap>-->


    <select id="findByMemberId" resultMap="memberResultMap">
        SELECT A.MEMBER_NO
             , A.ID
             , A.PASSWORD
             , A.NAME
             , A.NICKNAME
             , A.PHONE_NUMBER
             , A.BIRTHDAY
             , A.GENDER
             , A.ZIPCODE
             , A.SUBSCRIPTION_DATE
             , A.PROFILE_PHOTO
             , A.REFERRAL_CODE
             , A.MEMBER_STATUS
             , A.ADDRESS1
             , A.ADDRESS2
             , B.MEMBER_NO       REF_MEMBER_NO
             , B.AUTHORITY_CODE  REF_AUTHORITY_CODE
             , C.AUTHORITY_CODE  REF_AUTHORITY_CODE2
             , C.AUTHORITY_NAME
             , C.AUTHORITY_DESC
             , D.MEMBER_NO       REF_MEMBER_NO2
             , D.MEMBERSHIP_CODE REF_MEMBERSHIP_CODE
             , E.MEMBERSHIP_CODE REF_MEMBERSHIP_CODE2
             , E.MEMBERSHIP_NAME
        FROM TBL_MEMBER A
                 LEFT JOIN TBL_MEMBER_ROLE B ON (A.MEMBER_NO = B.MEMBER_NO)
                 LEFT JOIN TBL_MEMBER_LEVEL D ON (A.MEMBER_NO = D.MEMBER_NO)
                 LEFT JOIN TBL_AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
                 LEFT JOIN TBL_MEMBERSHIP E ON (D.MEMBERSHIP_CODE = E.MEMBERSHIP_CODE)
        WHERE A.MEMBER_STATUS = 'Y'
          AND A.ID = #{ memberId }
    </select>


    <select id="selectMemberById" resultType="String">
        SELECT ID
        FROM TBL_MEMBER
        WHERE MEMBER_STATUS = 'Y'
          AND ID = #{ memberId }
    </select>


    <insert id="insertMember">
        INSERT
        INTO TBL_MEMBER
        ( MEMBER_NO
        , ID
        , PASSWORD
        , NAME
        , NICKNAME
        , PHONE_NUMBER
        , BIRTHDAY
        , GENDER
        , ZIPCODE
        , SUBSCRIPTION_DATE
        , MEMBER_STATUS
        , REFERRAL_CODE
        , ADDRESS1
        , ADDRESS2)
        VALUES ( SEQ_MEMBER_NO.NEXTVAL
               , #{ memberId }
               , #{ memberPwd }
               , #{ name }
               , #{ nickname }
               , #{ phone }
               , (to_date(#{ birthday }, 'MM-DD-YYYY'))
               , #{ gender }
               , #{ zipCode }
               , SYSDATE
               , 'Y'
               , 'ABC1234'
               , #{ address1 }
               , #{ address2 })
    </insert>

    <insert id="insertMemberRole">
        INSERT
        INTO TBL_MEMBER_ROLE
        ( MEMBER_NO
        , AUTHORITY_CODE)
        VALUES ( SEQ_MEMBER_NO.CURRVAL
               , 2)
    </insert>

    <insert id="insertMemberLevel">
        INSERT
        INTO TBL_MEMBER_LEVEL
        ( MEMBER_NO
        , MEMBERSHIP_CODE)
        VALUES ( SEQ_MEMBER_NO.CURRVAL
               , 1)
    </insert>


    <insert id="insertThumbnailContent"></insert>

    <select id="selectEncryptedPwd" resultType="string">
        SELECT PASSWORD
        FROM TBL_MEMBER
        WHERE MEMBER_STATUS = 'Y'
          AND ID = #{ memberId }
    </select>

    <select id="findMyOrder" resultMap="myOrderResultMap">
        SELECT B.*
        FROM TBL_MEMBER A
                 LEFT JOIN TBL_ORDER B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE MEMBER_STATUS = 'Y'
          AND A.ID = #{ memberId }
    </select>

    <select id="findMyCoupon" resultMap="myCouponResultMap">
        SELECT A.ID,
               B.*,
               C.CP_NAME,
               C.CP_RATE,
               C.CP_EDATE
        FROM TBL_MEMBER A
                 LEFT JOIN TBL_CPBOX B ON A.MEMBER_NO = B.MEMBER_NO
                 LEFT JOIN TBL_CP C ON B.CP_CODE = C.CP_CODE
        WHERE 1 = 1
          AND A.MEMBER_NO = #{ memberNo }
          AND B.USE_STATUS = 'N'
    </select>

    <select id="findMyPoint" resultType="java.lang.Integer">
        SELECT SUM(POINT) AS TOTAL_POINT
        FROM TBL_MEMBER A
                 LEFT JOIN TBL_PT B ON A.MEMBER_NO = B.MEMBER_NO
        WHERE B.MEMBER_NO = #{memberNo}
        GROUP BY B.MEMBER_NO
    </select>

    <select id="findMyReview" resultMap="myReviewResultMap">
        SELECT REVIEW_TITLE
        FROM TBL_REVIEW
        WHERE 1 = 1
          AND MEMBER_NO = #{memberNo}
    </select>

    <select id="findMyReply" resultMap="myRePlyResultMap">
        SELECT REPLY_BODY
        FROM TBL_REPLY
        WHERE 1=1
        AND MEMBER_NO = #{memberNo}
        AND REPLY_STATUS = 'Y'
    </select>

    <select id="selectMember" resultMap="memberResultMap">
        SELECT MEMBER_NO
             , ID
             , NICKNAME
             , PHONE
             , EMAIL
             , ZIPCODE
             , ADDRESS1
             , ADDRESS2
             , MEMBER_STATUS
        FROM TBL_MEMBER A
        WHERE MEMBER_STATUS = 'Y'
          AND ID = #{ memberId }
    </select>

    <update id="updateMember">
        UPDATE
            TBL_MEMBER
        SET NICKNAME      = #{ nickname }
          , BIRTHDAY      = #{ birthday }
          , PHONE_NUMBER  = #{ phone }
          , ZIPCODE       = #{ zipCode }
          , ADDRESS1      = #{ address1 }
          , ADDRESS2      = #{ address2 }
          , PROFILE_PHOTO = #{profilePhoto}

        WHERE MEMBER_STATUS = 'Y'
          AND MEMBER_NO = #{ memberNo }
    </update>



    <!-- 동한님 -->


   <select id="selectMemberList" resultMap="memberResultMap">
        select
            A.*
        from    TBL_MEMBER A
        where	MEMBER_STATUS = 'Y'
        order by MEMBER_NO asc
    </select>

    <insert id="insertFirstCoupon">
        insert into TBL_CPBOX
        (
         CP_CODE,
         MEMBER_NO,
         USE_STATUS
        )
        values
        (
         1,
         SEQ_MEMBER_NO.CURRVAL,
         'N'
        )
    </insert>

    <insert id="insertFirstPoint">
        INSERT INTO TBL_PT
        (
         PT_CODE,
         MEMBER_NO,
         POINT
         )
        VALUES
        (
         SEQ_PT_CODE.NEXTVAL,
         SEQ_MEMBER_NO.CURRVAL,
         0
        )

    </insert>

    <update id="adUpdateMember">
        update TBL_MEMBER
        set NAME=#{name},
            ID=#{memberId},
            NICKNAME=#{nickname},
            PHONE_NUMBER=#{phone},
            GENDER=#{gender},
            BIRTHDAY = (to_date(#{ birthday }, 'MM-DD-YYYY')),
            ADDRESS1=#{address1},
            ADDRESS2=#{address2}
        where MEMBER_NO = #{memberNo}
    </update>

    <update id="removeMember">
        update TBL_MEMBER
        set MEMBER_STATUS = 'N'
        where MEMBER_NO = ${memberNo}
    </update>


    <select id="getfNum" parameterType="int">
        select count(*)
        from TBL_MEMBER
        where MEMBER_STATUS = 'Y'
          and GENDER = 'F'
    </select>


    <select id="getmNum" parameterType="int">
        select count(*)
        from TBL_MEMBER
        where MEMBER_STATUS = 'Y'
          and GENDER = 'M'
    </select>

    <select id="getFirst" parameterType="int">
        SELECT count(*)
        FROM TBL_MEMBER
        where TRUNC((sysdate - BIRTHDAY) / 365, -1) <![CDATA[<=]]> 10
    </select>
    <select id="getSecond" parameterType="int">
        SELECT count(*)
        FROM TBL_MEMBER
        where TRUNC((sysdate - BIRTHDAY) / 365, -1) = 20
    </select>
    <select id="getThird" parameterType="int">
        SELECT count(*)
        FROM TBL_MEMBER
        where TRUNC((sysdate - BIRTHDAY) / 365, -1) = 30
    </select>
    <select id="getFourth" parameterType="int">
        SELECT count(*)
        FROM TBL_MEMBER
        where TRUNC((sysdate - BIRTHDAY) / 365, -1) = 40
    </select>
    <select id="getFifth" parameterType="int">
        SELECT count(*)
        FROM TBL_MEMBER
        where TRUNC((sysdate - BIRTHDAY) / 365, -1) <![CDATA[>=]]> 50
    </select>



</mapper>



