<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spoons.sehaehae.product.dao.ProductMapper">


    <resultMap id="productResultMap" type="com.spoons.sehaehae.product.dto.ProductDTO">
        <id property="code" column="PRODUCT_CODE"/>
        <result property="name" column="PRODUCT_NAME"/>
        <result property="price" column="PRODUCT_PRICE"/>
        <result property="premiumPrice" column="PRODUCT_PREMIUM_PRICE"/>
        <result property="useableStatus" column="USEABLE_STATUS"/>
        <result property="ecoPrice" column="PRODUCT_ECO_PRICE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="deleteDate" column="DELETE_DATE"/>
        <result property="deleteStatus" column="DELETE_STATUS"/>
        <result property="photo" column="PRODUCT_PHOTO"/>
        <association property="category" resultMap="categoryResultMap"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.spoons.sehaehae.product.dto.CategoryDTO">
        <id column="CATEGORY_CODE" property="code"/>
        <result column="CATEGORY_NAME" property="name"/>
    </resultMap>

    <resultMap id="cartResultMap" type="com.spoons.sehaehae.product.dto.CartDTO">
        <id column="MEMBER_NO" property="member"/>
        <result column="CART_AMOUNT" property="amount"/>
        <result column="USE_ECO" property="useEco"/>
        <result column="USE_PREMIUM" property="usePremium"/>
        <association resultMap="productResultMap" property="product"/>
    </resultMap>
    <resultMap id="memberResultMap" type="com.spoons.sehaehae.member.dto.MemberDTO">
        <id column="MEMBER_NO" property="memberNo"/>
        <result column="NAME" property="name"/>
        <result column="PHONE_NUMBER" property="phone"/>
        <result column="ZIPCODE" property="zipCode"/>
        <result column="ADDRESS2" property="address2"/>
        <result column="ADDRESS1" property="address1"/>
    </resultMap>


    <insert id="registCategory" parameterType="string">
        INSERT INTO
        TBL_CATEGORY
        (CATEGORY_CODE, CATEGORY_NAME)
        VALUES
        (SEQ_PRODUCT_CATEGORY_NO.nextval,#{categoryName})
    </insert>

    <insert id="registProduct">
        INSERT INTO
        TBL_PRODUCT
        (PRODUCT_CODE,PRODUCT_NAME,CATEGORY_CODE,PRODUCT_PRICE,PRODUCT_PREMIUM_PRICE,USEABLE_STATUS,REGIST_DATE,PRODUCT_PHOTO)
        VALUES
        (SEQ_PRODUCT_NO.NEXTVAL,#{name},#{category.code},#{price},#{premiumPrice},#{useableStatus},#{registDate},#{photo})
    </insert>

    <select id="selectProduct" resultMap="productResultMap">
        SELECT
        A.PRODUCT_NAME,
        A.PRODUCT_CODE,
        B.CATEGORY_NAME,
        A.PRODUCT_PRICE,
        A.PRODUCT_PREMIUM_PRICE,
        A.PRODUCT_ECO_PRICE,
        A.PRODUCT_PHOTO
        FROM TBL_PRODUCT A
        JOIN TBL_CATEGORY B ON(A.CATEGORY_CODE = B.CATEGORY_CODE)
        WHERE A.USEABLE_STATUS = 'Y'
        AND A.DELETE_STATUS = 'N'
        <if test="searchValue != null">
            AND PRODUCT_NAME LIKE '%' || #{searchValue} || '%'
        </if>
        <if test="searchCondition != null">
            AND CATEGORY_NAME = #{searchCondition}
        </if>
        ORDER BY A.PRODUCT_CODE

    </select>

    <select id="selectAllProduct" resultMap="productResultMap">
        SELECT
        A.PRODUCT_NAME,
        A.PRODUCT_CODE,
        B.CATEGORY_NAME,
        A.PRODUCT_PRICE,
        A.PRODUCT_PREMIUM_PRICE,
        A.PRODUCT_ECO_PRICE,
        A.PRODUCT_PHOTO,
        A.USEABLE_STATUS
        FROM TBL_PRODUCT A
        JOIN TBL_CATEGORY B ON(A.CATEGORY_CODE = B.CATEGORY_CODE)
        WHERE DELETE_STATUS = 'N'
        <if test="searchValue != null">
            AND PRODUCT_NAME LIKE '%' || #{searchValue} || '%'
        </if>
        <if test="searchCondition != null">
            AND CATEGORY_NAME = #{searchCondition}
        </if>
        ORDER BY PRODUCT_CODE
    </select>


    <select id="selectCategory" resultMap="categoryResultMap">
        SELECT
        *
        FROM TBL_CATEGORY
        ORDER BY CATEGORY_CODE
    </select>

    <select id="selectProductByCode" resultMap="productResultMap">
        SELECT
        *
        FROM TBL_PRODUCT
        WHERE PRODUCT_CODE = #{code}
    </select>


    <select id="cartList" resultMap="cartResultMap">
        SELECT
        B.PRODUCT_CODE,
        B.PRODUCT_NAME,
        B.PRODUCT_PRICE,
        B.PRODUCT_PREMIUM_PRICE,
        B.PRODUCT_PHOTO,
        A.CART_AMOUNT,
        A.USE_PREMIUM,
        A.USE_ECO
        FROM TBL_CART A
        JOIN TBL_PRODUCT B ON (A.PRODUCT_CODE = B.PRODUCT_CODE)
        WHERE A.MEMBER_NO = #{i}
    </select>
    <delete id="deleteCart">
        DELETE FROM TBL_CART
        WHERE MEMBER_NO = #{memberId}
        AND PRODUCT_CODE IN
        <foreach collection="productList" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </delete>

    <select id="selectMember" resultMap="memberResultMap">
        SELECT
        MEMBER_NO,
        NAME,
        PHONE_NUMBER,
        ADDRESS1,
        ADDRESS2,
        ZIPCODE
        FROM TBL_MEMBER
        WHERE MEMBER_NO = #{memberCode}
    </select>

    <update id="updateCartList">
        UPDATE TBL_CART
        SET CART_AMOUNT = #{amount}
        WHERE PRODUCT_CODE = #{productCode}
        AND MEMBER_NO = #{memberId}
    </update>


    <insert id="registOrder">
        INSERT INTO TBL_ORDER
        (ORDER_CODE, ORDER_DATE, ORDER_REQUEST, ORDER_PRICE, ORDER_DISCOUNT, ORDER_TOTAL_PRICE,
        MEMBER_NO,INPUT_ADDRESS,INPUT_ADDRESS2,CP_CODE,USE_POINT,COLLECTION_DATE,DELIVERY_DATE,ORDER_STATUS,INPUT_ZIP_CODE,REWARD,PAYMETHOD,ORDER_IMAGE)
        VALUES
        (#{code},SYSDATE,#{orderRequest},#{orderPrice},#{orderDiscount},#{orderTotalPrice},#{member.memberNo},#{inputAddress},#{InputAddress2},#{useCoupon},#{usePoint},#{collectionDate},#{deliveryDate},'결제완료',#{inputZipCode},#{reward},#{payMethod},#{image})
    </insert>

    <update id="modifyProduct">
        UPDATE TBL_PRODUCT
        SET
        PRODUCT_NAME = #{name},
        CATEGORY_CODE = #{category.code},
        PRODUCT_PRICE = #{price},
        PRODUCT_PREMIUM_PRICE = #{premiumPrice},
        USEABLE_STATUS = #{useableStatus},
        <if test=" photo != null">
            PRODUCT_PHOTO = #{photo},
        </if>
        MODIFY_DATE = #{modifyDate}
        WHERE PRODUCT_CODE = #{code}
    </update>

    <update id="deleteProduct">
        UPDATE TBL_PRODUCT
        SET DELETE_STATUS = 'Y'
        ,DELETE_DATE = SYSDATE
        WHERE PRODUCT_CODE IN
        <foreach collection="productMap" item="item" open="(" separator="," close=")">#{item}</foreach>
    </update>
    <resultMap id="couponResultMap" type="com.spoons.sehaehae.admin.dto.CouponDTO">
        <id property="cpCode" column="CP_CODE"/>
        <result property="cpName" column="CP_NAME"/>
        <result property="cpRate" column="CP_RATE"/>
        <result property="cpSdate" column="CP_SDATE"/>
        <result property="cpEdate" column="CP_EDATE"/>
        <result property="cpStatus" column="CP_STATUS"/>
    </resultMap>

    <resultMap id="cpboxResultMap" type="com.spoons.sehaehae.admin.dto.CpBoxDTO">
        <result property="status" column="USE_STATUS"/>
        <association property="code" resultMap="couponResultMap"/>
        <association property="member" resultMap="memberResultMap"/>
    </resultMap>

    <select id="selectCoupon" resultMap="cpboxResultMap">
        SELECT
        A.CP_CODE,
        B.CP_NAME,
        B.CP_RATE,
        B.CP_SDATE,
        B.CP_EDATE
        FROM TBL_CPBOX A
        JOIN TBL_CP B ON(A.CP_CODE = B.CP_CODE)
        WHERE MEMBER_NO = #{memberNo}
        AND B.CP_STATUS = 'Y'
        AND A. USE_STATUS = 'N'
    </select>
    <update id="deletePremium">
        UPDATE TBL_CART
        SET USE_PREMIUM = 'N'
        WHERE MEMBER_NO = #{memberId}
        AND PRODUCT_CODE = ${code}
    </update>
    <update id="deleteEco">
        UPDATE TBL_CART
        SET USE_ECO = 'N'
        WHERE MEMBER_NO = #{memberId}
        AND PRODUCT_CODE = ${code}
    </update>
    <update id="addOption">
        UPDATE TBL_CART
        SET USE_Eco = 'Y'
        WHERE MEMBER_NO = #{memberCode}
        AND PRODUCT_CODE = #{code}
    </update>
    <update id="addPremium">
        UPDATE TBL_CART
        SET USE_PREMIUM = 'Y'
        WHERE MEMBER_NO = #{memberCode}
        AND PRODUCT_CODE = #{code}
    </update>

    <insert id="addOrderProduct">
        INSERT INTO TBL_ORDER_PRODUCT
        (PRODUCT_CODE, ORDER_CODE, ORDER_AMOUNT, USE_PREMIUM, USE_ECO)
        VALUES
        (#{productCode},#{orderCode},#{amount},#{usePremium},#{useEco})
    </insert>



    <update id="updatePoint">
        UPDATE TBL_POINT
        SET POINT = #{point}
        WHERE MEMBER_NO = #{member.memberNo}
    </update>
    <update id="updateCoupon">
        UPDATE TBL_CPBOX
        SET USE_STATUS = 'Y'
        WHERE MEMBER_NO = #{member.memberNo}
        AND CP_CODE = #{usecouponCode}
    </update>

    <resultMap id="pointResultMap" type="com.spoons.sehaehae.product.dto.PointDTO">
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="point" column="POINT"/>
    </resultMap>
    <select id="selectPoint" resultMap="pointResultMap">
        SELECT
        POINT
        FROM TBL_POINT
        WHERE MEMBER_NO = #{memberNo}
    </select>

    <resultMap id="memberLevelResultMap" type="com.spoons.sehaehae.member.dto.MemberLevelDTO">
        <id column="MEMBER_NO" property="memberNo"/>
        <id column="MEMBERSHIP_CODE" property="membershipCode"/>
    </resultMap>


    <select id="selectMemberLevel" resultMap="memberLevelResultMap">
        SELECT
        MEMBER_NO,
        MEMBERSHIP_CODE
        FROM TBL_MEMBER_LEVEL
        WHERE MEMBER_NO = #{memberNo}
    </select>

    <delete id="deleteCategory">
        DELETE TBL_CATEGORY
        WHERE CATEGORY_CODE IN <foreach collection="codeList" item="item" open="(" separator="," close=")"> #{item} </foreach>
    </delete>


    <insert id="updatePt">
        INSERT  INTO TBL_PT
        (PT_CODE, MEMBER_NO, POINT, ORDER_CODE)
        VALUES
        (SEQ_PT_CODE.NEXTVAL,#{order.member.memberNo},#{order.reward},#{order.code})
    </insert>
    <delete id="deleteCartList">
        DELETE TBL_CART
        WHERE MEMBER_NO = #{order.member.memberNo}
    </delete>
    <insert id="addCart" parameterType="com.spoons.sehaehae.product.dto.CartDTO">
        INSERT INTO TBL_CART
        (CART_AMOUNT, PRODUCT_CODE, MEMBER_NO,USE_ECO,USE_PREMIUM)
        VALUES
        (#{amount},#{product.code},#{member},#{useEco},#{usePremium})
    </insert>
    <select id="checkProduct" resultType="boolean">
        SELECT
        count(*)
        FROM TBL_CART
        WHERE PRODUCT_CODE = #{product.code}
        AND MEMBER_NO  = #{member}
    </select>
</mapper>