<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spoons.sehaehae.admin.dao.SearchMapper">


    <resultMap id="OrderResultMap" type="com.spoons.sehaehae.admin.dto.OrderDTO">
        <id property="code" column="ORDER_CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderRequest" column="ORDER_REQUEST"/>
        <result property="orderPrice" column="ORDER_PRICE"/>
        <result property="orderDiscount" column="ORDER_DISCOUNT"/>
        <result property="memberCode" column="MEMBER_NO"/>
        <result property="orderTotalPrice" column="ORDER_TOTAL_PRICE"/>
        <result property="inputZipCode" column="INPUT_ZIP_CODE"/>
        <result property="inputAddress" column="INPUT_ADDRESS"/>
        <result property="InputAddress2" column="INPUT_ADDRESS2"/>
        <result property="useCoupon" column="CP_CODE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="usePoint" column="USE_POINT"/>
        <result property="collectionDate" column="COLLECTION_DATE"/>
        <result property="deliveryDate" column="DELIVERY_DATE"/>
        <result property="progressDate" column="PROGRESS_DATE"/>
        <result property="payMethod" column="PAYMETHOD"/>

        <association property="member" resultMap="MemberResultMap"/>

    </resultMap>

    <resultMap id="MemberResultMap" type="com.spoons.sehaehae.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="ID"/>
        <result property="memberPwd" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE_NUMBER"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="gender" column="GENDER"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="subscriptionDate" column="SUBSCRIPTION_DATE"/>
        <result property="profilePhoto" column="PROFILE_PHOTO"/>
        <result property="referralCode" column="REFERRAL_CODE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
        <result property="address1" column="ADDRESS1"/>
        <result property="address2" column="ADDRESS2"/>

    </resultMap>

    <resultMap id="productResultMap" type="com.spoons.sehaehae.product.dto.ProductDTO">
        <id property="code" column="PRODUCT_CODE"/>
        <result property="name" column="PRODUCT_NAME"/>
        <result property="price" column="PRODUCT_PRICE"/>
        <result property="premiumPrice" column="PRODUCT_PREMIUM_PRICE"/>
        <result property="useableStatus" column="USEABLE_STATUS"/>
        <result property="ecoPrice" column="PRODUCT_ECO_PRICE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="deleteDate" column="DELETE_DATE"/>
        <result property="deleteStatus" column="DELETE_STATUS"/>
        <result property="photo" column="PRODUCT_PHOTO"/>
    </resultMap>

    <resultMap id="orderProductResultMap" type="com.spoons.sehaehae.product.dto.OrderProductDTO">
        <result property="amount" column="ORDER_AMOUNT"/>

        <association property="product" resultMap="productResultMap"/>
        <association property="order" resultMap="OrderResultMap"/>
    </resultMap>

    <resultMap id="RefundResultMap" type="com.spoons.sehaehae.admin.dto.RefundDTO">
        <id property="refundCode" column="REFUND_CODE"/>
        <result property="refundReceiptDate" column="REFUND_RECEIPT_DATE"/>
        <result property="refundCompleteDate" column="REFUND_COMPLETE_DATE"/>
        <result property="processStatus" column="PROCESS_STATUS"/>
        <result property="totalRefundAmount" column="TOTAL_REFUND_AMOUNT"/>
        <result property="refundReason" column="REFUND_REASON"/>


        <association property="order" resultMap="OrderResultMap"/>

    </resultMap>



    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TBL_ORDER A
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER B ON(A.MEMBER_NO = B.MEMBER_NO)
        </if>
        <where>

            <if test="cardPayment != null and cardPayment != ''">
                AND A.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND A.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>

            <if test="searchCondition == 'code'">
                AND A.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND B.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND B.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND A.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND A.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[A.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND A.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[A.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>



        </where>

    </select>

    <select id="selectRefundTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TBL_REFUND A
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_ORDER B ON(A.ORDER_CODE = B.ORDER_CODE)
            JOIN TBL_MEMBER C ON(B.MEMBER_NO = C.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'refundCode'">
                AND A.REFUND_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'processStatus'">
                AND A.PROCESS_STATUS = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>


            <if test="startDate != '' and endDate == ''">
                AND A.REFUND_RECEIPT_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[A.REFUND_RECEIPT_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND A.REFUND_RECEIPT_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[A.REFUND_RECEIPT_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>



        </where>

    </select>



    <select id="selectSearchList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_REQUEST
        , A.ORDER_PRICE
        , A.ORDER_DISCOUNT
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_REQUEST
        , B.ORDER_PRICE
        , B.ORDER_DISCOUNT
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_REQUEST
        , C.ORDER_PRICE
        , C.ORDER_DISCOUNT
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>



        </where>


        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>

    <select id="selectSearchPaymentList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.PAYMETHOD
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.PAYMETHOD
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.PAYMETHOD
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="cardPayment != null and cardPayment != ''">
                AND C.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND C.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>

            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>
            AND C.ORDER_STATUS = '결제완료'
        </where>
        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>

    <!--    <update id="updateOrderStatus">-->
    <!--        UPDATE TBL_ORDER-->
    <!--        SET ORDER_STATUS = #{newStatus}-->
    <!--        ,PROGRESS_DATE = SYSDATE-->
    <!--        WHERE ORDER_CODE IN-->
    <!--        <foreach collection="orderId" item="orderId" open="(" separator="," close=")">-->
    <!--            #{orderId}-->
    <!--        </foreach>-->
    <!--    </update>-->

    <update id="updateOrderStatus">
        UPDATE TBL_ORDER
        SET ORDER_STATUS = #{newStatus}
        <choose>
            <when test="newStatus == '구매확정'">
                , PROGRESS_DATE = SYSDATE
            </when>
        </choose>
        WHERE ORDER_CODE IN
        <foreach collection="orderId" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </update>

    <update id="updateRefundStatus">
        UPDATE TBL_REFUND
        SET PROCESS_STATUS = #{newStatus}
        ,REFUND_COMPLETE_DATE = SYSDATE
        WHERE REFUND_CODE IN
        <foreach collection="orderId" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </update>




    <select id="selectSearchCollectionList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.PAYMETHOD
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.PAYMETHOD
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.PAYMETHOD
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="cardPayment != null and cardPayment != ''">
                AND C.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND C.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>
            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>
            AND C.ORDER_STATUS = '수거완료'
        </where>
        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>

    <select id="selectSearchLaundryList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.PAYMETHOD
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.PAYMETHOD
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.PAYMETHOD
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="cardPayment != null and cardPayment != ''">
                AND C.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND C.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>
            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>
            AND C.ORDER_STATUS = '세탁완료'
        </where>
        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>


    <select id="selectSearchPreparingList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.PAYMETHOD
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.PAYMETHOD
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.PAYMETHOD
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="cardPayment != null and cardPayment != ''">
                AND C.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND C.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>
            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>
            AND C.ORDER_STATUS = '배송준비'
        </where>
        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>

    <select id="selectSearchDeliveryList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.PAYMETHOD
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.PAYMETHOD
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.PAYMETHOD
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="cardPayment != null and cardPayment != ''">
                AND C.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND C.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>
            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>


            AND C.ORDER_STATUS = '배송중'
        </where>
        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>

    <select id="selectSearchConfirmedList" resultMap="OrderResultMap">
        SELECT
        A.ORDER_CODE
        , A.ORDER_DATE
        , A.ORDER_TOTAL_PRICE
        , A.MEMBER_NO
        , D.NAME
        , D.PHONE_NUMBER
        , A.INPUT_ZIP_CODE
        , A.PAYMETHOD
        , A.ORDER_STATUS
        FROM (SELECT
        ROWNUM RNUM
        , B.ORDER_CODE
        , B.ORDER_DATE
        , B.ORDER_TOTAL_PRICE
        , B.MEMBER_NO
        , B.INPUT_ZIP_CODE
        , B.PAYMETHOD
        , B.ORDER_STATUS
        FROM ( SELECT
        C.ORDER_CODE
        , C.ORDER_DATE
        , C.ORDER_TOTAL_PRICE
        , C.MEMBER_NO
        , C.INPUT_ZIP_CODE
        , C.PAYMETHOD
        , C.ORDER_STATUS
        FROM TBL_ORDER C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
        </if>
        <where>
            <if test="cardPayment != null and cardPayment != ''">
                AND C.PAYMETHOD = #{cardPayment, jdbcType=VARCHAR}
            </if>
            <if test="kakaoPayment != null and kakaoPayment != ''">
                AND C.PAYMETHOD = #{kakaoPayment, jdbcType=VARCHAR}
            </if>
            <if test="searchCondition == 'code'">
                AND C.ORDER_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND D.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND D.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="searchCondition == 'orderStatus'">
                AND C.ORDER_STATUS LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.ORDER_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.ORDER_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.ORDER_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.ORDER_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>
            AND C.ORDER_STATUS = '구매확정'
        </where>
        ORDER BY C.ORDER_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>

    <select id="getOrderDetailList" resultMap="OrderResultMap">
        SELECT
        A.MEMBER_NO
        ,A.ORDER_DATE
        ,B.NAME
        ,B.ID
        ,B.PHONE_NUMBER
        ,B.ADDRESS1
        FROM TBL_ORDER A
        JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE A.ORDER_CODE = '${clickedOrderCode}'
    </select>

    <select id="getOrderProductDetailList" resultMap="orderProductResultMap">
        SELECT
        A.PRODUCT_PHOTO
        ,A.PRODUCT_NAME
        ,A.PRODUCT_CODE
        ,A.PRODUCT_PRICE
        ,B.ORDER_AMOUNT
        ,A.PRODUCT_PREMIUM_PRICE
        FROM TBL_PRODUCT A
        JOIN TBL_ORDER_PRODUCT B ON (A.PRODUCT_CODE = B.PRODUCT_CODE)
        JOIN TBL_ORDER C ON (B.ORDER_CODE = C.ORDER_CODE)
        WHERE C.ORDER_CODE = '${clickedOrderCode}'
    </select>

    <select id="getPaymentDetailsList" resultMap="OrderResultMap">
        SELECT
        ORDER_PRICE
        , ORDER_DISCOUNT
        , ORDER_TOTAL_PRICE
        FROM TBL_ORDER
        WHERE ORDER_CODE = '${clickedOrderCode}'
    </select>

    <select id="selectSearchRefundList" resultMap="RefundResultMap">
        SELECT
        A.REFUND_CODE
        , A.ORDER_CODE
        , A.REFUND_RECEIPT_DATE
        , A.REFUND_COMPLETE_DATE
        , A.PROCESS_STATUS
        , A.TOTAL_REFUND_AMOUNT
        , E.NAME
        , E.PHONE_NUMBER
        , D.USE_POINT
        , D.CP_CODE
        , A.REFUND_REASON
        FROM (SELECT
        ROWNUM RNUM
        , B.REFUND_CODE
        , B.ORDER_CODE
        , B.REFUND_RECEIPT_DATE
        , B.REFUND_COMPLETE_DATE
        , B.PROCESS_STATUS
        , B.TOTAL_REFUND_AMOUNT
        , B.REFUND_REASON
        FROM ( SELECT
        C.REFUND_CODE
        , C.ORDER_CODE
        , C.REFUND_RECEIPT_DATE
        , C.REFUND_COMPLETE_DATE
        , C.PROCESS_STATUS
        , C.TOTAL_REFUND_AMOUNT
        , C.REFUND_REASON
        FROM TBL_REFUND C
        <if test="searchCondition == 'member' or searchCondition == 'phone'">
            JOIN TBL_ORDER D ON(C.ORDER_CODE = D.ORDER_CODE)
            JOIN TBL_MEMBER E ON(D.MEMBER_NO = E.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'refundCode'">
                AND C.REFUND_CODE = #{searchValue}
            </if>

            <if test="searchCondition == 'processStatus'">
                AND C.PROCESS_STATUS = #{searchValue}
            </if>

            <if test="searchCondition == 'member'">
                AND E.NAME = #{searchValue}
            </if>

            <if test="searchCondition == 'phone'">
                AND E.PHONE_NUMBER LIKE '%' || #{searchValue} || '%'
            </if>

            <if test="startDate != '' and endDate == ''">
                AND C.REFUND_RECEIPT_DATE >= TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
            </if>

            <if test="startDate == '' and endDate != ''">
                AND <![CDATA[C.REFUND_RECEIPT_DATE <= TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')]]>
            </if>

            <if test="startDate != '' and endDate != '' and startDate != null and endDate != null" >
                AND C.REFUND_RECEIPT_DATE > TO_DATE(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
                AND <![CDATA[C.REFUND_RECEIPT_DATE < TO_DATE(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd') + 1]]>
            </if>
        </where>
        ORDER BY C.REFUND_CODE DESC
        ) B
        <![CDATA[
                                 WHERE ROWNUM <= #{endRow}
                                 ]]>
        ) A
        JOIN TBL_ORDER D ON (A.ORDER_CODE = D.ORDER_CODE)
        JOIN TBL_MEMBER E ON (D.MEMBER_NO = E.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY 1 DESC

    </select>



</mapper>

