<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/styleD.css" rel="stylesheet" type="text/css">
    <title>회원관리 | 메시지발송</title>
</head>
<body>
<div th:replace="/admin/common/nav.html"></div>
<header><h3>회원관리 &gt 메시지발송</h3><h3>로그인(로그아웃)</h3></header>
<div class="container">
    <form id="boardRegistForm" action="/board/regist" method="post">
        <table style="margin: auto;">
            <tr>
                <td>받는 사람</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td colspan="3"><input type="text" name="title"
                                       style="width: 400px;"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td colspan="3"><textarea name="body" cols="60" rows="15"
                                          style="resize: none;"></textarea></td>
            </tr>
        </table>
        <br>
        <div align="center">
            <button type="submit">발송</button>
        </div>
    </form>
</div>
</body>
</html>