*------------------ breadcrumb ---------------- */

.nav {
    height: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.185);
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);

}

.nav ol {
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
    font-size: 18px;
}


/*------------ header 아래있는 애들 -------------*/

.container {
    display: flex;
    flex-direction: column;
    /* 자식 요소를 세로로 배치 */
    margin-left: 300px;
    width: 1500px;
    position: relative;

}

.basic-search2 {
    display: flex;
    height: 50px;
}

.top-name {

    margin: 0px;
    padding: 0px 0px 3px 0px;
    font-size: 25px;
    border-bottom: 1px solid black;
    height: 40px;
    width: 1550px;
    display: block;

}

.ractangle {
    margin: 16px 0px 0px 0px;
    height: 30px;
    width: 5px;
    display: inline-flex;
}

p {
    margin: 20px 0px 0px 4px;
}

/*----- table -----*/

table{
    width: 1550px;
}

table,tr,th{
    border:1px solid black;
    border-collapse:collapse;
    padding: 20px;


}



td{
    height: 50px;
    padding-left: 6px;


}


#search-method{
    height: 30px;
    width: 100px;
    appearance: auto;
    border: 1px solid rgba(0, 0, 0, 0.68);

}

#searchValue{
    margin-left: 7px;
    height: 30px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.68);
}

#order-status{
    height: 30px;
    width: 100px;

}

#start-date{
    height: 25.8px;
    margin: 0px 3px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.68);
}

#end-date{
    height: 25.8px;
    margin: 0px 3px 0px 5px;
    border: 1px solid rgba(0, 0, 0, 0.68);
}

.but-group{
    margin-left: 5px;
}

.sub-btn{
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.68);

}

.search-bottom{
    padding: 20px 0px 20px 0px;
}

#searchButton{
    height: 30px;
    width: 100px;
    margin-left: 670px;
    border: 1px solid rgba(0, 0, 0, 0.68);
    background-color: rgb(57, 125, 246);
    color: white;
}
#searchButton:hover{
    background-color: rgb(42, 101, 213);
}

#resetButton{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.68);
    background-color: rgb(255, 255, 255);
    color: rgb(57, 125, 246);
}


#resetButton:hover{
    background-color: rgb(241, 239, 239);
}

/*-------- 주문일괄처리 ----------*/
.container1 {
    display: flex;
    flex-direction: column;
    /* 자식 요소를 세로로 배치 */
    width: 1500px;
    position: relative;
    margin-bottom: 50px;

}

.order-process {
    display: flex;
    height: 50px;
}


.bottom-table{
    border-left: none; !important;
    border-right: none; !important;
}

.bottom-th{
    width: 50px;
    border-left: none;  !important;
    border-right: none; !important;
    background-color: rgba(0, 0, 0, 0.09);

}

.bottom-tr{
    border-left: none; !important;
    border-right: none; !important;
}

.bottom-td{
    width: 500px;
    border-right: none; !important;
    padding-left: 20px;

}

.bottom-button{
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.37);
    width: 90px;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    background-color: rgb(57, 125, 246);
    color: white;

}

.bottom-button:hover{
    background-color: rgb(42, 101, 213);
}

/*----------------------- 디비애들 --------------------*/



.container2 {
    margin-bottom: 50px;
    position: relative;

}

#paging button{
    border: 1px solid rgba(0, 0, 0, 0.68);
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.09);
}

/*---------------------모달 창 -------------------------*/
#modalContainer{
    width: 1200px;

    position: absolute;
    left: 200px;
    top: 80px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(9, 9, 9, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


#modalContent {
    padding-left: 10px;
    display: flex;
    color: #020202;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

#modalContent p {
    margin-top: -1px;
    display: flex;
    font-size: 20px;
}



#modalContainer .close-area {
    margin: 30px;
    display: flex;
    float: right;
    cursor: pointer;
    color: #1a1212;
    font-size: 25px;
}

#modalContainer .content {
    border: 1px solid rgba(17, 17, 17, 0.18);
    margin-top: 150px;
    padding: 0px;
    background-color: white;
    height: 350px;
}

.content table {
    color: black;
    border: 1px solid black;
    width: 100%;
}

.content td{
    font-size: 20px;
    padding: 20px 0px 20px 10px;
}

.content th{
    width: 100px;
}

/*-------------------------------------------*/
#modalContainer .content1 {
    border: 1px solid rgba(17, 17, 17, 0.18);
    margin-top: 20px;
    padding: 0px;
    background-color: white;
    height: 350px;
}

.content1 table {
    color: black;
    border: 1px solid black;
    width: 100%;
}

.content1 td{
    font-size: 20px;
    padding: 20px 0px 20px 10px;
}

.content1 th{
    width: 100px;
}

/*-------------------------------------------*/
#modalContainer .content2 {
    border: 1px solid rgba(17, 17, 17, 0.18);
    margin-top: 20px;
    padding: 0px;
    background-color: white;
    height: 350px;
}

.content2 table {
    color: black;
    border: 1px solid black;
    width: 100%;
}

.content2 td{
    font-size: 20px;
    padding: 20px 0px 20px 10px;
}

.content2 th{
    width: 100px;
    /*border-right : none;*/
}

/*----------------------환불 버튼---------------------*/
.refudn-button{
    display: inline-block;
}

.refund-subButton{
    margin: 0px 5px 5px 0px;
    border: 1px solid black;
    padding: 5px;
}

/*------------------------ 환불 거절 모달창----------------------*/
#refund-modal{
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 80px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(253, 252, 252);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.refund-modal-title{
    margin-top: 10px;
}

.refund-reason {
    margin: 10px;
    display: flex;
    color: #020202;
    border: 1px solid rgba(17, 17, 17, 0.18);
    background-color: rgba(17, 17, 17, 0.18);
    position: absolute;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
