a{
    text-decoration: none;
    color: black;
}

#nav::-webkit-scrollbar {
    display: none;
}
body{margin: 0;}

li{list-style-type: none;}

ul{padding: 0;}

#nav{
    width: 250px;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed;
    overflow: auto;
}

.bar>li {
    line-height: 50px;
}


/*---------------nav bar top---------------*/
.manager{
    text-align: center;
    padding-top: 20px;
}

.bar {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.bar > li{
    border-top: 1px solid rgba(0, 0, 0, 0.185);

    position: relative;
    width: 200px;
    overflow: visible;

}

.bar > li:hover{
    background-color: #020c132a;
    overflow: visible;
}

.menu > li:hover {
    background-color: #4b93ff2f;
    transition-duration: 0.5s;
}

.menu > li:not(:hover) {
    transition: 0.5s ease-out;
}

.box{
    border-top: 1px solid black;
    padding-left: 20px;
}

.last_box{
    border-bottom: 1px solid black;
}



/* --------- 서브메뉴 li한개의 높이 ------------*/


.menu>li:hover .member {
    height: 153px;
    transition-duration: 1s;
}
.menu>li:hover .product {
    height: 102px;
    transition-duration: 1s;
}
.menu>li:hover .order {
    height: 354px;
    transition-duration: 1s;
}
.menu>li:hover .cancell {
    height: 102px;
    transition-duration: 1s;
}
.menu>li:hover .calculate {
    height: 51px;
    transition-duration: 1s;
}
.menu>li:hover .board {
    height: 204px;
    transition-duration: 1s;
}
.menu>li:hover .statistics {
    height: 204px;
    transition-duration: 1s;
}
.menu>li:hover .service {
    height: 51px;
    transition-duration: 1s;
}

/*-----------------  화살표 ---------------*/

h4{
    display: flex;
    display: inline-flex;
}

.down{
    display: inline-flex;
    float:right;
    margin-top: 20px;
    margin-right: 10px;
}

/*---------------nav bar top---------------*/
header{
    display: flex;
    width: 165vh;
    height: 100px;
    margin-left: 250px;
    padding: 40px 40px 0px 40px;
    vertical-align: middle;
    justify-content: space-between;
}





/*------------------ breadcrumb ---------------- */

.nav {
    height: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.185);
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);

}

.nav ol {
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
    font-size: 18px;
}

/* 각 <li> 요소에 스타일 적용 */


.breadcrumb ol{
    display: flex;
    font-size: 22px;
}

.breadcrumb li {
    margin-right: 10px;
    /* 각 항목의 우측 여백 조절 */
    display: inline-block;
}

/* 마지막 <li> 요소의 우측 여백 제거 */
.breadcrumb li:last-child {
    margin-right: 0;
}

/*------------------------------------------------------------------------------------------*/
.container {
    border: black 1px solid;
    width: 1350px; height: 700px;
    margin-left: 400px; margin-top: 20px;
}
    .chart_container{
        display: grid;
        grid-template-columns: 1fr 1fr; gap: 10px 100px;
        /*border: black 1px solid;*/
        width: 1450px; height: 700px;
        margin-left: 350px; margin-top: 20px;
}
    #current_date{
        margin-right: 100px; margin-top: 20px;
        text-align: right;
    }


    .coupon_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 20px;
        gap: 20px 20px;
        border: black 1px solid;
        width: 1350px; height: 700px;
        margin-left: 400px; margin-top: 20px;
    }
    .coupon{
        border: #4B93FF solid 1px;
        box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    }

