.cartListpage{
    margin-top: 30px;
    margin-left: 400px;
    font-family: 'NanumSquareNeo';
}
.cartListpage p:first-child{
  font-size: 40px;
}
.container2{
    margin-left: 135px;
    margin-top: 50px;
}
.container3{

    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    border: 1px solid #c2c2c2;
    width: 800px;
    height: 220px;
    border-radius: 14px;
    padding: 15px 0;
    font-family: 'NanumSquareNeo';
}

.productCode{
    margin-left:35px;
    margin-top: 80px;
}
#name{
    font-size: 20px;
}
#price1{
    margin-top: 10px;
}

.ecooption{
    display: inline-block;
    margin-top: 18px;
}
.premiumoption{
    display: inline-block;
    margin-top: 5px;
}

.optiondelete{
    margin-left: 20px;
}
.ecodelete{
    margin-left: 50px;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
}
.pdimage{
    margin-left: 30px;
    width: 200px;
    max-width: 170px;
}
.productInfo{
    margin-top: 3px;
    margin-left: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}
input[type="number"]{
    width: 50px;
}

.gg{
    position: absolute;
    bottom: 10px;
}
#option{
    margin-left: 30px;
    border: 1px solid black;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    cursor: pointer;
}
.btt{
margin-left: 20px;
    background: #bbbbbb;
    width: 100px;
    padding: 10px 0;
}
.delete{
    margin-left: 10px;
}
.amount{
    margin-left: 10px;
    width: 10px;
}
.totalPrice{
    margin-left: 120px;
    font-size: 25px;
}
.total{
    margin-top: 80px;
    background: #D9D9D9;
    width: 900px;
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    font-size: 22px;
}
.order{
    background: white;
    padding: 13px;
    border: 1px solid black;
    margin-left: 30px;
    width: 130px;
}
.total span{
    margin-left: 15px;
}

#PremiumBox{
   display: inline-block;
    margin-top: 05px;
}