

/* footer -------------------------------------------------------------------------------------------------*/

footer {
    /* width: 1400px; */
    height: 432px;
    flex-shrink: 0;
    background-color: rgba(248, 248, 248, 1);
    margin: 0;
}

.footer-wrapper {
    display: flex;
}

.footer1 {
    margin-top: 120px;
    margin-left: 135px;
}

.footer1 h2 {
    color: black;
    font-size: 35px;
    font-family: GANGWON STATE OTF;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.footer1 small {
    color: #606060;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.footer2 {
    margin-top: 77px;
    margin-left: 150px;

}

.call {
    margin-bottom: 10px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.footer2 img {
    margin-left: 15px;
    width: 10px;
    height: 16px;
}

.number {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}

.number2 {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word
}

.text {
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 35px;
    opacity: 0.60;

}

.kakao {
    width: 216px;
    height: 38px;
    background: white;
    border-radius: 5px;
    border: 1px #ADA9A9 solid;
    margin-top: 25px;
    margin-bottom: 90px;
    text-align: center;
    padding: 5px 0;

}


.kakao a {
    opacity: 0.60;
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}


.footer-nav {
    list-style-type: none;
    line-height: 3;
    margin-left: 130px;
    margin-top: 100px;
}

.footer-nav a {
    color: #636363;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.point {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.contact-item1 {
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 240px;
}

.contact-item1 h4 {
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 10px;
    /* font-weight: 500;
    word-wrap: break-word; */
}

.contact-item {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.contact-item li {
    margin-right: 12px;
    width: 35px;
    height: 35px;
}

