/* header ----------------------------------------------------------------- */

/* 래퍼 설정 */
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* logo */
.logo {
    margin-top: 30px
}

/* nav */
.main-nav {
    display: flex;
    list-style-type: none;
    margin-top: 37px;
    margin-left: 550px;
    justify-content: flex-end;
    transform: scale(0.85);
    font-family: NanumSquareNeo-Variable;
}

.mypage {
    margin-top: 26px;
    margin-left: 30px;
    text-align: center;
    border-radius: 100%;
    max-width: 45px;
    max-height: 45px;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #000000;
}

.main-nav a:hover {
    color: #4B93FF;
}

/* 로고 - 네비 수평 정렬 */
.page-header {
    display: flex;
}

hr {
    margin-top: 15px;
}

/* 헤더 상단 고정 */
.main-set {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding-bottom: 90px;
    z-index: 1;
}

