@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
    font-family: NanumSquareNeo-Variable;
}

img {
    max-width: 100%;
}

p {
    font-family: NanumSquareNeo-Variable;
    color: #8E8585;
}

h3 {
    font-family: NanumSquareNeo-Variable;
}


/* header -------------------------------------------------------------------------------------------------*/
/* 래퍼 설정 */
.wrapper2 {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

/* nav */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px 0 20px;*/
}

/* 메인 네비게이션 요소 스타일 수정 */
.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-all {
    display: flex;
}

.main-nav li {
    display: flex;
    margin: 15px auto auto 15px;
}

.main-nav a {
    color: #000000;
    font-size: 14px;
    font-family: NanumSquareNeo-Variable;
}

.main-nav a:hover {
    color: #4B93FF;
}

.mypage {
    border-radius: 100%;
    max-width: 50px;
    max-height: 50px;
    margin-left: 50px;
}

/* 로그인 상태 단독 */
.cart {
    display: flex;
    transform: scale(0.8);
    margin-left: 20px;
}

/* 헤더 상단 고정 */
.main-set {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;

}


/* mypage 설정 --------------------------------------------------------- */

/* mypage nav */
.mypage-nav {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    list-style-type: none;
    font-family: NanumSquareNeo-Variable;
    margin: 30px auto 30px auto;
}

.mypage-nav a {
    display: flex;
    color: black;
    font-weight: bold;
    margin: 0 20px; /* 여백 조정 */
    align-items: center; /* 세로 중앙 정렬 */
}

.mypage-nav a:hover {
    color: #4B93FF;
}

/* 마이 쿠폰 페이지 ---------------------------------------------------------------- */
.background {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}


.wrapper h3 {
    margin-top: 40px;
}

.couponwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto;
    gap: -10px;
}

/* 쿠폰 박스 */
.coupon {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 7px;
    margin: auto 20px;
    padding: 10px 30px;
    line-height: 60px;
    width: 250px;
    box-shadow: 3px 3px 15px 1px rgba(135, 147, 165, 0.1);
}

/* 쿠폰 박스 - 첫번째 줄 */
.first-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.circle-more {
    margin-top: 20px;
}

.cp-name {
    color: #262626;
    font-size: 20px;
    font-weight: bold;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    border: #b9b9b9 solid 1px;
}

.circle p {
    font-size: 8px;
    margin: 0;
    color: #b9b9b9;
}

.percent {
    display: flex;
}

.blue {
    color: #4B93FF;
    font-size: 40px;
    font-weight: bold;
}

.blue2 {
    color: #4B93FF;
    font-size: 35px;
    font-weight: bold;
}

.grey-font {
    color: #a2a0a0;
    font-size: 12px;
    font-family: NanumSquareNeo-Variable;
    line-height: 20px;
    margin-bottom: 20px;
}




