@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
    font-family: NanumSquareNeo-Variable;
}

img {
    max-width: 100%;
}

p {
    font-family: NanumSquareNeo-Variable;
}

h3 {
    font-family: NanumSquareNeo-Variable;
}

/* mypage nav ---------------------------------------------------------*/

.mypage-nav {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    list-style-type: none;
    font-family: NanumSquareNeo-Variable;
    margin: 30px auto 30px auto;
}

.mypage-nav a {
    display: flex;
    color: black;
    font-weight: bold;
    margin: 0 20px; /* 여백 조정 */
    align-items: center; /* 세로 중앙 정렬 */
}

.mypage-nav a:hover {
    color: #4B93FF;
}

/* 내 주문 페이지 ------------------------------------------------------*/

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

.order {
    margin: 30px auto;
}

.blue-box {
    margin-top: 20px;
    background-color: rgba(196, 231, 255, 0.4);
    padding: 15px;
    border-radius: 5px;
}

.blue-box p {
    color: #262626;
    line-height: 22px;
    font-size: 14px;
}

.blue-box span {
    color: #4B93FF;
    font-weight: bold;
}

/* 주문 번호 및 날짜 */
.orderNo-orderDate {
    display: flex;
    margin: 35px auto 20px;
}

.orderNo-orderDate p {
    font-weight: bold;
    font-size: 15px;
    color: #484848;
}

.orderNo {
    display: flex;
}

.gap-code-date {
    margin: auto 10px;
}

.orderDate {
    display: flex;
}

/* 세탁서비스 이용 */
.grid {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    margin-top: 30px;
}

/* 1. 그리드 */
.img {
    border-radius: 10px;
}

/* 2. 그리드 */
.order-name {
    font-size: 18px;
    font-weight: bold;
}

.order-product {
    margin-top: 15px;
}

.order-price {
    margin-top: 15px;
}

.bold {
    font-weight: bold;
    margin-top: 5px;
}

.order-progress {
    margin-top: 20px;
}



