@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
    font-family: NanumSquareNeo-Variable;
}

img {
    max-width: 100%;
}

p {
    font-family: NanumSquareNeo-Variable;
}

h3{
    font-family: NanumSquareNeo-Variable;
}


/* mypage 설정 --------------------------------------------------------- */
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* mypage nav */
.mypage-nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-family: NanumSquareNeo-Variable;
}

.mypage-nav a {
    color: black;
    font-weight: bold;
    margin: -5px 20px 0px 20px;
}

.mypage-nav a:hover {
    color: #4B93FF;
}

.line {
    margin-top: 30px;
}

/* box all -------------------------------------------*/
.box-all {
    display: flex;
    justify-content: space-around;
    margin: 100px auto 100px auto;
}
/* left box ------------------------------------------ */

.photo {
    width: 200px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #d9d6d6;
    padding: 40px 60px 40px 60px;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 15px 1px rgba(135, 147, 165, 0.1);
}

/* 닉네임 */
.nickname {
    margin: 40px auto 20px auto;
    font-size: 18px;
    font-weight: bold;
    text-space: 2px;
}

/* 프로필 사진 */
.profile {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
}

/* 설정 버튼 */
.button-wrapper {
    margin: 20px auto 25px auto;
}

.button {
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 4px;
    color: #c2c2c2;
    font-size: 12px;
    padding: 6px 15px 6px 15px;
}

hr {
    margin: 25px auto 25px auto;
}

/* mini-nav */
.mini-nav {
    display: flex;
    justify-content: space-around;
}

.mini {
    width: 40px;
    height: auto;
}

.mini p {
    font-size: 11px;
    color: #a8a8a8;
}

/* right box ------------------------------------------ */

.right-box {
    margin-left: -260px;
    margin-top: -30px;
    width: 600px;
    height: auto;
    padding: 20px 60px 20px 60px;
}

.right-box-child {
    display: flex;
    flex-direction: column;
}

.right-box-child2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 15px;
}

/* 내가 쓴 후기 */
.dot-box{
    border: 1px #d9d6d6 dashed;
    border-radius: 4px;
    padding: 20px;
    border-collapse: separate;
    border-spacing: 8px;
}

.dot-box-content {
    text-align: center;
}

/* 좋아요 */
.mini-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

.mini-box-child {
    border: 1px #d9d6d6 solid;
    border-radius: 4px;
    padding: 10px;
    max-width: 295px;
    max-height: 59px;
}

.mini-box-child p {
    color: #8E8585;
    font-size: 12px;
}

.btn-wrapper {
    text-align: center;
    margin-top: 30px;
}



/* footer -------------------------------------------------------------------------------------------------*/

footer {
    /* width: 1400px; */
    height: 432px;
    flex-shrink: 0;
    background-color: rgba(248, 248, 248, 1);
    margin: 0;
}

.footer-wrapper {
    display: flex;
}

.footer1 {
    margin-top: 120px;
    margin-left: 135px;
}

.footer1 h2 {
    color: black;
    font-size: 35px;
    font-family: GANGWON STATE OTF;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.footer1 small {
    color: #606060;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.footer2 {
    margin-top: 77px;
    margin-left: 150px;

}

.call {
    margin-bottom: 10px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.footer2 img {
    margin-left: 15px;
    width: 10px;
    height: 16px;
}

.number {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}

.number2 {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word
}

.text {
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 35px;
    opacity: 0.60;

}

.kakao {
    width: 216px;
    height: 38px;
    background: white;
    border-radius: 5px;
    border: 1px #ADA9A9 solid;
    margin-top: 25px;
    margin-bottom: 90px;
    text-align: center;
    padding: 5px 0;

}


.kakao a {
    opacity: 0.60;
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}


.footer-nav {
    list-style-type: none;
    line-height: 3;
    margin-left: 130px;
    margin-top: 100px;
}

.footer-nav a {
    color: #636363;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.point {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.contact-item1 {
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 240px;
}

.contact-item1 h4 {
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 10px;
    /* font-weight: 500;
    word-wrap: break-word; */
}

.contact-item {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.contact-item li {
    margin-right: 12px;
    width: 35px;
    height: 35px;
}






