@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 기본 설정 -------------------------------------------------*/
html {
    font-size: 100%;
}

a {
    text-decoration: none;
    font-family: NanumSquareNeo-Variable;
}

img {
    max-width: 100%;
}

h {
    font-family: NanumSquareNeo-Variable;
    font-size: 13px;
}

p {
    font-family: NanumSquareNeo-Variable;
    font-size: 13px;
}

h3 {
    font-family: NanumSquareNeo-Variable;
    font-size: 15px;
}

label {
    font-family: NanumSquareNeo-Variable;
}

input {
    padding-left: 10px;
    font-family: NanumSquareNeo-Variable;
}

/*------------------------------------------------------------*/

/* 래퍼 설정 */
.wrapper {
    max-width: 1400px;
    margin: 80px auto;
    padding: 0 4%;
}

.gap {
    margin: 60px 0px 80px 0px;
}

.box-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

.logo-wrapper {
    margin: 50px auto auto -10px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bigbox {
    width: 800px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #d9d6d6;
    padding: 60px 100px 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* email */
.email-joinbox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input {
    width: 350px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #d9d6d6;
    margin-right: 13px;
}

/* 이메일 인증버튼 */
.btn {
    background-color: #4B93FF;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-family: NanumSquareNeo-Variable;
    letter-spacing: 1px;
    text-align: center;
    min-width: 80px;
    max-width: 100px;
    margin-left: 13px;
}

.btn2 {
    background-color: #f2f2f2;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    font-size: 16px;
    padding: 13px;
    width: 470px;
    border-radius: 4px;
    cursor: pointer;
    font-family: NanumSquareNeo-Variable;
    font-weight: 600;
    letter-spacing: 1px;
}

/* footer -------------------------------------------------------------------------------------------------*/

footer {
    /* width: 1400px; */
    height: 432px;
    flex-shrink: 0;
    background-color: rgba(248, 248, 248, 1);
    margin: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer1 {
    margin-top: 120px;
    margin-left: 135px;
}

.footer1 h2 {
    color: black;
    font-size: 35px;
    font-family: GANGWON STATE OTF;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.footer1 small {
    color: #606060;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.footer2 {
    margin-top: 77px;
    margin-left: 150px;

}

.call {
    margin-bottom: 10px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.footer2 img {
    margin-left: 15px;
    width: 10px;
    height: 16px;
}

.number {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}

.number2 {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word
}

.text {
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 35px;
    opacity: 0.60;

}

.kakao {
    width: 216px;
    height: 38px;
    background: white;
    border-radius: 5px;
    border: 1px #ADA9A9 solid;
    margin-top: 25px;
    margin-bottom: 90px;
    text-align: center;
    padding: 5px 0;

}


.kakao a {
    opacity: 0.60;
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}


.footer-nav {
    list-style-type: none;
    line-height: 3;
    margin-left: 130px;
    margin-top: 100px;
}

.footer-nav a {
    color: #636363;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.point {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.contact-item1 {
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 240px;
}

.contact-item1 h4 {
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 10px;
    /* font-weight: 500;
    word-wrap: break-word; */
}

.contact-item {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.contact-item li {
    margin-right: 12px;
    width: 35px;
    height: 35px;
}

