@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}

label {
    font-family: NanumSquareNeo-Variable;
    weight: 800px;
    font-size: 14px;
}

p {
    font-family: NanumSquareNeo-Variable;
    font-size: 14px;
}


/* mypage 설정 --------------------------------------------------------- */

/* mypage nav */
.mypage-nav {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    list-style-type: none;
    font-family: NanumSquareNeo-Variable;
    margin: 30px auto 30px auto;
}

.mypage-nav a {
    display: flex;
    color: black;
    font-weight: bold;
    margin: 0 20px; /* 여백 조정 */
    align-items: center; /* 세로 중앙 정렬 */
}

.mypage-nav a:hover {
    color: #4B93FF;
}


/* 전체 박스 --------------------------------------------------------------------- */

.box-wrapper {
    margin: 60px auto 100px auto;
    display: flex;
    justify-content: center;
}

.bigbox {
    width: 600px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #d9d6d6;
    padding: 60px 100px 60px 100px;
}

.h3 {
    font-family: NanumSquareNeo-Variable;
}

/* 상세 내용 ----------------------------------------------------------------------- */
/*이름, 이메일*/
.box1 {
    display: flex;
    text-align: center;
}

label {
    margin-right: 10px; /* 라벨과 텍스트 사이의 간격 조정 (원하는 만큼 조절 가능) */
}

input {
    font-family: NanumSquareNeo-Variable;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    border: #989898 1px solid;
}

.emailbox,
.namebox {
    color: #989898;
}

.text-box p {
    font-family: NanumSquareNeo-Variable;
    font-size: 10px;
    color: #6f6f6f;
}

.box {
    margin-top: 50px;
}

.box1,
.box2 {
    margin-top: 70px;
}

/* 그 외 인풋 박스들 */
label:focus-within {
    outline: 2px solid #007bff;
}

/* 이미지 사이즈 수정 */
.profileImage {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

/* 수정하기, 탈퇴하기 버튼 -------------------------------------------------------- */
.button-center {
    text-align: center;
    margin-top: 70px;
}

/* 수정 버튼 */
.update-btn {
    background-color:#4B93FF;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    width: 170px;
    border: none;
    margin-right: 15px;
    font-family: GangwonState;
    font-size: 18px;
}

.delete-btn {
    background-color: #ff9393;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    width: 170px;
    border: none;

    font-family: GangwonState;
    font-size : 18px;
}








