@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}

label {
    font-family: NanumSquareNeo-Variable;
    weight: 800px;
    font-size: 14px;
}

p {
    font-family: NanumSquareNeo-Variable;
    font-size: 14px;
}

/* header -------------------------------------------------------------------------------------------------*/
/* 래퍼 설정 */
.wrapper2 {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

/* nav */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px 0 20px;*/
}

/* 메인 네비게이션 요소 스타일 수정 */
.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-all {
    display: flex;
}

.main-nav li {
    display: flex;
    margin: 15px auto auto 15px;
}

.main-nav a {
    color: #000000;
    font-size: 14px;
    font-family: NanumSquareNeo-Variable;
}

.main-nav a:hover {
    color: #4B93FF;
}

.mypage {
    border-radius: 100%;
    max-width: 50px;
    max-height: 50px;
    margin-left: 50px;
}

/* 로그인 상태 단독 */
.cart {
    display: flex;
    transform: scale(0.8);
    margin-left: 20px;
}

/* 헤더 상단 고정 */
.main-set {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;

}


/* mypage 설정 --------------------------------------------------------- */

/* mypage nav */
.mypage-nav {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    list-style-type: none;
    font-family: NanumSquareNeo-Variable;
    margin: 30px auto 30px auto;
}

.mypage-nav a {
    display: flex;
    color: black;
    font-weight: bold;
    margin: 0 20px; /* 여백 조정 */
    align-items: center; /* 세로 중앙 정렬 */
}

.mypage-nav a:hover {
    color: #4B93FF;
}


/* 전체 박스 --------------------------------------------------------------------- */

.box-wrapper {
    margin: 60px auto 100px auto;
    display: flex;
    justify-content: center;
}

.bigbox {
    width: 600px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #d9d6d6;
    padding: 60px 100px 60px 100px;
}

.h3 {
    font-family: NanumSquareNeo-Variable;
}

/* 상세 내용 ----------------------------------------------------------------------- */
.box1 {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

label {
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
    flex-grow: 0.5; /* input 길이 조절 */
    font-family: NanumSquareNeo-Variable;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    border: #989898 1px solid;
}

.address-btn {
    margin-left: 20px;
    width: 80px;
    font-family: NanumSquareNeo-Variable;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #4B93FF;
    cursor: pointer;
}

.emailbox,
.namebox {
    color: #989898;
}

.text-box p {
    font-family: NanumSquareNeo-Variable;
    font-size: 10px;
    color: #6f6f6f;
    margin-left: 110px;
}

/* 그 외 인풋 박스들 */
label:focus-within {
    outline: 2px solid #007bff;
}

/* 성별 라디오 버튼 */
.wrapper3 {
    max-width: 450px;
    margin: -5px;
    text-align: left;
}

.radio-box {
    padding: 15px 10px;
}

.radio-box input[type=radio] {
    display: none;
}

.radio-box input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.radio-box input[type=radio]+label {
    background-color: #fff;
    color: #676767;
}

.radio-box input[type=radio]:checked+label {
    background-color: #4B93FF;
    color: #fff;
}

/* 이미지 사이즈 수정 */
.profileImage {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.image-area {
    max-width: 200px;
    max-height: 200px;
}

/* 수정하기, 탈퇴하기 버튼 -------------------------------------------------------- */
.button-center {
    text-align: center;
    margin-top: 70px;
}

/* 수정 버튼 */
.update-btn {
    background-color:#4B93FF;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    width: 170px;
    border: none;
    margin-right: 15px;
    font-family: GangwonState;
    font-size: 18px;
}

.delete-btn {
    background-color: #ff9393;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    width: 170px;
    border: none;
    font-family: GangwonState;
    font-size : 18px;
}



/* footer -------------------------------------------------------------------------------------------------*/

footer {
    /* width: 1400px; */
    height: 432px;
    flex-shrink: 0;
    background-color: rgba(248, 248, 248, 1);
    margin: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer1 {
    margin-top: 120px;
    margin-left: 135px;
}

.footer1 h2 {
    color: black;
    font-size: 35px;
    font-family: GANGWON STATE OTF;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.footer1 small {
    color: #606060;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.footer2 {
    margin-top: 77px;
    margin-left: 150px;

}

.call {
    margin-bottom: 10px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.footer2 img {
    margin-left: 15px;
    width: 10px;
    height: 16px;
}

.number {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}

.number2 {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word
}

.text {
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 35px;
    opacity: 0.60;

}

.kakao {
    width: 216px;
    height: 38px;
    background: white;
    border-radius: 5px;
    border: 1px #ADA9A9 solid;
    margin-top: 25px;
    margin-bottom: 90px;
    text-align: center;
    padding: 5px 0;

}


.kakao a {
    opacity: 0.60;
    color: #272D2C;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}


.footer-nav {
    list-style-type: none;
    line-height: 3;
    margin-left: 130px;
    margin-top: 100px;
}

.footer-nav a {
    color: #636363;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.point {
    color: #262626;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.contact-item1 {
    margin-left: 140px;
    margin-bottom: 90px;
    margin-top: 240px;
}

.contact-item1 h4 {
    color: #262626;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 10px;
    /* font-weight: 500;
    word-wrap: break-word; */
}

.contact-item {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.contact-item li {
    margin-right: 12px;
    width: 35px;
    height: 35px;
}












