@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* 양슬기 */
/* header ----------------------------------------------------------------- */

/* 래퍼 설정 */
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 상단부 이미지 */
#background {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../images/background3.png");
    min-height: 100vh;
}

/* 세탁해병대 슬로건 */
#background h1 {
    margin: 200px 0px 0px 120px;
    position: absolute;
    color: #ffffff;
    transform: scale(1.6);
    font-family: NanumSquareNeo-Variable;
    line-height: 45px;
}

/* 세탁해병대 */
#background p {
    color: #ffffff;
    font-size: 90px;
    font-family: GangwonState;
    position: absolute;
    margin-top: 500px;
}

/* 자세히보기 버튼 */
.button {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    padding: 12px;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    margin-top: 650px;
    font-family: NanumSquareNeo-Variable;
}

/* 세탁 서비스 */
.service h2 {
    font-family: GangwonState;
    font-size: 30px;
}


.service-all {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.main-service h3 {
    font-family: GangwonState;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
}

.main-service {
    padding: 40px;
    width: calc(60% / 3);
    height: 300px;
    margin: 70px 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 15px 1px rgba(135, 147, 165, 0.3);
    text-align: center;
}

/* 수거신청 버튼 */
.button2 {
    background-color: #4B93FF;
    color: #ffffff;
    font-size: 22px;
    padding: 15px 50px;
    border-radius: 7px;
    cursor: pointer;
    font-family: GangwonState;
    letter-spacing: 1px;
}

.buttoncenter {
    text-align: center;
    margin-top: 40px;
}

.service {
    margin-top: 160px;
    margin-bottom: 140px;
}

/* 하늘색 배경 */
#blue-background {
    background-color:rgba(75, 147, 255, 0.1);
    padding: 1% 0% 6%;
}

.blue-div {
    margin-top: 100px;
    text-align: center;
    line-height : 45px;
}

/* 세탁 슬로건 */
.blue-div h {
    font-size: 35px;
    font-family: GangwonState;
}

.blue-div span {
    color: #4B93FF;
}

/* 세탁 박스 */
.sehae {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.s-all {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: calc(60% / 3);
    height: 460px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 1px rgba(135, 147, 165, 0.3);
}

.s-all h2 {
    margin-bottom: 15px;
    font-family: GangwonState;
    font-size: 25px;
    text-align: center;
}

.s-all img {
    margin-bottom: 30px;
}

.s-all h {
    text-align: justify;
    font-family: NanumSquareNeo-Variable;
    font-size: 14px;
    line-height: 18px;
}

/* 강인선 */

/* 꿀팁 게시판 ------------------------------------------------------------------------------*/


.tip-content {
    display: flex;
    margin: 60px -50px 0px 0px;
}

.tip-content img {
    margin-right: 20px;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}


.tip-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 180px;
}

.tip-name h2 {
    font-family: GANGWON STATE OTF;
    font-size: 30px;
}

.tip-name p {
    color: #4B93FF;
    font-family: Istok Web;
    font-weight: 600;
}

.tip-content h5 {
    color: #4B93FF;
    font-size: 20px;
    font-family: NanumSquareNeo-Variable;
    margin-top: 18px;
}

.tip-content p {
    color: #717171;
    font-size: 18px;
    font-family: NanumSquareNeo-Variable;
    margin-top: 6px;
}

/* 후기 게시판 ---------------------------------------------------------------------------------------------*/

.review {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.review h2 {
    font-size: 30px;
    font-family: GANGWON STATE OTF;
}

.review p {
    color: black;
    font-size: 64px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-right: 30px;
    margin-top: 65px;
}

/* 수거신청 버튼 */
.button3 {
    background-color: #4B93FF;
    color: #ffffff;
    font-size: 22px;
    padding: 15px 50px;
    border-radius: 7px;
    cursor: pointer;
    font-family: GangwonState;
    letter-spacing: 1px;
}

.reviewcenter {
    text-align: center;
    margin: 60px 0px 140px 0px;
}

.review-box {
    display: flex;
    margin-top: 40px;
}
.review-box div{
    width: 344px;
    height: 217px;
    background: rgba(75, 147, 255, 0.30);
    border-radius: 15px;
    margin-right: 30px;
}



