@charset "UTF-8";

@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

p {
    font-family: NanumSquareNeo-Variable;
    color: #8E8585;
}

h3 {
    font-family: NanumSquareNeo-Variable;
}

/* 공지 사항 ---------------------------------------------------*/
.notice-nav {
    text-align: center;
    margin-top: 60px;
    margin-right: 30px;
}

.notice-nav li {
    display: inline-block;
    font-size: 20px;
    font-family: NanumSquareNeo-Variable;
    font-weight: 800;
    word-wrap: break-word;
    margin-left: 30px;
}

.board a{
    color: #4B93FF;
    font-family: NanumSquareNeo-Variable;
    font-weight: 800;
    font-size: 25px;
    text-decoration: underline;
    word-wrap: break-word;
}

.notice-name {
    margin-top: 90px;

}

h3 {
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-family: GANGWON STATE;
    font-weight: 400;
    word-wrap: break-word;
}

/* 테이블 디자인 --------------------------*/

.notice-list {
    margin-top: 100px;
}

.notice-list table {
    border-top:4px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    border-spacing: 80px 20px;
    border-collapse: collapse;
    width: 70%;  /* 화면에서 표가 차지하는 비율*/
}

.notice-list table,td,th {
    border-bottom:1px solid black;
}

.notice-list td {
    text-align: center;
    padding: 5px;
}

.notice-list-head th{
    padding: 10px;
}

.th1 {
    width: 150px;
}

.th3 {
    width: 100px;
}

.th4 {
    width: 220px;
}
.notice-list-head {
    background-color: rgba(75, 147, 255, 0.50);
    font-weight: 400;
    word-wrap: break-word;
}
/* 페이징 -------------------------------------------------------------*/
.pagingbar {
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
}

.pagingbar button {
    /*border: 1px solid black;*/
    /*border-radius: 2px;*/
    font-size: 15px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
    width: 25px;
    height: 25px;
}

.pagingbar123 button {
    border: none;
}

.pagingbar123 button:hover {
    color: rgba(246, 157, 53, 1) ;
}


/* 검색하기 --------------------------------------------------------------- */
.searchNotice{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchNotice-form {
    display: flex; /* 요소들을 가로로 나열하기 위해 추가 */
    align-items: center; /* 가운데 정렬을 위해 추가 */
}

.searchNotice-form select{
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px; /* select와 input 사이의 간격을 조절 */
    padding: 5px;
    appearance: auto; /* 기본 설정값 가져오기*/
}

.searchNotice-input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.searchNotice img {
    width: 15px;
    height: 15px;
}
/* 자주하는 질문 검색 */
.searchNotice-form1 {
    display: flex; /* 요소들을 가로로 나열하기 위해 추가 */
    align-items: center; /* 가운데 정렬을 위해 추가 */
    margin-top: 20px;
}

.searchNotice-form1 select {
    border-bottom: 1px solid black;
    margin-right: 10px;
    appearance: auto;
}

.searchNotice-input1 {
    border-bottom: 1px solid black;
}


/* 공지사항 디테일 ------------------------------------------------------------- */

.details table {
    margin-left: auto;
    margin-right:auto;
    margin-top: 105px;
    width: 1100px;
}

.details td {
    border-bottom: none;
}

.detail-name {
    font-size: 45px;
    font-family: NanumSquareNeo-Variable;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}

.detail-date {
    color: #8E8585;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.detail-date td {
    line-height: 5rem;
}

.detail-body {
    text-align: center;
}

.detail-body textarea {
    margin-top: 20px;
    text-align: center;
    width: 1000px;
}

.detail-body td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 30px;
}

/* 목록으로 ----------------------------*/
.backlist {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 50px;
}

.backlistbutton {
    width: 140px;
    height: 40px;
    background: rgba(75, 147, 255, 1);
    border-radius: 10px;
    border: 1px black solid;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
/* 자주하는 질문 -------------------------------------------------- */

.categoryList {
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    justify-content: space-between;

}

/* 초기에 적용될 스타일 */
.categoryList2 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px black solid;
    border-radius: 5px;
    width: 160px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NanumSquareNeo-Variable;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    /*transition: background-color 0.3s, color 0.3s; !* 색상 변경에 트랜지션 효과 추가 *!*/
}

/* 클릭한 div의 배경색과 텍스트 색상을 변경할 스타일 */
.categoryList2.clicked  {
    background: rgba(75, 147, 255, 0.60);
}
.categoryList2.clicked a {
    color: white;
}


/* 아코디언 디자인 */
.accordion {
    max-width: 1200px;
    margin: 50px auto;
    border-top: 4px black solid;

}

.accordion-item {
    border-radius: 30px;
    border: 1px black solid;
    margin-bottom: 10px;
    margin-top: 20px;
}

.accordion-title {
    width: 1100px;
    padding: 10px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-family: NanumGothicOTF;
    font-weight: 600;
    word-wrap: break-word;
}

.accordion-title1 {
    border-radius: 25px;
    background: rgba(75, 147, 255, 0.30);
    display: flex;
}

.accordion-title1 span {
    margin-left: 20px;
    margin-top: 3px;
    font-size: 25px;
}

.accordion-content {
    padding: 10px;
    display: none; /* 초기에는 내용을 숨김 */
    font-family: NanumGothicOTF;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 50px;
}

.accordion-content1 {
    display: flex;
}

.accordion-content1 span {
    font-size: 20px;
    margin-right: 20px;
    font-weight: 300;
}

.accordion-content1 textarea {
    margin-top: 4px;
}

/* 후기 게시판 -------------------------------------------------------------------- */

/* 후기 작성하기 모달창 ------------------------------------------- */
#modal.modal-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;   /* 페이지 위에 띄우기*/
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 800px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal-detail {
    width: 800px;
}

#modal .reviewModalTitle {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    color: black;
}
.reviewTitle {
    font-size: 45px;
    margin-top: 10px;
}
#modal .close-area {
    cursor: pointer;
    text-shadow: 1px 1px 2px grey;
    color: black;
    float: right;
    margin-right: 20px;
    font-size: 25px;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: rgba(79, 75, 75, 1);
}
.content p {
    margin-left: 20px;
    font-size: 13px;
}
.reviewModal {
    font-family: NanumSquareNeo-Variable;
    font-size: 20px;
    line-height: 50px;
    margin-left: 10px;
}

.reviewBox {
    display: flex;
    justify-content: center;
}

.image-area {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px #4B93FF solid;
    text-align: center;
    padding: 5px;
    width: 700px;
}

.image-area img {
    width: 50px;
    height: 50px;
}

.image-area p {
    margin-left: 0;
    font-family: NanumSquareNeo-Variable;
    font-size: 15px;
}
.reviewregist-name {
    border-radius: 10px;
    border: 2px #4B93FF solid;
    width: 700px;
    height: 40px;
}

.reviewregist-body {
    border-radius: 10px;
    border: 2px #4B93FF solid;
    width: 700px;
    height: 200px;
}

.reviewDML2 {
    background: #4B93FF;
    border-radius: 20px;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.reviewDML2 button {
    color: white;
    font-family: NanumSquareNeo-Variable;
    font-size: 24px;
}

/* 후기게시판 -------------------------------------------------------------------------- */
.thumbnailArea {
    width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    /*line-height: 50px;*/
}

.eachReview {
    margin-bottom: 50px;

    margin-left: 40px;
}
/*리뷰번호*/
.reviewNo {
    font-family: NanumSquareNeo-Variable;
    font-size: 15px;
    margin-left: 5px;
    display: flex; /* titleReview를 가로로 정렬하기 위해 flex 사용 */
    justify-content: space-between;
    width: 200px;
    /*align-items: center; !* 요소를 수직 중앙 정렬 *!*/
    /*width: 100%; !* 부모 div에 맞추기 *!*/
}
/*닉네임*/
.reviewNickname {
    font-size: 15px;
    font-family: NanumSquareNeo-Variable;
    font-weight: 500;
    vertical-align: middle; /* 요소를 수직 중앙 정렬 */
    margin-right: 15px;
}

/*썸네일*/
.thumbnailButton {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden; /* 넘어가는 부분을 자르기 위해 */
    cursor: pointer;
}

.thumbnailButton img {
    width: 100%; /* 이미지 너비를 100%로 설정하여 부모 div에 맞춤 */
    height: 100%; /* 이미지 높이를 100%로 설정하여 부모 div에 맞춤 */
    object-fit: cover; /* 이미지 비율 유지하면서 부모 div에 맞춤 */
}
/*아이콘*/
.countReview img {
    width: 25px;
    height: 25px;
    opacity: 0.5;
    vertical-align: middle; /* 요소를 세로 가운데 정렬 */
}
/*아이콘 묶음*/
.countReview > div {
    display: inline-block;
    vertical-align: middle; /* 요소를 세로 가운데 정렬 */
    margin-right: 15px; /* 각 요소 사이의 간격 설정 */
    margin-top: 5px;
    /*width: 60px;*/
}

.countReview p {
    font-family: NanumSquareNeo-Variable;
}

.ratingReview {
    margin-left: 5px;
    font-family: NanumSquareNeo-Variable;
    vertical-align: middle; /* 요소를 세로 가운데 정렬 */
}

.replyReview {
    margin-left: 5px;
    font-family: NanumSquareNeo-Variable;
    vertical-align: middle; /* 요소를 세로 가운데 정렬 */
}

/* 타이틀 */

.reviewName {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.titleReview {
    font-family: NanumSquareNeo-Variable;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; /* titleReview가 남은 공간을 모두 채우도록 함 */
    max-width: 200px; /* 최대 너비 설정 */
    margin-left: 5px;
}

/* 후기쓰기에 별점 */

.rating{
    display: inline-block;
    direction: rtl;
    border:0;
}
.rating legend{
    text-align: right;
}
.rating input[type=radio]{
    display: none;
}
.rating label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.rating label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.rating label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.rating input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}


/* 후기게시판 첨부파일 */

.file {
    display: none;
}

/* 후기 게시판 디테일 */

.reviewTable {
    margin-top: 100px;
    margin-left: 600px;
    width: 900px;
}

/* 제목*/
.reviewDname {
    font-size: 35px;
    font-family: NanumSquareNeo-Variable;
    margin-left: 20px;
}

/* 글번호 */
.reviewDTitle p {
    display: inline;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    font-family: NanumSquareNeo-Variable;
}

/* 상세보기 별점 */
.reviewRating {
    margin-top: 10px;
    margin-left: 5px;
}

/* 주문번호, 작성자, 작성일 */
.reviewDinfo {
    margin-top: 10px;
    margin-left: 5px;
}
.reviewDinfo p{
    display: inline;
    margin-left: 10px;
}

/* 조회수, 댓글 */
.reviewCountReply {
    float: right;
    font-family: NanumSquareNeo-Variable;
    margin-right: 10px;
    color: grey;
}
/* 댓글 */
.reviewReply {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* 내용 */
.reviewDbody {
    margin-top: 40px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    text-align: center;
}

/* 사진 */
.reviewPhoto {
    margin-top: 50px;
}

.reviewDbody textarea {
    margin-top: 30px;
    text-align: center;
}
/* 댓글  ----------------------------------------------------*/
/* 댓글 작성 영역 */
.reviewReplyArea {
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 80px;

}

/* 댓글 */
.replyTitle {
    font-family: NanumSquareNeo-Variable;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border: 0;
}

/* 댓글 수 */
.replyCount {
    border: 0;
    font-family: NanumSquareNeo-Variable;
    font-size: 15px;
    margin-left: 5px;
}

/* 댓글 쓰기 */
.replyRegist td{
    border: 0;
}

.replyRegesitLeft {
    display: flex;
}

.replyRegesitLeft img {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    margin-top: 15px;
    vertical-align: middle;
}

.replyRegist textarea {
    margin-left: 50px;
    margin-top: 15px;
    background: #D9D9D9;
    border-radius: 15px;
    width: 650px;
    resize: none;
}

/* 작성하기 */

.replyRegistButton {
    background: #4B93FF;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-family: NanumSquareNeo-Variable;
    font-weight: 100;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

/* 댓글 리스트 */

.replyTable {
    margin-bottom: 100px;
    /*padding: 50px;*/
    border-collapse: separate; /* 테이블 셀 사이의 간격을 개별로 설정 */
    border-spacing: 0 20px; /* 가로(10px)와 세로(0) 간격 설정 */
}

.replyTable td {
    border: 0;
}

.replyImage {
    width: 45px;
    height: 45px;
    margin-left: 25px;
    /*margin-top: 15px;*/
    margin-right: 10px;
    vertical-align: middle;

}

.replyNickname  {
    font-family: NanumSquareNeo-Variable;
    font-weight: bold;
    width: 200px;
}

.replyBody {
    font-family: NanumSquareNeo-Variable;
    font-size: 18px;
    width: 400px;
}

.replyDate {
    font-family: NanumSquareNeo-Variable;
    width: 150px;
    font-size: 13px;
}

.replyButton {
    font-family: NanumSquareNeo-Variable;
    color: #6f6f6f;
}

.replyButton button{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

/* 커서 변화 */
.cursor {
    cursor: pointer;
}

