<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="location.href='/product/productRegist'">상품추가</button>
<button onclick="location.href='/product/list'">리스트로이동</button>
<button onclick="location.href='/product/detail'">상품상세정보 이동</button>
<button onclick="location.href='/product/cart'">장바구니이동</button>
<button onclick="location.href='/product/payment'">주문/결제창 이동</button>
<button onclick="location.href='/product/categoryRegist'">카테고리생성</button>
</body>
</html>