<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <!--    <link href="/css/adminMainNav.css" rel="stylesheet" type="text/css">-->
    <link href="/css/adminBoard.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/javaScript/event.js" type="text/javascript"></script>

    <title>Title</title>
</head>
<body>
    <div th:replace="admin/common/nav.html"></div>
    <header>
        <h3>게시판 &gt 공지사항</h3>
        <h3 id="login">로그인(로그아웃)</h3>
    </header>

    <div class="regist">
        <form id="noticeRegistForm" action="/admin/board/adminNoticeRegist" method="post">
        <table>
            <tr>
                <td>제목</td>
                <td colspan="3"><input type="text" name="title" class="regist-name" maxlength="100"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td colspan="3"><textarea name="body" cols="60" rows="15" class="regist-body"></textarea></td>
            </tr>
        </table>
            <br>
            <div class="noticeDML2">
                <button type="submit">등록하기</button>
                <button type="button" th:onclick="'location.href=\'/admin/board/adminNotice\''">취소하기</button>
            </div>

        </form>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const noticeForm = document.getElementById("noticeRegistForm");

        noticeForm.addEventListener("submit", function (event) {
            // event.preventDefault(); // 기본 폼 제출 동작을 막습니다.

            // 폼 제출 성공을 시뮬레이션합니다.
            // 실제 폼 제출 로직으로 대체할 수 있습니다.
            const isFormSubmittedSuccessfully = true;

            if (isFormSubmittedSuccessfully) {
                alert("성공적으로 작성되었습니다."); // 알림을 표시합니다.
            } else {
                alert("작성 실패했습니다. 다시 시도해 주세요.")
            }
        });
    });
</script>
</body>
</html>