<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/adminBoard.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/javaScript/event.js" type="text/javascript"></script>
    <title>Title</title>
</head>
<body>
<div th:replace="/admin/common/nav"></div>
<header>
    <h3>게시판 &gt <a href="/admin/board/adminNotice">공지사항</a></h3>
    <h3 id="login">로그인(로그아웃)</h3>
</header>

<div class="details">
    <table>
        <tr class="detail-name">
            <td ><p name="title" th:text="${ notice.title }"></p></td>
        </tr>
        <tr class="detail-date">
            <td><p th:text="${ notice.createdDate }"></p></td>
        </tr>
        <tr class="detail-body">
            <td><textarea name="body" cols="60" rows="15"
                          readonly th:text="${ notice.body }">
                                    </textarea></td>
        </tr>
    </table>
</div>
<div class="noticeDML">
    <button type="button" id="noticeList" th:onclick="'location.href=\'/admin/board/adminNotice\''">목록으로</button>
    <a th:href="@{/admin/board/update(no= ${ notice.no })}">수정</a>
    <!--        <button type="button" id="modifiedNotice" th:onclick="|location.href='/admin/board/adminNoticeUpdate?no=${notice.no}'|">수정하기</button>-->
    <a th:href="@{/admin/board/delete(id=${ notice.no })}">삭제</a>
    <!--        <button type="button" id="noticedelete" th:onclick="'location.href=\'/admin/board/delete?no=' + ${notice.no} + '\''">삭제하기</button>-->

</div>
<script>
    // textarea의 크기를 자동으로 조절하는 함수
    function adjustTextAreaHeight() {
        const textArea = document.querySelector(".detail-body textarea");
        textArea.style.height = "auto"; // 높이 초기화
        textArea.style.height = (textArea.scrollHeight) + "px"; // 스크롤 높이로 설정
    }

    // 페이지 로딩 후 textarea의 크기 조절 이벤트 설정
    window.addEventListener("load", adjustTextAreaHeight);
</script>
</body>
</html>