<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">-->
    <link href="/css/adminBoard.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
<div th:replace="/admin/common/nav"></div>
<header>
    <h3>게시판 &gt <a href="/admin/board/adminReview">후기 게시판</a></h3>
    <a href="/user/member/logout"><h3 id="login">로그아웃<img src="/images/sign-out.png" th:style="'margin-left : 10px'"></h3></a>
</header>

<div class="details">
    <table>
        <tr class="reviewDNo">
            <td>No.<span name="reviewNo" th:text="${ review.reviewNo }"/></td>
        </tr>
        <tr class="detail-name">
            <td ><span name="title" th:text="${ review.title }"></span></td>
        </tr>

            <tr class="reviewDee">
                <td>주문번호 : <span th:text="${ review.myOrders.code }"/></td>
                <td>별점 : <span th:text="${ review.rating }"/></td>
                <td>작성자 : <span th:text="${ review.writer.nickname }"/></td>
            </tr>

        <tr class="detail-date">
            <td><p th:text="${  #dates.format(review.createdDate, 'yyyy-MM-dd') }"></p></td>
        </tr>
        <tr class="detail-body">
            <td>
                <div class="reviewPhoto">
                    <img th:src="${review.attachment.thumbnail}" alt="게시글사진">
                </div>
                <textarea name="body" cols="60" rows="15"
                          readonly th:text="${ review.body }">
                                    </textarea></td>
        </tr>

    </table>
</div>
<div class="noticeDML">
    <button type="button" id="noticeList" th:onclick="'location.href=\'/admin/board/adminReview\''">목록으로</button>
    <a th:href="@{/admin/board/deleteReview(id=${ review.reviewNo })}">삭제</a>
</div>

</body>
</html>