<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/footerStyle.css" rel="stylesheet" type="text/css">

<footer>
    <div class="footer-wrapper">
        <div class="footer1">
            <h2>세탁해병대</h2>
            <small>ⓒ세탁해병대.</small><br>
            <small>Copyright All rights reserved.</small>
        </div>
        <div class="footer2">

            <a href="call"><h3 class="call">고객센터 <img src="/images/Vector%20113.svg"> </h3></a>
            <span class="number">1655-1234</span> <span class="number2">09:00-18:00</span>
            <p class="text">
                단체문의 : sehaehae@email.com<br>
                평일 : 전체 문의 상담 가능<br>
                주말,공휴일 : 세탁해병대 문의 상담 가능<br>
                1:1문의 : 24시간 접수 가능<br>
            </p>
            <div class="kakao">
                <a href="kakao.html">카톡 상담(평일 09:00 - 18:00)</a>
            </div>

        </div>
        <div >
            <ul class="footer-nav">
                <a href="company"><li>회사소개</li></a>
                <a href="hire"><li>채용정보</li></a>
                <a href="terms"><li>이용약관</li></a>
                <a href="personal"><li class="point">개인정보처리방침</li></a>
                <a href="business"><li class="point">사업자정보확인</li></a>
            </ul>
        </div>
        <div class="contact-item1">
            <h4>Connect with us</h4>
            <ul class="contact-item wrapper">
                <li><a href="youtube">
                    <img src="/images//Untitled (4).png" alt="youtube">
                </a></li>
                <li><a href="facebook">
                    <img src="/images/Untitled (3).png" alt="facebook">
                </a></li>
                <li><a href="instagram">
                    <img src="/images/Untitled (2).png" alt="instagram">
                </a></li>
                <li><a href="naver">
                    <img src="/images/Untitled (1).png" alt="naver">
                </a></li>
                <li><a href="kakaotalk">
                    <img src="/images/Untitled.png" alt="kakaotalk">
                </a></li>
            </ul>
        </div>
    </div>
</footer>