<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="/css/headerStyle.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>

<div id="main-top" class="main-set">
    <header class="page-header wrapper">
        <div class="logo-header">
            <a href="/">
                <img class="logo" src="/images/logo.png" alt="HOME">
            </a>
        </div>
        <th:block sec:authorize="isAnonymous()">
            <nav>
                <ul class="main-nav">
                    <li><a id="login" href="/user/member/login">로그인</a></li>
                    <li><a href="3_service.html">
                        <li>서비스</li></a>
                    <li><a href="/user/board/userReview">
                        <li>게시판</li></a>
                    <li><a href="/user/board/userNotice">
                        <li>고객센터</li></a>
                </ul>
            </nav>
            <div>
                <a href="/user/member/login">
                    <img class="mypage" src="/images/mypage.png"  alt="MYPAGE">
                </a>
            </div>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <nav>
                <ul class="main-nav">
<!--                    <li><a id="admin" href="/admin/member/memberList">관리자</a></li>-->
                    <li><a id="logout" href="/user/member/logout">로그아웃</a></li>
                    <li><a href="3_service.html">
                        <li>서비스</li></a>
                    <li><a href="/user/board/userReview">
                        <li>게시판</li></a>
                    <li><a href="/user/board/userNotice">
                        <li>고객센터</li></a>
                </ul>
            </nav>
            <div>
                <a href="/user/member/mypage">
                    <th:block th:if="${ #authentication.principal.profilePhoto == null}">
                        <img class="mypage" src="/images/smile.png" alt="MYPAGE">
                    </th:block>
                    <th:block th:if="${ #authentication.principal.profilePhoto != null}">
                        <img class="mypage" th:src="${#authentication.principal.profilePhoto}" alt="MYPAGE">
                    </th:block>
                </a>
            </div>
        </th:block>
    </header>
    <hr style="border-width:1px 0 0 0; border-style:solid; border-color:#bbb;">
</div>
