<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">-->
    <link href="/css/userBoard.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <title>공지사항</title>
</head>
<body>

<div th:replace="/user/common/header2.html"></div>

<div class="details">
    <table>
        <tr class="detail-name">
            <td ><p name="title" th:text="${ notice.title }"></p></td>
        </tr>
        <tr class="detail-date">
            <td><p th:text="${ notice.createdDate }"></p></td>
        </tr>
        <tr class="detail-body">
            <td><textarea name="body" cols="60" rows="15"
                          readonly th:text="${ notice.body }">
                                    </textarea></td>
        </tr>
    </table>
</div>

<div class="backlist">
    <button class="backlistbutton" type="button" th:onclick="'location.href=\'/user/board/userNotice\''">
        목록으로</button>
</div>

<div th:replace="/user/common/footer.html"></div>

</body>
</html>