<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/userBoardNotice.css" rel="stylesheet" type="text/css">
    <link href="/css/userMainHeader.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <title>고객센터</title>
</head>
<body>

    <div th:replace="/user/common/header.html"></div>


    <div class="notice-name"></div>
    <h3>고객 센터</h3>
    </div>

    <div class="notice-nav">
        <ul>
            <li class="notice"><a href="/user/board/userNotice">공지사항</a></li>
            <li><a href="#">자주하는 질문</a></li>
            <li><a href="#">문의하기</a></li>
        </ul>
    </div>

    <div class="notice-list">
        <table id="listArea">
            <tr class="notice-list-head">
                <th class="th1">NO</th>
                <th class="th2">제목</th>
                <th class="th3">첨부파일</th>
                <th class="th4">등록일</th>
            </tr>
            <tr>
                <td>1</td>
                <td>샘플</td>
                <td>📄</td>
                <td>2023-09-28</td>
            </tr>
            <tr>
                <td>2</td>
                <td>샘플</td>
                <td>📄</td>
                <td>2023-09-28</td>
            </tr>
            <tr>
                <td>3</td>
                <td>샘플</td>
                <td>📄</td>
                <td>2023-09-28</td>
            </tr>
<!--            <tr th:each="notice : ${ noticeList }" th:onclick="|location.href='notice/detail?no=${notice.no}'|">-->
<!--                <td th:text="${ notice.no }"></td>-->
<!--                <td th:text="${ notice.name }"></td>-->
<!--                <td th:text="${ notice.file }"></td>-->
<!--                <td th:text="${ notice.createdDate}"></td>-->
<!--            </tr>-->
        </table>
    </div>


<!--    <div id="paging" align="center" style="margin-top: 20px;">-->

<!--        <th:block-->
<!--                th:if="${ paging.searchCondition != null and paging.searchValue != null }">-->
<!--            &lt;!&ndash; 맨 앞으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>-->

<!--            &lt;!&ndash; 이전 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                    th:disabled="${ paging.page <= 1 }">&lt;</button>-->

<!--            &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--            <th:block-->
<!--                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">-->
<!--                <button-->
<!--                        th:onclick="'location.href=\'/board/list?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                        th:text="${ page }" th:disabled="${ paging.page eq page }">-->
<!--                </button>-->
<!--            </th:block>-->

<!--            &lt;!&ndash; 다음 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"-->
<!--                    th:disabled="${ paging.page >= paging.maxPage }">></button>-->

<!--            &lt;!&ndash; 맨 끝으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">>></button>-->

<!--        </th:block>-->

<!--        <th:block-->
<!--                th:if="${ paging.searchCondition == null  || paging.searchValue == null }">-->
<!--            &lt;!&ndash; 맨 앞으로 이동 &ndash;&gt;-->
<!--            <button th:onclick="'location.href=\'/board/list?page=1\''">&lt;&lt;</button>-->

<!--            &lt;!&ndash; 이전 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=' + @{${paging.page - 1}} + '\''"-->
<!--                    th:disabled="${ paging.page <= 1 }">&lt;</button>-->

<!--            &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--            <th:block-->
<!--                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">-->
<!--                <button-->
<!--                        th:onclick="'location.href=\'/board/list?page=' + @{${page}} + '\''"-->
<!--                        th:text="${ page }" th:disabled="${ paging.page eq page }">-->
<!--                </button>-->
<!--            </th:block>-->

<!--            &lt;!&ndash; 다음 페이지로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=' + @{${paging.page + 1}} + '\''"-->
<!--                    th:disabled="${ paging.page >= paging.maxPage }">></button>-->

<!--            &lt;!&ndash; 맨 끝으로 이동 &ndash;&gt;-->
<!--            <button-->
<!--                    th:onclick="'location.href=\'/board/list?page=' + @{${paging.maxPage}} + '\''">>></button>-->
<!--        </th:block>-->
<!--    </div>-->

<!--    <div align="center">-->
<!--        <form id="searchForm" action="/board/list" style="display: inline-block">-->
<!--            <select id="searchCondition" name="searchCondition">-->
<!--&lt;!&ndash;                <option value="category" th:selected="${ paging.searchCondition eq 'category'}">카테고리</option>&ndash;&gt;-->
<!--&lt;!&ndash;                <option value="writer" th:selected="${ paging.searchCondition eq 'writer'}">작성자</option>&ndash;&gt;-->
<!--                <option value="title" th:selected="${ paging.searchCondition eq 'title'}">제목</option>-->
<!--                <option value="content" th:selected="${ paging.searchCondition eq 'content'}">내용</option>-->
<!--            </select>-->
<!--            <input type="search" id="searchValue" name="searchValue" th:value="${ paging.searchValue }">-->
<!--            <button type="submit">검색하기</button>-->
<!--            <button type="button" id="writeBoard">작성하기</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div th:replace="/user/common/footer"></div>-->

</body>
</html>