<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/userBoardNotice.css" rel="stylesheet" type="text/css">
    <link href="/css/userMainHeader.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <title>공지사항</title>
</head>
<body>

    <div th:replace="/user/common/header.html"></div>

    <div class="details">
    <table>
        <tr class="detail-name">
            <td>공지사항 제목</td>
        </tr>
        <tr class="detail-date">
            <td>2023-09-30</td>
        </tr>
        <tr class="detail-body">
            <td>[컨트롤+마우스클릭]으로 "다시 생성 및 복사"가 가능합니다✖
                3
                슐알에쟈 어길지 몌닝줏지 엉하타아는 이곻홀츅 느잉알게, 안더꼬괴다 닌곤으로 다드으. 메파와 비탁암냉는 익홰니 혀바본은, 리길샀쟈가 헤인다 리뎔낭무로. 듰올이 게골묘란 지난기 너련을 아인자 이네와 렴연어 앤촤까으. 니걸에 히스긎자뇼룰어 추메던 사겨대인녁 리자뮤롈에, 아끄가 멀느우각아를 기이엠뭉일까 갠트잊자는데 오기믹이다. 사히서시냦에는 옌자나안억기로 호뇨를 가즈란철이다 간나갤 영훔에 측홒묄다. 튼붑던읭을 기하춘고 다사로 흑애요나 바여는.

                살괗어 구하조드상에자 반전 짜단퐌 웃아은힌다 궀사나. 히건톤온은 굴칵킬이 핌고가 터넝이잭이는 곤사의 이으라난읏의 귀즏. 탓뫼가차본닫과 구닌사는, 총돈크의 실이야탠잉이 냘를이 여은태차를 이토여를 뉠흐는, 순엥을. 간을 이거를, 임훤과 니셰로재늘고 유우다 생하여 웅안끈 카사오꽝곤 났셍니훅위. 탕사다 장으 돘쿠까군은 시븝잔가 호산한느아가 굉카다. 드즤자큰는 깅헝이아안고 기주핣즈오고 부띠떠악롸 혀자쯔사모즈몌가 맘과덩학은 야철레헐인 매마엉도. 터웄글의 앙악올거녁는 깅초저버를 오미극이라고 설밧밀의 이울샐탈슨 그완깠으니 생이쮤 히신개릉이 기거일손은 가릊. 키람 틈지뇰 긴으갱나아야 다자아 채악디깨를 새사으흑찬율은, 흰럴어 닷랙에 지느더으와.

                갈익먀아 자가이윙데는 어거멩직순다 하잰지 니감사뼌는 가닝디도 으체않산추뱦드와 졀럴을 몬동수가 퐈두둔는다. 얼쉬에게서 니옴햐히거의 믬딧시농선작에 눠걊기를 잔즐여보다 욶다으짔 개씨겨르다 불이 작어짛이 애듀수봐다. 오고너다가는 허히냐, 겨겨저를 팰즌던 수알오샐어 로레를 파깅타아. 흐낭옼다로 깅녀갈이며 지빨이라 도센어안습니다 느부시트 촛죡사다. 헐텔며 본기를, 비둔챤의 저동형리의, 죠너시다 가은도도. 각언제 몸그가 해강차송쥐요 뢰오덜드가 눙아돌누짒이 온민들죵켱더자 간으, 한탤은. 힉개잡시하가 딘나움가나 이오아어 자에산든성이라도 윌싼안큑에, 달벼재잉는 줌빈다고벤응게 루항거나 메저이를 으욘담러연 긴걸위츠듬으라. 오려믇을 근깨텬비딜이나 엔도심카궁과 테이의 벳스함은 쉰갭에 뒬사다군한에서 가뫄고의. 인사녁어 외알겐과 에브다 아좀럽니다 태으전좌릴컷에는 로믱 아에솝습니다, 컁기누는 룽촌이 앙더더재도 겨릈히를.
            </td>
        </tr>
    </table>
    </div>

    <div class="backlist">
        <button class="backlistbutton" type="button" th:onclick="'location.href=\'/user/board/userNotice\''">
            목록으로</button>
    </div>


</body>
</html>