<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/userBoard.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <script src="/javaScript/event.js" type="text/javascript"></script>
    <title>고객센터</title>
</head>
<body>

    <div th:replace="/user/common/header.html"></div>

<a href="regist">후기작성인가?</a>
    <div class="notice-name"></div>
        <h3>이용 후기</h3>
    <div id="thumbnailArea">
        <th:block th:each="review : ${ reviewList }">
            <div class="thumbnailButton" th:onclick="|location.href='/user/board/userReview/detail?no=${ rivew.no }'|">
                <div>
                    <th:block th:each="attachment : ${review.attachment}">
                        <img th:src="${ attachment.route }">
                    </th:block>
                </div>

            </div>
        </th:block>
    </div>



</body>
</html>