<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/styleD.css" rel="stylesheet" type="text/css">
    <title>서비스관리 | 쿠폰관리</title>
</head>
<body>
    <div th:replace="admin/common/nav.html"></div>
    <header><h3>qwer</h3><h3>asdf</h3></header>
    <div class="coupon_container">
        <div style="cursor: pointer" class="coupon" th:each="coupon : ${coupon}" th:onclick="couponModal([[${coupon}]])">
            <ul>
                <li style="font-size: 24px" th:text="${coupon.cpName}"></li>
                <li style="font-size: 15px" th:text="${#dates.format(coupon.cpSdate,'yyyy-MM-dd')}+' ~ '+${#dates.format(coupon.cpEdate,'yyyy-MM-dd')}"></li>
                <li style="font-size: 24px; color: #4B93FF; text-align: right" th:text="${coupon.cpRate} + '%'"></li>
            </ul>
        </div>
        <div style="cursor: pointer" class="coupon openModal2" id="newCoupon">
            <h1>+</h1>
        </div>
    </div>

    <div class="modal update">
        <div class="modalBody">
            <h1>쿠폰수정</h1>
            <div>
                <form id="couponUpdate" action="/coupon/update" method="post">
                    <table style="width: 1200px; margin: 0">
                        <input type="hidden" name="cpCode" id="cpCode" value="">
                        <tr>
                            <td>쿠폰명</td>
                            <td colspan="3"><input type="text" name="cpName" id="cpName"></td>
                        </tr>
                        <tr>
                            <td>기간</td>
                            <td>시작일<input type="Date" name="cpSdate" id="cpSdate"> ~ 종료일<input type="Date" name="cpEdate" id="cpEdate"></td>
                        </tr>
                        <tr>
                            <td>할인율</td>
                            <td><input type="number" name="cpRate" id="cpRate">%</td>
                        </tr>
                    </table>
                    <br>
                    <div align="center">
                        <button type="button" th:onclick="'location.href=\'/coupon/list\''">
                            닫기</button>
                        <button type="submit">수정</button>
                        <button type="button">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal insert">
        <div class="modalBody">
            <h1>쿠폰생성</h1>
            <div>
                <form id="couponInsert" action="/coupon/insert" method="post">
                    <table style="width: 1200px; margin: 0">
                        <tr>
                            <td>쿠폰명</td>
                            <td colspan="3"><input type="text" name="cpName" ></td>
                        </tr>
                        <tr>
                            <td>기간</td>
                            <td>시작일<input type="date" name="cpSdate"> ~ 종료일<input type="date" name="cpEdate"></td>
                        </tr>
                        <tr>
                            <td>할인율</td>
                            <td><input type="number" name="cpRate">%</td>
                        </tr>
                    </table>
                    <br>
                    <div align="center">
                        <button type="button" th:onclick="'location.href=\'/coupon/list\''">
                            닫기</button>
                        <button type="submit">생성</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script>
    function couponModal(e){
        const update = document.querySelector('.update')
        update.style.display="flex"
        document.getElementById("cpCode").value=e.cpCode
        document.getElementById("cpName").value=e.cpName
        document.getElementById("cpSdate").value=e.cpSdate
        document.getElementById("cpEdate").value=e.cpEdate
        document.getElementById("cpRate").value=e.cpRate


    }

    const insert = document.querySelector('.insert');

    const openModal2 = document.querySelector('.openModal2');
    openModal2.addEventListener("click",()=>{
        insert.style.display="flex";
    })
</script>
</body>
</html>