<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="admin/common/nav.html"></div>
    <div class="coupon_container">
        <div class="coupon">
            <h3>쿠폰명</h3>
            <h3>사용기간</h3>
            <h3>할인율</h3>
        </div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
        <div class="coupon"></div>
    </div>
</body>
</html>