<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="admin/common/nav.html"></div>
    <div class="coupon_container">
        <div class="coupon">
                <h3 th:text="${coupon.cpName}"></h3>
                <h5 th:text="${#dates.format(coupon.cpSdate,'yyyy-MM-dd')}+' ~ '+${#dates.format(coupon.cpEdate,'yyyy-MM-dd')}"></h5>
                <h3 style="color: #4B93FF; text-align: right" th:text="${coupon.cpRate} + '%'"></h3>
        </div>
        <div>

        </div>
    </div>
</body>
</html>