<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/styleD.css" rel="stylesheet" type="text/css">
    <title>서비스관리 | 쿠폰관리</title>
</head>
<body>
    <div th:replace="admin/common/nav.html"></div>
    <header><h3>서비스관리 &gt 쿠폰관리</h3><h3>로그인(로그아웃)</h3></header>

    <div class="coupon_container" id="main-coupon-container">
        <div class="coupon" th:each="coupon : ${coupon}" th:onclick="couponModal([[${coupon}]])">
            <ul>
                <li style="font-size: 24px" th:text="${coupon.cpName}"></li>
                <li style="font-size: 15px" th:text="${#dates.format(coupon.cpSdate,'yyyy-MM-dd')}+' ~ '+${#dates.format(coupon.cpEdate,'yyyy-MM-dd')}"></li>
                <li style="font-size: 24px; color: #4B93FF; text-align: right" th:text="${coupon.cpRate} + '%'"></li>
            </ul>
        </div>

        <div class="coupon openModal2" id="newCoupon">
            <h3 style="font-size: 40px">+</h3>
        </div>
    </div>

    <div class="modal update">
        <div class="modalBody">
            <h1>쿠폰수정</h1>
            <div>
                <form id="couponUpdate" role="form" action="/coupon/update" method="post">
                    <ul style="width: 690px; line-height: 3;margin: 0">
                        <input type="hidden" name="cpCode" id="cpCode" value="">
                        <li>
                            <h3>쿠폰명</h3>
                            <input type="text" name="cpName" id="cpName">
                        </li>
                        <li>
                            <h3>시작일</h3>
                            <input type="Date" name="cpSdate" id="cpSdate">
                        </li>
                        <li>
                            <h3>종료일</h3>
                            <input type="Date" name="cpEdate" id="cpEdate">
                        </li>
                        <li>
                            <h3>할인율(%)</h3>
                            <input type="number" name="cpRate" id="cpRate">
                        </li>
                    </ul>
                    <br>
                    <div class="button-zone">
                        <button class="buttonD button-cancel" type="button" th:onclick="'location.href=\'/coupon/list\''">
                            취소</button>
                        <div>
                        <button class="buttonD" type="submit">수정</button>
                        <button class="buttonD" id="button-delete" formaction="/coupon/remove">삭제</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal insert">
        <div class="modalBody">
            <h1>쿠폰생성</h1>
            <div>
                <form id="couponInsert" action="/coupon/insert" method="post">
                    <ul style="width: 690px; line-height: 3; margin: 0">
                        <li>
                            <h3>쿠폰명</h3>
                            <input type="text" name="cpName" >
                        </li>
                        <li>
                            <h3>시작일</h3>
                            <input type="Date" name="cpSdate">
                        </li>
                        <li>
                            <h3>종료일</h3>
                            <input type="Date" name="cpEdate">
                        </li>
                        <li>
                            <h3>할인율(%)</h3>
                            <input type="number" name="cpRate">
                        </li>
                    </ul>
                    <br>
                    <div class="button-zone">
                        <button class="buttonD button-cancel" type="button" th:onclick="'location.href=\'/coupon/list\''">
                            취소</button>
                        <button class="buttonD" type="submit" id="createCoup">생성</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script>
    function couponModal(e){
        const update = document.querySelector('.update')
        update.style.display="flex"
        document.getElementById("cpCode").value=e.cpCode
        document.getElementById("cpName").value=e.cpName
        document.getElementById("cpSdate").value=e.cpSdate
        document.getElementById("cpEdate").value=e.cpEdate
        document.getElementById("cpRate").value=e.cpRate

    }

    const insert = document.querySelector('.insert');

    const openModal2 = document.querySelector('.openModal2');
    openModal2.addEventListener("click",()=>{
        insert.style.display="flex";
    })





</script>
</body>
</html>